﻿div(class="modal hide fade" id="channelAdminPermissionModal")
    div(class="modal-dialog" style="width:400px")
        div(class="modal-content")
            div(class="modal-header")
                a(class="modal-close btCloseModal")
                    span(class="fa fa-power-off")
                h4(class="modal-title") Manage permissions
            div(class="modal-body" style="min-height:420px")
                ul(class="item-list")
                    li(class="member" style="")
                        div(class="avatar-wrapper") 
                            img(id="channelPermissionMemberAvatar" width="50" height="50" class="circle avatar-chat")
                        div 
                            div(class="item-name" id="channelPermissionMemberName")
                            div(class="author-info" id="channelPermissionMemberRole")      
                div(class="top-line pt10 mt10")
                    div(class="sub-heading mt10") What this admin can do
                    div 
                        div(class="mt10 channelPer groupPer per")
                            span(class="m-switch m-switch--outline m-switch--icon m-switch--success")
                                label
                                    input(id="cpChangeInfo" type="checkbox" checked="checked" name="")
                                    span 
                            label(class="m-switch-label" for="cpChangeInfo") Change channel info
                        div(class="channelPer per")
                            span(class="m-switch m-switch--outline m-switch--icon m-switch--success")
                                label
                                    input(id="cpPostMessage" type="checkbox" checked="checked" name="")
                                    span 
                            label(class="m-switch-label" for="cpPostMessage") Post message                       
                        div(class="hide")
                            span(class="m-switch m-switch--outline m-switch--icon m-switch--success")
                                label
                                    input(id="cpEditMessageOfOthers" type="checkbox" name="")
                                    span 
                            label(class="m-switch-label" for="cpEditMessageOfOthers") Edit message of others
                        div(class="hide")
                            span(class="m-switch m-switch--outline m-switch--icon m-switch--success")
                                label
                                    input(id="cpDeleteMessageOfOthers" type="checkbox" name="")
                                    span 
                            label(class="m-switch-label" for="cpDeleteMessageOfOthers") Delete message of others
                        div(class="channelPer groupPer per")
                            span(class="m-switch m-switch--outline m-switch--icon m-switch--success")
                                label
                                    input(id="cpAddUsers" type="checkbox" checked="checked" name="")
                                    span 
                            label(class="m-switch-label" for="cpAddUsers") Add users
                        div(class="channelPer groupPer per")
                            span(class="m-switch m-switch--outline m-switch--icon m-switch--success")
                                label
                                    input(id="cpAddNewAdmins" type="checkbox" name="")
                                    span 
                            label(class="m-switch-label" for="cpAddNewAdmins") Add new admins
            div(class="modal-footer clearfix")                                       
                a(class="btn btn-radius right" id="btCloseChannelAdminPermission") Đóng
                a(class="btn btn-radius right mr10" id="btSaveChannelAdminPermission") Lưu