﻿div(class="modal hide fade" id="channelBanUserModal")
    div(class="modal-dialog" style="width:400px")
        div(class="modal-content")
            div(class="modal-header")
                a(class="modal-close btCloseModal")
                    span(class="fa fa-power-off")
                h4(class="modal-title") Banned users 
            div(class="modal-body" style="min-height:420px")
                div(id="divBanChannelUserList" class="scroll-content")
                    ul(class="item-list")
            div(class="modal-footer clearfix")
                a(class="btn btn-radius" id="btBanChannelUserModal") Ban user
                a(class="btn btn-radius right" id="btCloseBanChannelUser") Đóng