﻿div(class="modal hide fade" id="channelAddBanModal")
    div(class="modal-dialog" style="width:400px")
        div(class="modal-content")
            div(class="modal-header")
                a(class="modal-close btCloseModal")
                    span(class="fa fa-power-off")
                h4(class="modal-title") Ban user
            div(class="modal-body" style="min-height:420px")
                 div(id="divChannelAddBanList" class="scroll-content")
                    ul(class="item-list")
            div(class="modal-footer clearfix")                
                a(class="btn btn-radius right" id="btCloseChannelAddBan") Đóng