﻿div(class="modal hide fade" id="channelAdministratorModal")
    div(class="modal-dialog" style="width:400px")
        div(class="modal-content")
            div(class="modal-header")
                a(class="modal-close btCloseModal")
                    span(class="fa fa-power-off")
                h4(class="modal-title") Administrator 
            div(class="modal-body" style="min-height:420px")
                div(id="divChannelAdminList" class="scroll-content")
                    ul(class="item-list")
            div(class="modal-footer clearfix")
                a(class="btn btn-radius" id="btAddChannelAdminModal") Thêm Admin
                a(class="btn btn-radius right" id="btCloseChannelAdminList") Đóng