﻿div(class="modal hide fade" id="createChannelModal")
    div(class="modal-dialog" style="width:470px")
        div(class="modal-content")
            div(class="modal-header")
                a(class="modal-close btCloseModal")
                    span(class="fa fa-power-off")
                h4(class="modal-title") Tạo Channel 
            div(class="modal-body" style="min-height:420px")
                div(class="input-group")
                    label Tên Channel
                    input(type="text" id='tbCreateChannelName')
                    span(class="slide-label")
                div(class="input-group")
                    label Mô tả (tuỳ chọn)
                    input(type="text" id='tbCreateChannelDescription')
                    span(class="slide-label")
                div(class="")
                    p(class="radio radio-success")
                        input(type="radio" id="ckCreateChannelPublicChannel" name="channel-type" checked="")
                        label(for="ckCreateChannelPublicChannel") Public Channel
                            br 
                            small Mọi người đều có thể tìm và tham gia
                    p(class="radio radio-success")
                        input(type="radio" id="ckCreateChannelPrivateChannel" name="channel-type")
                        label(for="ckCreateChannelPrivateChannel") Private Channel
                            br 
                            small Chỉ có người có link mời mới tham gia được
                div(id="createChannelPublicLinkWrapper" class="input-group")
                    label Link
                    input(type="text" id="tbCreateChannelPublicLink")
                    span(class="slide-label")
                div(id="createChannelPrivateLinkWrapper" class="hide")
                    label Invite Link
                    div
                        a(class="link" id="createChannelPrivateJoinLink" href="" target="_blank") 
                div(class="mt20")
                    div(class="checkbox checkbox-success")
                        input(id="ckCreateChannelSignMessage" type="checkbox" checked)
                        label( for="ckCreateChannelSignMessage") Hiển thị tên người gửi trong channel                            
            div(class="modal-footer clearfix")                                    
                a(id="btCreateChannel" class="btn btn-primary btn-radius right") Tạo
                a(id="btCancelCreateChannel" class="btn btn-radius right mr10") Đóng