﻿div(class="modal hide fade" id="updateChannelModal")
    div(class="modal-dialog" style="width:470px")
        div(class="modal-content")
            div(class="modal-header")
                a(class="modal-close btCloseModal")
                    span(class="fa fa-power-off")
                h4(class="modal-title") Thông tin Channel 
            div(class="modal-body" style="min-height:420px")
                div(class="input-group")
                    label Tên Channel
                    input(type="text" id='tbUpdateChannelName')
                    span(class="slide-label")
                div(class="input-group")
                    label Mô tả (tuỳ chọn)
                    input(type="text" id='tbUpdateChannelDescription')
                    span(class="slide-label")
                div(class="")
                    p(class="radio radio-success")
                        input(type="radio" id="ckUpdateChannelPublicChannel" name="channel-type" checked)
                        label(for="ckUpdateChannelPublicChannel") Public Channel
                            br 
                            small Mọi người đều có thể tìm và tham gia
                    p(class="radio radio-success")
                        input(type="radio" id="ckUpdateChannelPrivateChannel" name="channel-type")
                        label(for="ckUpdateChannelPrivateChannel") Private Channel
                            br 
                            small Chỉ có người có link mời mới tham gia được
                div(id="updateChannelPublicLinkWrapper" class="input-group")
                    label Link
                    input(type="text" id="tbUpdateChannelPublicLink")
                    span(class="slide-label")
                div(id="updateChannelPrivateLinkWrapper" class="hide")
                    label Invite Link
                    div                         
                        a(class="link" id="updateChannelPrivateJoinLink" href="" target="_blank") 
                        br
                        a(class="" id="btRevokeUpdateChannelLink" href="javascript:;") 
                            span(class="fa fa-unlink") 
                            span Revoke invite link
                div(class="mt20")
                    div(class="checkbox checkbox-success")
                        input(id="ckUpdateChannelSignMessage" type="checkbox" checked)
                        label( for="ckUpdateChannelSignMessage") Hiển thị tên người gửi trong channel                            
            div(class="modal-footer clearfix")                    
                a(id="btUpdateChannel" class="btn btn-primary btn-radius right") Lưu
                a(id="btCancelUpdateChannel" class="btn btn-radius mr10 right") Đóng