﻿extends ../layoutLogin
block content
    #m_login.m-grid__item.m-grid__item--fluid.m-grid.m-grid--hor.m-login.m-login--signin.m-login--2.m-login-2--skin-2
        .m-grid__item.m-grid__item--fluid.m-login__wrapper
            .m-login__container
                .m-login__logo
                    a(href='#')
                        img(src='../images/logo-01.png')
                .m-login__signin
                    .m-login__head
                        .m-login__desc
                            img.m--img-rounded(style="height:60px;width:60px;object-fit:cover;border:3px solid #62ab65")
                            div.m--regular-font-size-lg4.m--margin-top-5(style="color:black;")
                        h3.m-login__title.m--margin-top-20
                    .m-login__account
                        a.m-link.m-link--light.m-login__account-link(href='/login')
                            | Quay lại
    script.
        var result = !{JSON.stringify(result)};
        $('h3.m-login__title').html(result.error);
        
        localforage.getItem('user', function(err, user) {
        
            if(user) {
                phone = user.phone;
                var avatar = '/images/noavatar.jpg';
                if(user.avatar) {
                    avatar = user.avatar;
                }
                $('.m-login__desc div').html(user.phone);
                $('.m-login__desc img').prop('src', avatar);
            }
        });