﻿extends ../layoutLogin
block content
    script.
        var user = !{JSON.stringify(user)};
        Cookies.set('_tn', user.token);
        Cookies.set('_u', user._id);
        localforage.setItem('user', user, function (err) {
            window.location.href = '/';
        });
        