﻿extends ../layoutLogin
block content
    #m_login.m-grid__item.m-grid__item--fluid.m-grid.m-grid--hor.m-login.m-login--signin.m-login--2.m-login-2--skin-2
        .m-grid__item.m-grid__item--fluid.m-login__wrapper
            .m-login__container
                .m-login__logo
                    a(href='#')
                        img(src='../images/logo-01.png')
                .m-login__signin
                    .m-login__head
                        .m-login__desc
                            img.m--img-rounded(style="height:60px;width:60px;object-fit:cover;border:3px solid #62ab65")
                            div.m--regular-font-size-lg4.m--margin-top-5(style="color:black;")
                    .m-login__account
                        a.m-link.m-link--light.m-login__account-link(href='/login')
                            | Không phải bạn? Đổi số điện thoại khác
                    form.m-login__form.m-form(action='')
                        .form-group.m-form__group
                            input.form-control.m-input(type='password', placeholder='Nhập mật khẩu', name='password', autocomplete='off')                                
                        .m-login__form-action
                            button#m_login_confirm_pass.btn.btn-success.m-btn.m-btn--pill.m-btn--custom.m-btn--air.m-login__btn.m-login__btn--primary
                                | Xác nhận
                .m-login__account
                            a#m_login_password.m-link.m-link--light.m-login__account-link(href='javascript:;' onclick="loginAccountKit()")
                                | Hoặc Nhận mật khẩu qua tin nhắn SMS
    script(src="/javascripts/login.js" type="text/javascript")
    script(src="https://sdk.accountkit.com/vi_VN/sdk.js")
    script.
        var phone;
        var token = '!{token}';
        localforage.getItem('user', function(err, user) {
            console.log(user);
            if(user) {
                phone = user.phone;
                var avatar = '/images/noavatar.jpg';
                if(user.avatar) {
                    avatar = user.avatar;
                }
                $('.m-login__desc div').html(user.phone);
                $('.m-login__desc img').prop('src', avatar);
            }
        });
    script.
        AccountKit_OnInteractive = function(){
            AccountKit.init(
                {
                    debug: true,
                    appId: "359113728215314",
                    state: token,
                    version:"v1.0",
                    fbAppEventsEnabled:true,
                    redirect:"https://localhost:3003/login/fba",
                }
            );
        };
        function loginAccountKit() {
            AccountKit.login(
                'PHONE',
                    {
                        phoneNumber: phone
                    },
                    function(response){
                            if (response.status === "PARTIALLY_AUTHENTICATED") {
                                var code = response.code;
                                var csrf = response.state;
                                window.location.href = 'https://localhost:3003/login/fba?code=' + code + "&csrf=" + csrf;
                            }
                            else if (response.status === "NOT_AUTHENTICATED") {
                                SnippetLogin.showErrorMsg($('form.m-login__form'), 'danger', 'Đăng nhập đã bị huỷ.');
                            }
                            else if (response.status === "BAD_PARAMS") {
                                SnippetLogin.showErrorMsg($('form.m-login__form'), 'danger', 'Đăng nhập không thành công.');
                            }
                        }
                    );
        }