﻿extends ../layoutLogin
block content
    #m_register_success.m-grid__item.m-grid__item--fluid.m-grid.m-grid--hor.m-login.m-login--signin.m-login--2.m-login-2--skin-2
        .m-grid__item.m-grid__item--fluid.m-login__wrapper
            .m-login__container
                .m-login__logo
                    a(href='#')
                        img(src='../images/logo-01.png')
                .m-login__signup(style="display:block")
                    .m-login__head
                        h3.m-login__title
                            | Chúc mừng bạn đã tạo tài khoản thành công trên ChatNhanh
                        .m-login__desc
                            | Nhập thông tin của bạn để để hoàn tất việc đăng kí:
                    form.m-login__form.m-form(action='')
                                .form-group.m-form__group
                                    input.form-control.m-input(type='text', placeholder='Họ tên', name='fullname')
                                .form-group.m-form__group
                                    input.form-control.m-input(type='text', placeholder='Email', name='email', autocomplete='off')
                                .form-group.m-form__group
                                    input.form-control.m-input(type='password', placeholder='Mật khẩu', name='password')
                                .form-group.m-form__group
                                    input.form-control.m-input.m-login__form-input--last(type='password', placeholder='Xác nhận Mật khẩu', name='rpassword')
                                .row.form-group.m-form__group.m-login__form-sub
                                    .col.m--align-left
                                        label.m-checkbox.m-checkbox--success
                                            input(type='checkbox', name='agree')
                                            | Tôi đồng ý với  
                                            a.m-link.m-link--success(href='#')
                                                | điều khoản sử dụng
                                            |.
                                            span
                                        span.m-form__help
                                .m-login__form-action
                                    button#m_login_signup_submit.btn.btn-success.m-btn.m-btn--pill.m-btn--custom.m-btn--air.m-login__btn
                                        | Đăng kí
    script(src="/javascripts/login.js" type="text/javascript")
