﻿div(class="modal hide fade" id="addConctactModal")
    div(class="modal-dialog" style="width:470px")
        div(class="modal-content")
            div(class="modal-header")
                a(class="modal-close btCloseModal")
                    span(class="fa fa-power-off")
                h4(class="modal-title") Thêm contacts <span id="inviteChatRoomName"></span>
            div(class="modal-body" style="height:470px")
                div(id="divMemberInviteInput" class="input-group auto-height")
                    select(type="text" id="tbAddContactInput" multiple="multiple" class="form-input form-control" style="width:100%")
             div(class="modal-footer clearfix")               
                a(class="btn btn-primary btn-radius right" id="btSaveAddContact" ) Mời           
                a(class="btn btn-primary btn-radius right mr10" id="btCloseAddContact" ) Đóng
