﻿div(class="modal hide fade" id="conctactListModal")
    div(class="modal-dialog" style="width:470px")
        div(class="modal-content")
            div(class="modal-header")
                a(class="modal-close btCloseModal")
                    span(class="fa fa-power-off")
                h4(class="modal-title") Contacts
            div(class="modal-body extend-pane" style="min-height:450px")
                div(class="pane-content")
                    div(class="search-pane")
                        input(id="tbSearchContact" type="text" placeholder="Nhập để tìm ..." class="")
                        i(class="fa fa-search search-label")
                        i(class="fa fa-remove btClear" id="btClearSearchContact")
                    div(id="divContactList" class="scroll-content" style="height:400px")
                        ul(class="item-list")
            div(class="modal-footer clearfix")       
                a(id="btAddContact" class="btn btn-primary btn-radius") Thêm contact
                a(id="btCloseContactList" class="btn btn-radius right") Đóng
                  