﻿doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title

    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src="//code.jquery.com/jquery-1.11.2.min.js")
    script(src="/socket.io/socket.io.js")
  body
    block content

    block scripts