﻿/*@font-face {
    font-family: myFirstFont;
    src: url(emojione-svg.woff);
}*/
.emoji-wrapper {
    width: 320px;    
    position:absolute;
    bottom:50px;
    right:0;
    display:none;
    background-color:white;
    z-index:100;
    border-radius:5px;
}
ul.emoji-tabs {
    width: 320px;    
}

    ul.emoji-tabs > li {
        display: inline-block;
        border: 1px solid #E3E3E3;
        border-bottom: none;
        border-collapse:collapse;
        font-size:22px;
        text-align:center;
        height:35px;
        width:40px;
        line-height:30px;
        cursor:pointer;
    }

    ul.emoji-tabs li + li {
        border-left: none;
    }

    ul.emoji-tabs > li.selected {
        background-color:rgba(0,0,0,0.2);
    }

ul.emoji-tab-content {
    width: 320px;      
    border: 1px solid #E3E3E3; 
}
ul.emoji-tab-content > li {
    display:none;
}
ul.emoji-tab-content > li.selected {
    display:block;
}

ul.emoji-list {
    width: 320px;
    padding:8px 10px;
    height:300px;
    overflow:auto;
}

    ul.emoji-list li {
        display: inline-block;
        width: 35px;
        text-align:center;
        margin-bottom:7px;
    }

        ul.emoji-list li a {
            text-decoration: none;
            cursor:pointer;
        }

.emoji {
    font-family: "myFirstFont", "Apple Color Emoji","Segoe UI Emoji","NotoColorEmoji","Segoe UI Symbol","Android Emoji","EmojiSymbols";
    font-size: 18px;
}
.emojis__list--emojione .emojis__list__native {
    display:none;
}