a.link {
    color: #5cb85c;
}
.text-center{
    text-align:center;
}
.input-group {
    position: relative;
    height: 65px;
    overflow: hidden;
}
.text-mute{
    color:#777;
}
.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mb10 {
    margin-bottom:10px;
}
.ml10 {
    margin-left:10px;
}
.pt10 {
    padding-top:10px;
}

.input-group label {
    pointer-events: none;
    position: absolute;
    top: 20px;
    font-size: 16px;
    margin: 5px;
    background-color: white;
    -webkit-transition: top .2s ease-in-out, font-size .2s ease-in-out;
    transition: top .2s ease-in-out, font-size .2s ease-in-out;
}

.bold {
    font-weight: 600;
}

label small {
    font-weight: normal;
}

label {
    font-size: 16px;
    color: #555;
}

input + label {
    user-select: none;
    cursor: pointer;
}

.input-group label.active {
    top: 0;
}

.input-group label.focus {
    color: #5cb85c;
}

.input-group label.error {
    color: #ec5e5e !important;
}

.input-group input[type=text] {
    border: 0;
    padding: 15px 10px 5px;
    width: 100%;
}
.input-group input[type=datetime-local] {
    border: 0;
    padding: 15px 10px 5px;
    width: 100%;
}    

    .slide-label {
        pointer-events: none;
    }

    .slide-label::after, .slide-label::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 10px);
        border-bottom: 1px solid #B9C1CA;
    }

    .slide-label::after {
        margin-top: 2px;
        border-bottom: 3px solid #5cb85c;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        -webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
    }

.input-group input[type=text]:focus + .slide-label::after {
    transform: translate3d(0, 0, 0);
}

.input-group input[type=text].error + .slide-label::after {
    transform: translate3d(0, 0, 0);
    border-bottom: 3px solid #ec5e5e;
}

.button-bar {
    padding: 30px 10px 20px;
    text-align: right;
}

.btn-radius {
    border-radius: 4px;
}
.btn-group {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
}
    .btn-group > .btn:not(:last-child):not(.dropdown-toggle), .btn-group > .btn-group:not(:last-child) > .btn {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .btn-group > .btn:first-child {
        margin-left: 0;
    }

.btn-outline-success {
    color: #34bfa3;
    background-color: transparent;
    background-image: none;
    border-color: #34bfa3;
}
    .btn-outline-success.active {
        background-color: #34bfa3;
        color:white;
    }
    .btn-outline-warning {
        color: #ffb822;
        background-color: transparent;
        background-image: none;
        border-color: #ffb822;
    }
        .btn-outline-warning.active {
            background-color: #ffb822;
            color: white;
        }
        .btn-outline-danger {
            color: #f12143;
            background-color: transparent;
            background-image: none;
            border-color: #f12143;
        }
            .btn-outline-danger.active {
                background-color: #f12143;
                color: white;
            }

            .btn-group > .btn, .btn-group-vertical > .btn {
                position: relative;
                -webkit-box-flex: 0;
                -ms-flex: 0 1 auto;
                flex: 0 1 auto;
            }

.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
}

    .checkbox label::before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 17px;
        height: 17px;
        left: 0;
        margin-left: -20px;
        border: 1px solid #cccccc;
        border-radius: 3px;
        background-color: #fff;
        -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
        -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
        transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    }

    .checkbox label::after {
        display: inline-block;
        position: absolute;
        width: 16px;
        height: 16px;
        left: 0;
        top: 0;
        margin-left: -20px;
        padding-left: 3px;
        padding-top: 1px;
        font-size: 11px;
        color: #555555;
    }

.checkbox input[type="checkbox"] {
    opacity: 0;
}

    .checkbox input[type="checkbox"]:focus + label::before {
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }

    .checkbox input[type="checkbox"]:checked + label::after {
        font-family: 'FontAwesome';
        content: "\f00c";
    }

    .checkbox input[type="checkbox"]:disabled + label {
        opacity: 0.65;
    }

        .checkbox input[type="checkbox"]:disabled + label::before {
            background-color: #eeeeee;
            cursor: not-allowed;
        }

.checkbox.checkbox-circle label::before {
    border-radius: 50%;
}

.checkbox.checkbox-inline {
    margin-top: 0;
}

.checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #428bca;
    border-color: #428bca;
}

.checkbox-primary input[type="checkbox"]:checked + label::after {
    color: #fff;
}

.checkbox-danger input[type="checkbox"]:checked + label::before {
    background-color: #d9534f;
    border-color: #d9534f;
}

.checkbox-danger input[type="checkbox"]:checked + label::after {
    color: #fff;
}

.checkbox label::after, .checkbox label::before {
    pointer-events: none;
}

.checkbox-info input[type="checkbox"]:checked + label::before {
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.checkbox-info input[type="checkbox"]:checked + label::after {
    color: #fff;
}

.checkbox-warning input[type="checkbox"]:checked + label::before {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.checkbox-warning input[type="checkbox"]:checked + label::after {
    color: #fff;
}

.checkbox-success input[type="checkbox"]:checked + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.checkbox-success input[type="checkbox"]:checked + label::after {
    color: #fff;
}


.radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
}

    .radio label::before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 17px;
        height: 17px;
        left: 0;
        margin-left: -20px;
        border: 1px solid #cccccc;
        border-radius: 50%;
        background-color: #fff;
        -webkit-transition: border 0.15s ease-in-out;
        -o-transition: border 0.15s ease-in-out;
        transition: border 0.15s ease-in-out;
    }

    .radio label::after {
        display: inline-block;
        position: absolute;
        content: " ";
        width: 11px;
        height: 11px;
        left: 3px;
        top: 3px;
        margin-left: -20px;
        border-radius: 50%;
        background-color: #555555;
        -webkit-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
        -o-transform: scale(0, 0);
        transform: scale(0, 0);
        -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
        -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
        -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
        transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    }

.radio input[type="radio"] {
    opacity: 0;
}

    .radio input[type="radio"]:focus + label::before {
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }

    .radio input[type="radio"]:checked + label::after {
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }

    .radio input[type="radio"]:disabled + label {
        opacity: 0.65;
    }

        .radio input[type="radio"]:disabled + label::before {
            cursor: not-allowed;
        }

.radio.radio-inline {
    margin-top: 0;
}

.radio-primary input[type="radio"] + label::after {
    background-color: #428bca;
}

.radio-primary input[type="radio"]:checked + label::before {
    border-color: #428bca;
}

.radio-primary input[type="radio"]:checked + label::after {
    background-color: #428bca;
}

.radio-danger input[type="radio"] + label::after {
    background-color: #d9534f;
}

.radio-danger input[type="radio"]:checked + label::before {
    border-color: #d9534f;
}

.radio-danger input[type="radio"]:checked + label::after {
    background-color: #d9534f;
}

.radio-info input[type="radio"] + label::after {
    background-color: #5bc0de;
}

.radio-info input[type="radio"]:checked + label::before {
    border-color: #5bc0de;
}

.radio-info input[type="radio"]:checked + label::after {
    background-color: #5bc0de;
}

.radio-warning input[type="radio"] + label::after {
    background-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked + label::before {
    border-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked + label::after {
    background-color: #f0ad4e;
}

.radio-success input[type="radio"] + label::after {
    background-color: #5cb85c;
}

.radio-success input[type="radio"]:checked + label::before {
    border-color: #5cb85c;
}

.radio-success input[type="radio"]:checked + label::after {
    background-color: #5cb85c;
}

.m-switch {
    display: inline-block;
    font-size: 1rem;
}

    .m-switch input:empty {
        margin-left: -999px;
        height: 0;
        width: 0;
        overflow: hidden;
        position: absolute;
        opacity: 0;
        filter: alpha(opacity=0);
    }

        .m-switch input:empty ~ span {
            display: inline-block;
            position: relative;
            float: left;
            width: 1px;
            text-indent: 0;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

            .m-switch input:empty ~ span:before,
            .m-switch input:empty ~ span:after {
                position: absolute;
                display: block;
                top: 0;
                bottom: 0;
                left: 0;
                content: ' ';
                -webkit-transition: all 100ms ease-in;
                transition: all 100ms ease-in;
            }

    .m-switch.m-switch--icon input:empty ~ span:after {
        font-family: "LineAwesome";
        text-decoration: inherit;
        text-rendering: optimizeLegibility;
        text-transform: none;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-smoothing: antialiased;
        content: "\f191";
    }

    .m-switch.m-switch--icon input:checked ~ span:after {
        content: '\f17b';
    }

    .m-switch.m-switch--icon-check input:checked ~ span:after {
        font-family: "LineAwesome";
        text-decoration: inherit;
        text-rendering: optimizeLegibility;
        text-transform: none;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-smoothing: antialiased;
        content: "?";
    }

    .m-switch input:empty ~ span {
        line-height: 30px;
        margin: 2px 0;
        height: 30px;
        width: 57px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        border-radius: 15px;
    }

        .m-switch input:empty ~ span:before,
        .m-switch input:empty ~ span:after {
            width: 54px;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            -ms-border-radius: 15px;
            -o-border-radius: 15px;
            border-radius: 15px;
        }

        .m-switch input:empty ~ span:after {
            height: 24px;
            width: 24px;
            line-height: 26px;
            top: 3px;
            bottom: 3px;
            margin-left: 3px;
            font-size: 0.9em;
            text-align: center;
            vertical-align: middle;
        }

    .m-switch input:checked ~ span:after {
        margin-left: 26px;
    }

    .m-switch.m-switch--lg input:empty ~ span {
        line-height: 40px;
        margin: 2px 0;
        height: 40px;
        width: 75px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        border-radius: 20px;
    }

        .m-switch.m-switch--lg input:empty ~ span:before,
        .m-switch.m-switch--lg input:empty ~ span:after {
            width: 72px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -ms-border-radius: 20px;
            -o-border-radius: 20px;
            border-radius: 20px;
        }

        .m-switch.m-switch--lg input:empty ~ span:after {
            height: 34px;
            width: 34px;
            line-height: 34px;
            top: 3px;
            bottom: 3px;
            margin-left: 3px;
            font-size: 1em;
            text-align: center;
            vertical-align: middle;
        }

    .m-switch.m-switch--lg input:checked ~ span:after {
        margin-left: 34px;
    }

    .m-switch.m-switch--sm input:empty ~ span {
        line-height: 24px;
        margin: 2px 0;
        height: 24px;
        width: 40px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
        border-radius: 12px;
    }

        .m-switch.m-switch--sm input:empty ~ span:before,
        .m-switch.m-switch--sm input:empty ~ span:after {
            width: 38px;
            -webkit-border-radius: 12px;
            -moz-border-radius: 12px;
            -ms-border-radius: 12px;
            -o-border-radius: 12px;
            border-radius: 12px;
        }

        .m-switch.m-switch--sm input:empty ~ span:after {
            height: 20px;
            width: 20px;
            line-height: 20px;
            top: 2px;
            bottom: 2px;
            margin-left: 2px;
            font-size: 0.8em;
            text-align: center;
            vertical-align: middle;
        }

    .m-switch.m-switch--sm input:checked ~ span:after {
        margin-left: 16px;
    }

.m-form__group.row .m-switch {
    margin-top: 0.15rem;
}

    .m-form__group.row .m-switch.m-switch--lg {
        margin-top: 0rem;
        position: relative;
        top: -0.3rem;
    }

    .m-form__group.row .m-switch.m-switch--sm {
        margin-top: 0.3rem;
    }

.m-switch input:empty ~ span:before {
    background-color: #ebedf2;
}

.m-switch input:empty ~ span:after {
    color: #f7f8fa;
    background-color: #dfe2ea;
}

.m-switch input:checked ~ span:before {
    background-color: #ebedf2;
    -webkit-box-shadow: 0px 3px 20px 0px rgba(235, 237, 242, 0.41);
    -moz-box-shadow: 0px 3px 20px 0px rgba(235, 237, 242, 0.41);
    box-shadow: 0px 3px 20px 0px rgba(235, 237, 242, 0.41);
}

.m-switch input:checked ~ span:after {
    background-color: #716aca;
    color: #ffffff;
    -webkit-box-shadow: 0px 3px 20px 0px rgba(113, 106, 202, 0.41);
    -moz-box-shadow: 0px 3px 20px 0px rgba(113, 106, 202, 0.41);
    box-shadow: 0px 3px 20px 0px rgba(113, 106, 202, 0.41);
}

.m-switch input[disabled] {
    cursor: not-allowed;
}

    .m-switch input[disabled] ~ span:after,
    .m-switch input[disabled] ~ span:before {
        cursor: not-allowed;
        opacity: 0.7;
        filter: alpha(opacity=70);
    }

.m-switch.m-switch--brand:not(.m-switch--outline) input:empty ~ span:before {
    background-color: #716aca;
}

.m-switch.m-switch--brand:not(.m-switch--outline) input:empty ~ span:after {
    color: #716aca;
    background-color: #ffffff;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.m-switch.m-switch--brand:not(.m-switch--outline) input:checked ~ span:before {
    background-color: #716aca;
}

.m-switch.m-switch--brand:not(.m-switch--outline) input:checked ~ span:after {
    opacity: 1;
    filter: alpha(opacity=100);
}

.m-switch.m-switch--outline.m-switch--brand input:empty ~ span:before {
    border: 2px solid #ebedf2;
    background-color: #ffffff;
}

.m-switch.m-switch--outline.m-switch--brand input:empty ~ span:after {
    color: #ffffff;
}

.m-switch.m-switch--outline.m-switch--brand input:checked ~ span:before {
    background-color: #ffffff;
}

.m-switch.m-switch--outline.m-switch--brand input:checked ~ span:after {
    background-color: #716aca;
    opacity: 1;
    filter: alpha(opacity=100);
}

.m-switch.m-switch--metal:not(.m-switch--outline) input:empty ~ span:before {
    background-color: #c4c5d6;
}

.m-switch.m-switch--metal:not(.m-switch--outline) input:empty ~ span:after {
    color: #c4c5d6;
    background-color: #ffffff;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.m-switch.m-switch--metal:not(.m-switch--outline) input:checked ~ span:before {
    background-color: #c4c5d6;
}

.m-switch.m-switch--metal:not(.m-switch--outline) input:checked ~ span:after {
    opacity: 1;
    filter: alpha(opacity=100);
}

.m-switch.m-switch--outline.m-switch--metal input:empty ~ span:before {
    border: 2px solid #ebedf2;
    background-color: #ffffff;
}

.m-switch.m-switch--outline.m-switch--metal input:empty ~ span:after {
    color: #ffffff;
}

.m-switch.m-switch--outline.m-switch--metal input:checked ~ span:before {
    background-color: #ffffff;
}

.m-switch.m-switch--outline.m-switch--metal input:checked ~ span:after {
    background-color: #c4c5d6;
    opacity: 1;
    filter: alpha(opacity=100);
}

.m-switch.m-switch--light:not(.m-switch--outline) input:empty ~ span:before {
    background-color: #ffffff;
}

.m-switch.m-switch--light:not(.m-switch--outline) input:empty ~ span:after {
    color: #ffffff;
    background-color: #282a3c;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.m-switch.m-switch--light:not(.m-switch--outline) input:checked ~ span:before {
    background-color: #ffffff;
}

.m-switch.m-switch--light:not(.m-switch--outline) input:checked ~ span:after {
    opacity: 1;
    filter: alpha(opacity=100);
}

.m-switch.m-switch--outline.m-switch--light input:empty ~ span:before {
    border: 2px solid #ebedf2;
    background-color: #ffffff;
}

.m-switch.m-switch--outline.m-switch--light input:empty ~ span:after {
    color: #282a3c;
}

.m-switch.m-switch--outline.m-switch--light input:checked ~ span:before {
    background-color: #282a3c;
}

.m-switch.m-switch--outline.m-switch--light input:checked ~ span:after {
    background-color: #ffffff;
    opacity: 1;
    filter: alpha(opacity=100);
}

.m-switch.m-switch--accent:not(.m-switch--outline) input:empty ~ span:before {
    background-color: #00c5dc;
}

.m-switch.m-switch--accent:not(.m-switch--outline) input:empty ~ span:after {
    color: #00c5dc;
    background-color: #ffffff;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.m-switch.m-switch--accent:not(.m-switch--outline) input:checked ~ span:before {
    background-color: #00c5dc;
}

.m-switch.m-switch--accent:not(.m-switch--outline) input:checked ~ span:after {
    opacity: 1;
    filter: alpha(opacity=100);
}

.m-switch.m-switch--outline.m-switch--accent input:empty ~ span:before {
    border: 2px solid #ebedf2;
    background-color: #ffffff;
}

.m-switch.m-switch--outline.m-switch--accent input:empty ~ span:after {
    color: #ffffff;
}

.m-switch.m-switch--outline.m-switch--accent input:checked ~ span:before {
    background-color: #ffffff;
}

.m-switch.m-switch--outline.m-switch--accent input:checked ~ span:after {
    background-color: #00c5dc;
    opacity: 1;
    filter: alpha(opacity=100);
}

.m-switch.m-switch--focus:not(.m-switch--outline) input:empty ~ span:before {
    background-color: #9816f4;
}

.m-switch.m-switch--focus:not(.m-switch--outline) input:empty ~ span:after {
    color: #9816f4;
    background-color: #ffffff;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.m-switch.m-switch--focus:not(.m-switch--outline) input:checked ~ span:before {
    background-color: #9816f4;
}

.m-switch.m-switch--focus:not(.m-switch--outline) input:checked ~ span:after {
    opacity: 1;
    filter: alpha(opacity=100);
}

.m-switch.m-switch--outline.m-switch--focus input:empty ~ span:before {
    border: 2px solid #ebedf2;
    background-color: #ffffff;
}

.m-switch.m-switch--outline.m-switch--focus input:empty ~ span:after {
    color: #ffffff;
}

.m-switch.m-switch--outline.m-switch--focus input:checked ~ span:before {
    background-color: #ffffff;
}

.m-switch.m-switch--outline.m-switch--focus input:checked ~ span:after {
    background-color: #9816f4;
    opacity: 1;
    filter: alpha(opacity=100);
}

.m-switch.m-switch--primary:not(.m-switch--outline) input:empty ~ span:before {
    background-color: #5867dd;
}

.m-switch.m-switch--primary:not(.m-switch--outline) input:empty ~ span:after {
    color: #5867dd;
    background-color: #ffffff;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.m-switch.m-switch--primary:not(.m-switch--outline) input:checked ~ span:before {
    background-color: #5867dd;
}

.m-switch.m-switch--primary:not(.m-switch--outline) input:checked ~ span:after {
    opacity: 1;
    filter: alpha(opacity=100);
}

.m-switch.m-switch--outline.m-switch--primary input:empty ~ span:before {
    border: 2px solid #ebedf2;
    background-color: #ffffff;
}

.m-switch.m-switch--outline.m-switch--primary input:empty ~ span:after {
    color: #ffffff;
}

.m-switch.m-switch--outline.m-switch--primary input:checked ~ span:before {
    background-color: #ffffff;
}

.m-switch.m-switch--outline.m-switch--primary input:checked ~ span:after {
    background-color: #5867dd;
    opacity: 1;
    filter: alpha(opacity=100);
}

.m-switch.m-switch--success:not(.m-switch--outline) input:empty ~ span:before {
    background-color: #34bfa3;
}

.m-switch.m-switch--success:not(.m-switch--outline) input:empty ~ span:after {
    color: #34bfa3;
    background-color: #ffffff;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.m-switch.m-switch--success:not(.m-switch--outline) input:checked ~ span:before {
    background-color: #34bfa3;
}

.m-switch.m-switch--success:not(.m-switch--outline) input:checked ~ span:after {
    opacity: 1;
    filter: alpha(opacity=100);
}

.m-switch.m-switch--outline.m-switch--success input:empty ~ span:before {
    border: 2px solid #ebedf2;
    background-color: #ffffff;
}

.m-switch.m-switch--outline.m-switch--success input:empty ~ span:after {
    color: #ffffff;
}

.m-switch.m-switch--outline.m-switch--success input:checked ~ span:before {
    background-color: #ffffff;
}

.m-switch.m-switch--outline.m-switch--success input:checked ~ span:after {
    background-color: #34bfa3;
    opacity: 1;
    filter: alpha(opacity=100);
}

.m-switch.m-switch--info:not(.m-switch--outline) input:empty ~ span:before {
    background-color: #36a3f7;
}

.m-switch.m-switch--info:not(.m-switch--outline) input:empty ~ span:after {
    color: #36a3f7;
    background-color: #ffffff;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.m-switch.m-switch--info:not(.m-switch--outline) input:checked ~ span:before {
    background-color: #36a3f7;
}

.m-switch.m-switch--info:not(.m-switch--outline) input:checked ~ span:after {
    opacity: 1;
    filter: alpha(opacity=100);
}

.m-switch.m-switch--outline.m-switch--info input:empty ~ span:before {
    border: 2px solid #ebedf2;
    background-color: #ffffff;
}

.m-switch.m-switch--outline.m-switch--info input:empty ~ span:after {
    color: #ffffff;
}

.m-switch.m-switch--outline.m-switch--info input:checked ~ span:before {
    background-color: #ffffff;
}

.m-switch.m-switch--outline.m-switch--info input:checked ~ span:after {
    background-color: #36a3f7;
    opacity: 1;
    filter: alpha(opacity=100);
}

.m-switch.m-switch--warning:not(.m-switch--outline) input:empty ~ span:before {
    background-color: #ffb822;
}

.m-switch.m-switch--warning:not(.m-switch--outline) input:empty ~ span:after {
    color: #ffb822;
    background-color: #111111;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.m-switch.m-switch--warning:not(.m-switch--outline) input:checked ~ span:before {
    background-color: #ffb822;
}

.m-switch.m-switch--warning:not(.m-switch--outline) input:checked ~ span:after {
    opacity: 1;
    filter: alpha(opacity=100);
}

.m-switch.m-switch--outline.m-switch--warning input:empty ~ span:before {
    border: 2px solid #ebedf2;
    background-color: #ffffff;
}

.m-switch.m-switch--outline.m-switch--warning input:empty ~ span:after {
    color: #111111;
}

.m-switch.m-switch--outline.m-switch--warning input:checked ~ span:before {
    background-color: #111111;
}

.m-switch.m-switch--outline.m-switch--warning input:checked ~ span:after {
    background-color: #ffb822;
    opacity: 1;
    filter: alpha(opacity=100);
}

.m-switch.m-switch--danger:not(.m-switch--outline) input:empty ~ span:before {
    background-color: #f4516c;
}

.m-switch.m-switch--danger:not(.m-switch--outline) input:empty ~ span:after {
    color: #f4516c;
    background-color: #ffffff;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.m-switch.m-switch--danger:not(.m-switch--outline) input:checked ~ span:before {
    background-color: #f4516c;
}

.m-switch.m-switch--danger:not(.m-switch--outline) input:checked ~ span:after {
    opacity: 1;
    filter: alpha(opacity=100);
}

.m-switch.m-switch--outline.m-switch--danger input:empty ~ span:before {
    border: 2px solid #ebedf2;
    background-color: #ffffff;
}

.m-switch.m-switch--outline.m-switch--danger input:empty ~ span:after {
    color: #ffffff;
}

.m-switch.m-switch--outline.m-switch--danger input:checked ~ span:before {
    background-color: #ffffff;
}

.m-switch.m-switch--outline.m-switch--danger input:checked ~ span:after {
    background-color: #f4516c;
    opacity: 1;
    filter: alpha(opacity=100);
}
.m-switch-label {
    vertical-align: top;
    line-height: 2.2;
    margin-left: 10px;
    user-select:none
}