﻿.loginLayer {
    position: absolute;
    z-index: 1000;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0, 0.7);
}

.loginFormWrapper {
    border: 1px solid #e8e8e8;
    width: 500px;
    height: 320px;
    border-radius: 5px;
    background-color: white;
    padding: 20px;
}

.login-content {
    border-top: 1px solid #e8e8e8;
    margin: 10px auto;
    padding: 10px 0;
    text-align: center;
}

    .login-content .sub-header {
        margin-bottom: 30px;
        font-weight: 400;
    }

    .login-content .or {
        margin: 10px auto;
        color: #777;
    }

.btLogin, .btRegister {
    border: 1px solid #e8e8e8;
    border-radius: 8px;
    padding: 10px 30px;
    color: white;
    background-color: #5cb85c;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}

.btRegister {
    background-color: #337ab7;
}

.btLogin:hover {
    background-color: #449d44;
}
.btRegister:hover {
    background-color: #286090;
}