#canvasImage {
  max-width: 600px;
  max-height: 400px;
}
.modal {
    background-color: rgba(255,255,255,0.97);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 101;
}
.modal-dialog {
  margin: 0 auto;
  width: 800px;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  margin-top: 30px;
}
.modal-content {
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.modal .modal-content .modal-header {
    padding: 15px;
    position: relative;
    clear: both;
    /*background-image: url("../images/bar.png");*/
    background-position: bottom;
    background-repeat: repeat-x;
}
.modal-title {
  margin: 0;
  font-size: 22px;
  font-weight: normal;
  word-break: break-word;
  word-wrap: break-word;
  overflow: auto;
  max-height: 50px;
  line-height: 1.2;
}
.modal-close {
  position: absolute;
  right: 15px;
  top: 15px;
}
.modal .modal-content .modal-body {
    padding: 15px 25px;
}
.modal-footer {
  padding: 15px;
  border-top: 1px solid #e8e8e8;
  clear: both;
}
.modal-footer .right {
  float: right;
}
.footer-hint {
  float: left;
  color: #af8840;
}
.footer-buttons {
  float: right;
}
.docs-buttons {
  margin-top: 10px;
  text-align: center;
}
.btCloseModal {
  cursor: pointer;
}
.btCloseModal span {
  font-size: 20px;
}
