@import url("chatHistory.css");
@import url("chatHistoryFull.css");
@import url("emoji.css");
html {
  height: 100%;
  color: #222;
}
body {
  padding: 0;
  margin: 0;
  font: 14px/20px Helvetica, "Lato", Arial, sans-serif;
  height: 100%;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  align-items: stretch;
  -webkit-font-smoothing: antialiased;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  color: inherit;
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.center {
  text-align: center;
}
.small {
    font-size: 80%;
    line-height:130%;
}
/*.form-input,
.form-control {
    border-radius: 3px;
    border: 1px solid #ededed;
    padding: 5px 10px;
    width: 100%;
    font-size: 14px;
}*/
.input-button {
  font-size: 20px;
  background-color: #2ea664;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  width: 120px;
  text-align: center;
  cursor: pointer;
}
.input-group,
.input-group .form-input {
  display: -ms-flexbox;
  display: flex;
}
.auto-height {
  height: initial !important;
}
img {
  vertical-align: middle;
  border-style: none;
}
input:focus {
  outline: none;
}
.mr5 {
  margin-right: 5px;
}
.mr10 {
  margin-right: 15px;
}
.no-margin {
  margin: 0 !important;
}
.no-padding {
  padding: 0 !important;
}
.padding5 {
  padding: 5px;
}
.circle {
  border-radius: 50%;
}
.pointer {
  cursor: pointer;
}
.tool-button {
  border-radius: 3px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  line-height: 45px;
}
.tool-button:hover {
  color: #008000;
}
.tool-button.selected {
  background-color: rgba(0,0,0,0.2);
}
.tool-button .fa {
  font-size: 24px;
}
.small-button {
  border-radius: 3px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.small-button:hover {
  color: #008000;
}
.large-font {
  font-size: 20px;
}
.big-button {
  border-radius: 3px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #008000;
  cursor: pointer;
}
    .big-button i {
        color: #909090;
    }
.big-button:hover i {
  color: #008000;
}
    .big-button .fa, .big-button .fal, .big-button .fab, .big-button .far {
        font-size: 34px;
    }
    .big-button[disabled] {
        cursor:default;
    }
    .big-button[disabled] i {
        color: #f1f0f0;
    }
    .circle-button {
        font-size: 22px;
        padding: 5px 8px;
        color: #008000;
    }
/*.btn-group {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin-right: 5px;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
   
    border: 1px solid #e3e4e6;
    background-color: #f3f3f3;
    white-space: nowrap;
}
    .btn:hover {
        background-color: #f3f3f3;
        color: #0b9a0b;
    }
.btn-transparent, .btn-transparent:hover {
    background-color: transparent;
    border:0;
}

    .btn-primary {
        background-color: #87cefa;
        color: #fff;
    }
.btn-white {
    background-color: #fff;
    color: #007bff;
}
.btn-round {
    border-radius: 10px;
}
.btn-group .btn:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.btn-xs {
  padding: 1px 6px;
  font-size: 12px;
}*/
.btn-xs {
    padding: 3px 6px;
    font-size: 12px;
}
.button-link {
    cursor: pointer;
    color: #5cb85c;
}
.button-link:hover {
  text-decoration: underline;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.center {
  text-align: center;
  justify-content: center;
}
.loginLayer {
  position: absolute;
  z-index: 1000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.7);
}
.loginFormWrapper {
  border: 1px solid #e8e8e8;
  width: 500px;
  height: 320px;
  border-radius: 5px;
  background-color: #fff;
  padding: 20px;
}
.login-content {
  border-top: 1px solid #e8e8e8;
  margin: 10px auto;
  padding: 10px 0;
  text-align: center;
}
.login-content .sub-header {
  margin-bottom: 30px;
  font-weight: 400;
}
.login-content .or {
  margin: 10px auto;
  color: #777;
}
.btLogin,
.btRegister {
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  padding: 10px 30px;
  color: #fff;
  background-color: #5cb85c;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}
.btRegister {
  background-color: #337ab7;
}
.btLogin:hover {
  background-color: #449d44;
}
.btRegister:hover {
  background-color: #286090;
}
.left-pane {
  flex: 0 0 350px;
  -ms-flex: 0 0 350px;
  height: 100%;
  background-color: #000;
  display: flex;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  border-right: 1px solid #e8e8e8;
}
.main-contain {
  flex: 0 0 calc(100% - 350px);
  -ms-flex: 0 0 calc(100% - 350px);
  height: 100%;
  background-color: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  width: 100%;
  overflow: auto;
}
.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: bottom;
  align-items: bottom;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #fff;
  flex: 0 0 80px;
  -ms-flex: 0 0 80px;
  border-bottom: 1px solid #e8e8e8;
  padding:0;
}
.chat-pane {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  height: 100%;
  width: 100%;
  overflow: auto;
}
.top-bar {
  padding: 0 10px;
  display: -ms-flexbox;
  display: flex;
  flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  align-items: center;
  font-size: 20px;
  color: #444;
  position: relative;
}
.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}
.divAccButtonWrapper {
  position: absolute;
  right: 10px;
  top: 8px;
}
.btAccountMenu {
  color: #555;
  cursor: pointer;
  padding: 5px 3px 2px;
  border: 1px solid transparent;
  border-radius: 5px;
}
.btAccountMenu.open {
  background-color: rgba(0,0,0,0.2);
}
.btAccountMenu:hover,
.btCreateChat:hover {
  color: #008000;
}
.btAccountMenu span {
  font-size: 24px;
}
#accountAvatar {
    width: 60px;
    height: 60px;
    margin: 0 25px 0 0;
    border: 1px solid #e8e8e8;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex: 0 1 60px;
    position:relative;
}
.accountInfo {
    flex: 0 1 auto;
    align-self:center;
}
.accountName a {
  text-decoration: none;
  font-weight: bold;
  font-size:18px;
}
.accountOtherInfo {
  margin-top: 5px;
  font-style:italic;
}
.accountInfoWrapper {
  padding: 10px 0;
  border-bottom: 1px solid #e8e8e8;
  display:flex;
  flex-direction:row;
}
.accountLinks {
  padding: 10px;
}
.accountLinks a {
  display: block;
  color: #555;
  text-decoration: none;
  margin: 5px 0;
  font-size: 16px;
}
.accountLinks a:hover {
  color: #008000;
}
.accountLinks .fa {
  width: 20px;
}
.accountInfoDropdown {
  font-size: 15px;
  position: absolute;
  right: -8px;
  top: 37px;
  width: calc(350px - 6px);
  height: 200px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.15);
  box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  display: none;
  z-index: 100;
  user-select: none;
}
.accountInfoDropdown:after {
  position: absolute;
  top: -11px;
  border-style: solid;
  border-color: transparent;
  border-top-color: rgba(0,0,0,0.15);
  right: 15px;
  height: 0;
  width: 0;
  content: " ";
  border-width: 10px;
}
.search-bar {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  border-top: 1px solid #e8e8e8;
}
.search-bar input {
  border-radius: 3px;
  border: none;
  padding: 7px 34px 7px 34px;
  background: #f6f7f9;
  width: 100%;
  font-size: 14px;
}
.search-label {
  position: absolute;
  left: 10px;
  top: 10px;
  color: #555;
}
.btClear {
  position: absolute;
  right: 10px;
  top: 8px;
  cursor: pointer;
  color: #333;
  border: 1px solid #ddd;
  padding: 4px 7px;
  border-radius: 50%;
  display: none;
}
img.room-avatar {
  width: 50px;
  height: 50px;
}
.text-muted {
    color: #6c757d !important;
}
.text-primary {
    color: #007bff !important;
}
.chat-pane-list {
    flex: 0 0 calc(100% - 80px);
    -ms-flex: 0 0 calc(100% - 80px);
    display: -ms-flexbox;
    display: flex;
    overflow: auto;
    background-color: #fff;
}
.chat-list {
  width: 100%;
}
.chat-list li {
  height: 75px;
  display: -ms-flexbox;
  display: flex;
  flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  padding: 5px 10px;
  cursor: pointer;
  align-items: center;
  position: relative;
}
.chat-list li:hover,
.chat-list li.selected {
  background-color: rgba(0,0,0,0.05);
}
.chat-list li[data-view=false] .chat-room-name,
.chat-list li[data-view=false] .last-message {
  font-weight: 700 !important;
  color: #000 !important;
}
.chat-list li[data-view=false] .last-message-time {
  color: #0084ff;
}
.chat-list li .chat-item {
  display: -ms-flexbox;
  display: flex;
  flex: 0 0 calc(100% - 50px);
  -ms-flex: 0 0 calc(100% - 50px);
  justify-content: space-between;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  padding: 0 0 0 10px;
}
.chat-list li .chat-item .chat-info {
  display: -ms-flexbox;
  display: flex;
  flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.chat-item .action-message {
  word-break: break-word;
  word-wrap: break-word;
}
.chat-list li .chat-info .chat-room-name {
  flex: 0 0 calc(100% - 70px);
  -ms-flex: 0 0 calc(100% - 70px);
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-all;
}
.chat-list li .chat-info .last-message-time {
  display: -ms-flexbox;
  display: flex;
  flex: 0 0 70px;
  -ms-flex: 0 0 70px;
  justify-content: flex-end;
}
.chat-list li .chat-room-name {
  font-weight: 400;
  font-size: 17px;
}
.chat-list li .chat-item .last-message {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  display: block;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 3px;
  height: 20px;
  word-wrap: break-word;
  word-break: break-all;
}
.chat-list li .chat-item .last-message img {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}
.chat-top-bar {
  display: -ms-flexbox;
  display: flex;
  flex: 0 0 80px;
  -ms-flex: 0 0 80px;
  border-bottom: 1px solid #e8e8e8;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  align-items: center;
  padding: 10px;
  width: 100%;
}
.chat-top-bar .box-avatar {
  width: 50px;
  height: 50px;
}
.chat-top-bar .box-info {
  display: -ms-flexbox;
  display: flex;
  flex: 0 0 calc(100% - 400px - 50px);
  -ms-flex: 0 0 calc(100% - 400px - 50px);
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  padding: 0 15px;
}
.chat-top-bar .box-name {
  font-size: 20px;
  display: -ms-flexbox;
  display: flex;
  flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  height: 20px;
  height: 30px;
  line-height: 1.8;
  overflow: hidden;
  word-break: break-word;
  word-wrap: break-word;
}
.chat-top-bar .box-name a {
  text-decoration: none;
}
.chat-top-bar .box-name a:hover {
  text-decoration: underline;
}
.chat-top-bar .boxMoreInfo {
  display: -ms-flexbox;
  display: flex;
  flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  margin-top: 5px;
  color: #666;
}
.chat-top-bar .tool-section {
  display: -ms-flexbox;
  display: flex;
  flex: 0 0 400px;
  -ms-flex: 0 0 400px;
  justify-content: flex-end;
}
.chat-top-bar .tool-section .search-chat {
  width: 280px;
  position: relative;
  padding: 0 10px;
}
.chat-top-bar .tool-section .search-in-chat {
  border-radius: 3px;
  border: none;
  padding: 7px 34px 7px 34px;
  background: #f6f7f9;
  width: 100%;
  font-size: 14px;
  font-size: 16px;
  padding: 10px 15px 10px 35px;
  border: 1px solid #e8e8e8;
}
.chat-main {
  flex: 0 0 calc(100% - 80px);
  -ms-flex: 0 0 calc(100% - 80px);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  overflow: auto;
}
.chat-main .chat-window {
  display: -ms-flexbox;
  display: flex;
  flex: 0 0 calc(100% - 400px);
  -ms-flex: 0 0 calc(100% - 400px);
  flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  border-right: 1px solid #e8e8e8;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  position: relative;
}
.chat-main .chat-window .chat-logs {
  display: -ms-flexbox;
  display: flex;
  flex: 0 0 calc(100% - 60px);
  -ms-flex: 0 0 calc(100% - 60px);
  border-bottom: 1px solid #e8e8e8;
  overflow: auto;
}
.chat .chat-logs {
  position: initial;
}
.chat .chat-logs.chat-search-result {
  padding-bottom: 0;
}
.chat-main .chat-window .chat-input {
  display: -ms-flexbox;
  display: flex;
  flex: 0 0 60px;
  -ms-flex: 0 0 60px;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  overflow: hidden;
}
.chat-main .chat-input .text-input {
    display: -ms-flexbox;
    display: flex;
    flex: 0 0 calc(100% - 220px);
    -ms-flex: 0 0 calc(100% - 220px);
}
.chat-main .chat-input .other-input {
    display: -ms-flexbox;
    display: flex;
    flex: 0 0 220px;
    -ms-flex: 0 0 220px;
    align-items: center;
    position: relative;
}
.chat-input-disabled {
  display: -ms-flexbox;
  display: flex;
  flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
}
.chat-main .text-input textarea {
  width: 100%;
  height: 100%;
  border: 0px none;
  resize: none;
  font-size: 15px;
  padding: 5px 15px;
}
.chat-main .text-input textarea:focus {
  outline: none;
}
.chat-main .chat-added-info {
  display: -ms-flexbox;
  display: flex;
  flex: 0 0 400px;
  -ms-flex: 0 0 400px;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
}
.extend-pane {
  display: -ms-flexbox;
  display: flex;
  flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  overflow: hidden;
}
.hide {
  display: none !important;
}
.extend-pane .header {
  display: -ms-flexbox;
  display: flex;
  flex: 0 0 50px;
  -ms-flex: 0 0 50px;
  background-color: #f9f9f9;
  font-size: 18px;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #e8e8e8;
  position: relative;
}
.btCloseExPane {
  font-weight: 100;
  font-size: 20px;
  position: absolute;
  right: 15px;
  top: 5px;
}
.extend-pane .pane-content {
  display: -ms-flexbox;
  display: flex;
  flex: 0 0 calc(100%);
  -ms-flex: 0 0 calc(100%);
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  overflow: auto;
}
.extend-pane .pane-content .search-pane {
  display: -ms-flexbox;
  display: flex;
  flex: 0 0 40px;
  -ms-flex: 0 0 40px;
  position: relative;
}
.extend-pane .pane-content .search-pane input {
  border-radius: 3px;
  border: none;
  padding: 7px 34px 7px 34px;
  background: #f6f7f9;
  width: 100%;
  font-size: 14px;
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
}
.extend-pane .pane-content .scroll-content {
  display: -ms-flexbox;
  display: flex;
  flex: 0 0 calc(100% - 40px);
  -ms-flex: 0 0 calc(100% - 40px);
  overflow: auto;
}
.no-result {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
  color: #666;
}
.item-list {
  width: 100%;
}
.item-list li {
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: relative;
  width: calc(400px - 20px);
}
.item-list > li > a {
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
}
.item-list li:hover {
  background-color: rgba(0,0,0,0.05);
}
.item-list .item-name {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 10px;
  font-size: 16px;
  max-width: calc(400px - 40px);
  word-wrap: break-word;
  word-break: break-word;
}
.item-list .member .item-name {
  padding: 0 10px 0 15px;
}
.item-list .author-info {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 10px;
  color: #777;
}
.item-list .member .author-info {
  padding: 0 10px 0 15px;
}
.item-list .author-info span {
  margin-left: 10px;
}
.item-list .member-button-wrapper {
  position: absolute;
  right: 15px;
  top: 10px;
}
.item-list .member-button {
  cursor: pointer;
  color: #999;
  display: none;
}
li:hover .member-button {
  display: block;
}
.item-list img.preview,
.item-list .fileType {
  width: 30px;
  height: 30px;
  font-size: 30px;
  line-height: 30px;
  color: #87cefa;
}
.avatar-chat {
  width: 35px;
  height: 35px;
}
.avatar-small {
  width: 30px;
  height: 30px;
}
.avatar-wrapper {
  position: relative;
}
.user-status {
  position: absolute;
  right: -2px;
  bottom: -2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.user-status.on {
  background: radial-gradient(ellipse at center, #b4f386 0%, #61c419 50%, #b4e391 100%);
}
.user-status.off {
  background: radial-gradient(ellipse at center, #cedce7 0%, #596a72 100%);
}
li.search {
  margin: 10px 10px 20px;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  padding: 5px;
  overflow: hidden;
  width: 360px !important;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  align-items: unset;
}
li.search:hover {
  background-color: #fff;
}
.search .message-wrapper {
  display: -ms-flexbox;
  display: flex;
  flex: 0 0 calc(100% - 40px);
  -ms-flex: 0 0 calc(100% - 40px);
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  padding-left: 10px;
}
.search .message-data {
  display: -ms-flexbox;
  display: flex;
  flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  overflow: hidden;
}
.search .message {
  flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #eee;
  background-color: #f1f0f0;
  padding: 5px 10px;
  margin-top: 5px;
  position: relative;
  word-wrap: break-word;
  word-break: break-word;
}
.search .message:after {
  position: absolute;
  border: solid transparent;
  bottom: 100%;
  content: " ";
  height: 0;
  width: 0;
  pointer-events: none;
  border-width: 10px;
  border-bottom-color: #f1f0f0;
  left: 15px;
}
.search .message-link-wrapper {
  border-radius: 5px;
  border: 1px solid #eee;
}
.search .message-link-img {
  border-radius: 5px 5px 0 0;
  height: 60px;
  display: block;
  background-position: center;
  background-size: cover;
}
.search .message-data-name {
  font-weight: bold;
}
.search .message-link-wrapper .message-link-info {
  padding: 5px;
}
.search .btGo,
.search .btPin {
  position: absolute;
  right: 25px;
  top: 5px;
  cursor: pointer;
}
.search .btPin {
  right: 5px;
}
.search-result-title {
  position: absolute;
  height: 50px;
  line-height: 50px;
  background-color: #f9f9f9;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 20px;
  font-size: 18px;
  z-index: 100;
}
.search-result-body {
  overflow: auto;
  flex: 0 0 100%;
  -ms-flex: 0 0 100%;
}
.search-result-title span {
  font-weight: bold;
}
.chat-search-result > ul {
  margin-top: 50px;
}
.btCloseSearchResult {
  position: absolute;
  right: 20px;
  top: 20px;
}
.avatar-chat-search {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
}
.search-member-info {
  color: #555;
  margin-left: 10px;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: 1px solid #e8e8e8;
}
.select2-container .select2-selection--multiple {
  min-height: 40px;
}
.select2-container--default .select2-results > .select2-results__options {
  max-height: 300px;
}
.select2-dropdown {
  border: 1px solid #e8e8e8;
}
.dropdown-menu {
  position: absolute;
  right: 0px;
  top: 34px;
  left:auto;
  width: 200px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.15);
  box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  display: none;
  z-index: 100;
  user-select: none;
}
.dropdown-menu .menu-divider {
  border-bottom: 1px solid #ededed;
}
.dropdown-menu .menu-item {
  padding: 5px 10px;
}
.dropdown-menu .menu-item:hover {
  background-color: rgba(0,0,0,0.05);
}
.dropdown-menu .menu-item a {
  text-decoration: none;
  cursor: pointer;
  display: block;
}
.dropdown-button.open {
  display: block !important;
  color: #008000;
  border: 1px solid #ddd;
}
.editable:hover {
  outline: 1px dashed #dedede;
}
.editable input {
  border: 1px solid #e8e8e8;
  padding: 4px;
  font-size: 20px;
  min-width: 60%;
}
.editable form {
  width: 90%;
}
.editable button[type=submit] {
  background-color: #5cb85c;
  border-color: #4cae4c;
  color: #fff;
  padding: 7px 10px;
}
.editable-img:hover {
  outline: 1px dashed #dedede;
  cursor: pointer;
}
.nav-button {
  margin: 2px 10px 0 10px;
}
hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.menuMain {
  font-size: 15px;
  position: absolute;
  right: 0;
  left: 0;
  top: 35px;
  /*background-color: #fff;
  border: 1px solid rgba(0,0,0,0.15);
  box-shadow: 1px 6px 12px rgba(0,0,0,0.175);*/
  display: none;
  z-index: 100;
  user-select: none;
  padding: 10px 0;
  font-weight: 600;
}
.menu-item {
  display: block;
  padding: 10px;
}
.menu-item span.fa {
  margin: 0 30px 0 10px;
  font-size: 16px;
}
.menu-item:hover {
  background-color: rgba(76,175,80,0.133);
}
.menu-item:hover {
  color: #008000;
}
.pinWrap {
  display: none;
  position: absolute;
  right: 5px;
  bottom: 5px;
}
li:hover .pinWrap,
li.pin-room .pinWrap {
  display: block;
}
.highlight {
  animation: highlight 3s;
}
.config-line {
  padding: 10px;
  width: 100%;
}
.config-line a {
  word-wrap: break-word;
  word-break: break-all;
}
.config-line p {
  margin: 5px 0;
}
.action-link {
  font-size: 16px;
  color: #555;
  text-decoration: none;
}
.action-link:hover {
  color: #5cb85c;
}
.action-link span {
  width: 10px;
  text-align: center;
  margin-left: 5px;
  margin-right: 15px;
}
.bottom-line {
  border-bottom: 3px solid #eee;
}
.top-line {
  border-top: 3px solid #eee;
}
.sub-heading {
  font-weight: 600;
  color: #555;
  font-size: 16px;
}
@media screen and (max-width: 1366px) {
  .left-pane {
    flex: 0 0 300px;
    -ms-flex: 0 0 300px;
  }
  .main-contain {
    flex: 0 0 calc(100% - 300px);
    -ms-flex: 0 0 calc(100% - 300px);
  }
  .chat-top-bar .box-info {
    flex: 0 0 calc(100% - 300px - 50px);
    -ms-flex: 0 0 calc(100% - 300px - 50px);
  }
  .chat-top-bar .tool-section {
    flex: 0 0 300px;
    -ms-flex: 0 0 300px;
  }
  .chat-main .chat-added-info {
    flex: 0 0 300px;
    -ms-flex: 0 0 300px;
  }
  .item-list li {
    width: calc(300px - 20px);
  }
  .item-list .item-name {
    max-width: calc(300px - 40px);
  }
  .accountInfoDropdown {
    width: calc(300px - 6px);
  }
  li.search {
    width: 310px !important;
  }
}
.mr10 {
  margin-right: 10px;
}
@-moz-keyframes highlight {
  0% {
    background: #ff9;
/* lovely yellow colour */
  }

  100% {
    background: none;
  }
}
@-webkit-keyframes highlight {
  0% {
    background: #ff9;
/* lovely yellow colour */
  }

  100% {
    background: none;
  }
}
@-o-keyframes highlight {
  0% {
    background: #ff9;
/* lovely yellow colour */
  }

  100% {
    background: none;
  }
}
@-ms-keyframes highlight {
  0% {
    background: #ff9;
/* lovely yellow colour */
  }

  100% {
    background: none;
  }
}
@keyframes highlight {
  0% {
    background: #ff9;
/* lovely yellow colour */
  }

  100% {
    background: none;
  }
}
