﻿$leftpanelWidth = 350px;
$extentPaneWidth = 400px;
$leftpanelWidthSmall = 300px;
$extentPaneWidthSmall = 300px;
$leftpanelbackground = #FFF;
$topHeight = 80px;
$leftpanelPadding = 0 10px;
$layoutborder = 1px solid #e8e8e8;
$buttonHoverColor = green;
$boxPadding = 10px;
$backgroundHoverColor = rgba(0, 0, 0, .05);

displayFlex() 
	display: -ms-flexbox;
	display: flex;

flexFlow(dir, wr)
	-ms-flex-flow: dir wr;
	flex-flow: dir wr;

flexSize(val)    
	flex:0 0 val;
	-ms-flex:0 0 val;

avatar-box()    
	width:50px;
	height:50px;

searchinput()
	border-radius: 3px;
	border: none;
	padding: 7px 34px 7px 34px;    
	background: #f6f7f9;
	width: 100%;
	font-size: 14px;  

button(val)
	border-radius:3px;    
	width:val;
	height:val;
	line-height:val;
	text-align:center;    

html
	height: 100%;
	color:#222;

body
	padding: 0;
	margin: 0;
	font: 14px/20px Helvetica, "Lato", Arial, sans-serif;
	height: 100%;
	width: 100%;
	displayFlex();
	flexFlow(row, wrap);
	align-items: stretch;
	-webkit-font-smoothing:antialiased

*, *::before, *::after 
	box-sizing: border-box;

a
	color:inherit;

ul,li
	padding:0;
	margin:0;
	list-style: none;
.center 
	text-align:center;

.form-input, .form-control
	border-radius: 3px;
	border: 1px solid #EDEDED;
	padding: 5px 10px;        
	width: 100%;
	font-size: 14px;  
.input-button
	font-size:20px;
	background-color:#2ea664;    
	color:white;
	padding:10px;
	border-radius:5px;
	width:120px;
	text-align:center;
	cursor:pointer;

.input-group, .input-group .form-input
	displayFlex();
.auto-height 
	 height:initial!important;
img
	vertical-align: middle;
	border-style: none;
input:focus
	outline:none;
.mr5
	margin-right:5px;

.mr10
	margin-right:15px;
.no-margin
	margin:0!important;
.no-padding
	padding:0!important;
.padding5
	padding:5px;

.circle
	border-radius:50%;
.pointer 
	cursor:pointer;
.tool-button    
   button(40px);
   line-height: 45px;

.tool-button:hover
	color:$buttonHoverColor

.tool-button.selected
	background-color:rgba(0,0,0,0.2);

.tool-button .fa    
	font-size:24px;    

.small-button
   button(30px);

.small-button:hover
	color:$buttonHoverColor
.large-font
	font-size:20px;
.big-button
	button(50px);
	displayFlex();
	align-items: center;    
	justify-content: center;
	color:$buttonHoverColor;
	cursor:pointer;
.big-button i 
	color:#444;
.big-button:hover i
	color:$buttonHoverColor

.big-button .fa  
	font-size:34px;    
.circle-button
	font-size:22px;    
	padding:5px 8px;
	color:$buttonHoverColor;

.btn-group
	display:inline-block;
	position:relative;
	vertical-align:middle;
	margin-right:5px;
.btn
	display:inline-block;
	padding:6px 12px;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	user-select:none;
	border:1px solid #d5dbe6;
	background-color:#e6e6e6;
	white-space:nowrap;
.btn:hover
	background-color:#f6f6f6;
	color:black;
.btn-primary
	background-color:lightskyblue;
	color:white;
.btn-round
	border-radius: 10px;

.btn-group .btn:first-child 
	border-top-left-radius:3px;
	border-bottom-left-radius: 3px;

.btn-group .btn:last-child 
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;

.btn-xs 
	padding:1px 6px;
	font-size:12px;
 .button-link
	cursor:pointer;
	color:#5cb85c;
.button-link:hover
	text-decoration:underline;

.clearfix:after 
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;

.center
	text-align:center;
	justify-content: center;

.loginLayer
	position:absolute;
	z-index:1000;
	left:0;
	right:0;
	top:0;
	bottom:0;
	displayFlex();
	align-items:center;
	justify-content: center;
	background-color:rgba(0,0,0, 0.7);

.loginFormWrapper
	border:$layoutborder;
	width:500px;
	height:320px;
	border-radius:5px;
	background-color:white;
	padding:20px;

.login-content
	border-top:$layoutborder;
	margin:10px auto;
	padding:10px 0;
	text-align:center;

.login-content .sub-header
	margin-bottom:30px;
	font-weight:400;

.login-content .or
	margin:10px auto;
	color:#777;

.btLogin, .btRegister
	border:$layoutborder;
	border-radius:8px;
	padding:10px 30px;
	color:white;
	background-color:#5cb85c;
	display:inline-block;
	cursor:pointer;
	text-decoration:none;

.btRegister
	background-color:#337ab7;

.btLogin:hover
	background-color: #449d44;

.btRegister:hover
	background-color:#286090;

.left-pane
	flexSize($leftpanelWidth);    
	height: 100%;
	background-color: black;
	display:flex;
	flexFlow(column, wrap);
	border-right:$layoutborder;

.main-contain
	flexSize("calc(100% - %s)" %$leftpanelWidth);        
	height: 100%;
	background-color: #FFF;
	displayFlex();
	flexFlow(column, nowrap);
	width:100%;    
	overflow:auto;

.navbar
	position: relative;
	displayFlex();
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: bottom;
	align-items: bottom;
	-ms-flex-pack: justify;
	justify-content: space-between;    
	background-color:$leftpanelbackground
	flexSize($topHeight);       
	border-bottom:$layoutborder;

.chat-pane
	displayFlex();
	flexFlow(column, nowrap);
	flexSize(100%);
	height: 100%;
	width:100%;    
	overflow:auto;

.top-bar
	padding:$leftpanelPadding;    
	displayFlex();
	flexSize(100%);
	align-items:center;
	font-size:20px;
	color:#444;
	position:relative;

.navbar-brand
	display: inline-block;
	padding-top: 0.3125rem;
	padding-bottom: 0.3125rem;
	margin-right: 1rem;
	font-size: 1.25rem;
	line-height: inherit;
	white-space: nowrap;

.divAccButtonWrapper
	position:absolute;
	right:10px;
	top:8px;


.btAccountMenu
	color:#555;
	cursor:pointer;
	padding:5px 3px 2px;
	border:1px solid transparent;
	border-radius:5px;
	
.btAccountMenu.open    
	background-color:rgba(0,0,0,0.2);    

.btAccountMenu:hover, .btCreateChat:hover
	color:$buttonHoverColor

.btAccountMenu span
	font-size:24px;

#accountAvatar
	width:60px;
	height:60px;
	margin:0 10px 0 0;
	border:$layoutborder;
	border-radius:50%;
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
	float:left;

.accountInfo
	float:left;
	width:150px;
.accountName a 
	text-decoration:none;
	font-weight:bold;    
.accountOtherInfo
	margin-top:5px;    
.accountInfoWrapper
	padding:10px 0; 
	border-bottom:$layoutborder;
.accountLinks
	padding:10px;
.accountLinks a
	display:block;
	color:#555;
	text-decoration:none;
	margin:5px 0;
	font-size:16px;

.accountLinks a:hover
	color:$buttonHoverColor;
.accountLinks .fa
	width:20px;
.accountInfoDropdown
	font-size:15px;
	position:absolute;
	right:-8px;
	top:37px;
	width:"calc(%s - 6px)" %$leftpanelWidth;
	height:200px;
	background-color:white;
	border:1px solid rgba(0, 0, 0, 0.15);
	box-shadow:0 6px 12px rgba(0, 0, 0, 0.175);
	display:none;
	z-index:100; 
	user-select:none;

.accountInfoDropdown:after
	position:absolute;
	top:-11px;
	border-style:solid;
	border-color:transparent;
	border-top-color:rgba(0,0,0,0.15);
	right:15px;
	height:0;
	width:0;
	content: " "
	border-width:10px;

.search-bar    
	displayFlex();
	position:relative;
	width:100%;
	border-top:$layoutborder;    

.search-bar input
	searchinput();    

.search-label
	position:absolute;
	left:10px;
	top:10px;
	color:#555;

.btClear
	position:absolute;
	right:10px;
	top:8px;  
	cursor:pointer;
	color:#333;
	border:1px solid #DDD;
	padding:4px 7px;
	border-radius: 50%;
	display: none;

img.room-avatar
	avatar-box()
.text-muted
	color:#6c757d!important;
.chat-pane-list
	flexSize("calc(100% - %s)" %$topHeight);    
	displayFlex();
	overflow:auto;
	background-color:$leftpanelbackground
.chat-list
	width:100%;
.chat-list li
	height:75px;
	displayFlex();
	flexSize(100%);
	padding:5px 10px;    
	cursor:pointer;
	align-items: center;  
	position:relative;

.chat-list li:hover, .chat-list li.selected
	background-color: $backgroundHoverColor;
	
.chat-list li[data-view=false] .chat-room-name, .chat-list li[data-view=false] .last-message
	font-weight:700!important;
	color:black!important;

.chat-list li[data-view=false] .last-message-time
	color:#0084ff;

.chat-list li .chat-item
	displayFlex();
	flexSize(calc(100% - 50px));    
	justify-content: space-between;
	flexFlow(row, wrap);
	padding:0 0 0 10px;

.chat-list li .chat-item .chat-info    
	displayFlex();
	flexSize(100%);
	flexFlow(row, wrap);

.chat-item .action-message    
	word-break: break-word;
	word-wrap: break-word;

.chat-list li .chat-info .chat-room-name
	flexSize(calc(100% - 70px));
	height:20px;
	overflow: hidden;	
	text-overflow: ellipsis;
	word-break: break-all;
	word-wrap: break-all;
	
.chat-list li .chat-info .last-message-time    
	displayFlex();
	flexSize(70px);
	justify-content:flex-end;

.chat-list li .chat-room-name
	font-weight:400;
	font-size:17px;

.chat-list li .chat-item .last-message
	overflow:hidden;
	text-overflow:ellipsis;
	width:100%;
	display:block;
	color: #666;    
	overflow: hidden;
	text-overflow: ellipsis;
	margin-top:3px;
	height:20px;    
	word-wrap: break-word;
	word-break: break-all;

.chat-list li .chat-item .last-message img
	height:20px;
	width:20px;    
	margin-right:5px;

.chat-top-bar
	displayFlex();
	flexSize($topHeight);    
	border-bottom: $layoutborder;
	flexFlow(row, wrap);
	align-items: center;
	padding:10px;
	width:100%;

.chat-top-bar .box-avatar 
	avatar-box();

.chat-top-bar .box-info
	displayFlex();
	flexSize("calc(100% - %s - 50px)" %$extentPaneWidth);    
	flexFlow(row, wrap);
	padding:0 15px;

.chat-top-bar .box-name    
	font-size:20px;    
	displayFlex();
	flexSize(100%);    
	height:20px;
	height: 30px;
	line-height: 1.8;
	overflow:hidden;
	word-break: break-word;
	word-wrap: break-word;

.chat-top-bar .box-name a
	text-decoration: none;

.chat-top-bar .box-name a:hover
	text-decoration: underline;

.chat-top-bar .boxMoreInfo
	displayFlex();
	flexSize(100%);    
	margin-top:5px;
	color:#666;

.chat-top-bar .tool-section
	displayFlex();
	flexSize($extentPaneWidth);  
	justify-content:flex-end;  

.chat-top-bar .tool-section .search-chat
	width:280px;
	position:relative;
	padding: $leftpanelPadding;

.chat-top-bar .tool-section .search-in-chat
	searchinput();
	font-size:16px;
	padding:10px 15px 10px 35px;
	border:$layoutborder;

.chat-main
	flexSize("calc(100% - %s)" %$topHeight);    
	displayFlex();
	flexFlow(row, nowrap);
	overflow:auto;

.chat-main .chat-window
	displayFlex();
	flexSize("calc(100% - %s)" %$extentPaneWidth);    
	flex:1 1 100%;
	-ms-flex:1 1 100%;
	border-right: $layoutborder;
	flexFlow(column, wrap);
	position:relative;

.chat-main .chat-window .chat-logs
	displayFlex();
	flexSize(calc(100% - 60px));    
	border-bottom:$layoutborder;    
	overflow:auto;  
.chat .chat-logs
	position:initial;
.chat .chat-logs.chat-search-result
	padding-bottom:0;

.chat-main .chat-window .chat-input
	displayFlex();
	flexSize(60px);    
	flexFlow(row, wrap)
	overflow:hidden

.chat-main .chat-input .text-input
	displayFlex();
	flexSize(calc(100% - 180px));    

.chat-main .chat-input .other-input
	displayFlex();
	flexSize(180px);    
	align-items:center;
	position:relative;
.chat-input-disabled
	displayFlex();
	flexSize(100%);
	align-items:center;
	text-align:center;
	justify-content:space-evenly

.chat-main .text-input textarea
	width:100%;
	height:100%;
	border:0px none;    
	resize:none;
	font-size:15px;
	padding:5px 15px;    
.chat-main .text-input textarea:focus
	 outline:none;
.chat-main .chat-added-info
	displayFlex();
	flexSize($extentPaneWidth);    
	flexFlow(column, wrap);

.extend-pane
	displayFlex();
	flexSize(100%);    
	flexFlow(column, wrap);
	overflow:hidden;

.hide
	display:none!important;

.extend-pane .header
	displayFlex();
	flexSize(50px);    
	background-color:#f9f9f9;
	font-size:18px;    
	align-items: center;
	padding:$boxPadding;
	border-bottom:$layoutborder;
	position:relative;

.btCloseExPane
	font-weight:100;
	font-size:20px;
	position:absolute;
	right:15px;
	top:5px;

.extend-pane .pane-content
	displayFlex();
	--flexSize(calc(100% - 50px));    
	flexSize(calc(100%));    
	flexFlow(column, wrap)    
	overflow:auto;

.extend-pane .pane-content .search-pane
	displayFlex();
	flexSize(40px); 
	position:relative;    
	
.extend-pane .pane-content .search-pane input
	searchinput();
	background-color:white;
	border-bottom:$layoutborder;

.extend-pane .pane-content .scroll-content
	displayFlex();
	flexSize(calc(100% - 40px));    
	overflow:auto;

.no-result
	width:100%;
	text-align: center;
	margin-top: 20px;
	font-size: 16px;
	color: #666;
.item-list
	width:100%;

.item-list li
	displayFlex();
	align-items:center;   
	position:relative; 
	width: "calc(%s - 20px)" %$extentPaneWidth;


.item-list > li > a 
	displayFlex();
	align-items:center;
	flexSize(100%);
	padding:10px;
	cursor: pointer;
	width:100%;
	overflow:hidden;
	text-overflow:ellipsis;
	text-decoration: none;    
	
.item-list li:hover
	background-color: $backgroundHoverColor;

.item-list .item-name
	display:block;    
	text-overflow: ellipsis;
	overflow: hidden;
	padding:0 10px;
	font-size:16px;    
	max-width:"calc(%s - 40px)" %$extentPaneWidth;
	word-wrap: break-word;
	word-break:break-word;

.item-list .member .item-name
	padding:0 10px 0 15px;

.item-list .author-info
	display:block;    
	text-overflow: ellipsis;
	overflow: hidden;
	padding:0 10px;
	color:#777;
.item-list .member .author-info
	padding:0 10px 0 15px;

.item-list .author-info span
	margin-left:10px;    
.item-list .member-button-wrapper
	position: absolute;
	right: 15px;
	top: 10px;    
	
.item-list .member-button    
	cursor: pointer;
	color:#999;
	display:none;

li:hover .member-button
	display:block;
.item-list img.preview, .item-list .fileType
	width:30px;
	height:30px;
	font-size:30px;
	line-height: 30px;
	color:lightskyblue;

.avatar-chat 
	width:35px;
	height:35px;

.avatar-small
	width:30px;
	height:30px;
.avatar-wrapper
	position:relative;
.user-status 
	position:absolute;
	right:-2px;
	bottom:-2px;
	width:10px;
	height:10px;
	border-radius:50%;
.user-status.on
	background:radial-gradient(ellipse at center, #b4f386 0%, #61c419 50%, #b4e391 100%)
.user-status.off
	background:radial-gradient(ellipse at center,#cedce7 0%,#596a72 100%);
li.search 
	margin:10px 10px 20px;
	border: $layoutborder;
	border-radius: 5px;
	padding:5px;
	overflow:hidden;
	width:360px!important;
	flexFlow(row, wrap) ;
	align-items:unset;

li.search:hover
	background-color:white;
	
.search .message-wrapper
	displayFlex();
	flexSize(calc(100% - 40px));
	flexFlow(row, wrap);
	padding-left:10px;

.search .message-data
	displayFlex();
	flexSize(100%);
	overflow:hidden;
.search .message     
	flexSize(100%);
	overflow:hidden;
	border-radius:5px;
	border: 1px solid #EEE;        
	background-color:#f1f0f0;
	padding:5px 10px;
	margin-top:5px;
	position:relative;
	word-wrap: break-word;
	word-break: break-word;

.search .message:after
	position: absolute;    
	border: solid transparent;    
	bottom: 100%;    
	content: " ";
	height: 0;
	width: 0;    
	pointer-events: none;    
	border-width: 10px;
	border-bottom-color: #f1f0f0;
	left: 15px;

.search .message-link-wrapper
	border-radius: 5px;
	border: 1px solid #EEE;        
.search .message-link-img 
	border-radius: 5px 5px 0 0;
	height: 60px;
	display: block;
	background-position: center;
	background-size: cover;
.search .message-data-name
	font-weight:bold;
.search .message-link-wrapper .message-link-info 
	padding: 5px;    
.search .btGo, .search .btPin
	position:absolute;
	right:25px;
	top:5px;
	cursor:pointer;

.search .btPin	
	right:5px;
	
.search-result-title
	position: absolute;
	height:50px;
	line-height:50px;
	background-color:#f9f9f9;
	top:0;
	left:0;
	right:0;
	padding:0 20px;    
	font-size:18px;
	z-index:100;
.search-result-body
	overflow:auto;
	flexSize(100%);
.search-result-title span
	font-weight:bold;

.chat-search-result > ul 
	margin-top:50px;

.btCloseSearchResult 
	position:absolute;
	right:20px;
	top:20px;
.avatar-chat-search
	width:30px;
	height:30px;
	margin-right:10px;
	border-radius: 50%;
.search-member-info
	color:#555;
	margin-left:10px;
.select2-container--default.select2-container--focus .select2-selection--multiple 
	border: $layoutborder;

.select2-container .select2-selection--multiple
	min-height:40px;
.select2-container--default .select2-results > .select2-results__options
	max-height:300px;
.select2-dropdown
	border: $layoutborder;

.dropdown-menu
	position:absolute;
	right:0px;
	top:34px;
	width:200px;    
	background-color:white;
	border:1px solid rgba(0, 0, 0, 0.15);
	box-shadow:0 6px 12px rgba(0, 0, 0, 0.175);
	display:none;
	z-index:100; 
	user-select:none;

.dropdown-menu .menu-divider
	border-bottom:1px solid #EDEDED;
.dropdown-menu .menu-item
	padding:5px 10px;
.dropdown-menu .menu-item:hover
	background-color:$backgroundHoverColor;
.dropdown-menu .menu-item a
	text-decoration: none;
	cursor: pointer;
	display:block;
.dropdown-button.open
	display:block!important;    
	color:$buttonHoverColor;
	border:1px solid #DDD;

.editable:hover
	outline:1px dashed #DEDEDE;	
.editable input
	border:$layoutborder;
	padding:4px;
	font-size:20px;
	min-width:60%;
.editable form
	width:90%;
.editable button[type=submit] 
	background-color: #5cb85c;
	border-color: #4cae4c;
	color: #fff;
	padding:7px 10px;

.editable-img:hover
	outline:1px dashed #DEDEDE;	
	cursor:pointer;

.nav-button
	margin:2px 30px 0 10px;

.menuMain
	font-size:15px;
	position:absolute;
	right:0;
	left:0;
	top:35px;
	background-color:white;
	border:1px solid rgba(0, 0, 0, 0.15);
	box-shadow:1px 6px 12px rgba(0, 0, 0, 0.175);
	display:none;
	z-index:100; 
	user-select:none;	
	padding:10px 0;
	font-weight:600;

.menu-item
	display:block;
	padding:10px;
.menu-item span.fa
	margin:0 30px 0 10px;
	font-size:16px;
.menu-item:hover
	background-color:#4caf5022;
.menu-item:hover
	color:$buttonHoverColor;

.pinWrap
	display:none;
	position:absolute;
	right:5px;
	bottom:5px;
li:hover .pinWrap, li.pin-room .pinWrap
	display:block;
		
@keyframes highlight 
	0% 
		background: #ffff99; /* lovely yellow colour */
	
	100% 
		background: none;
	

.highlight 
	animation: highlight 3s;

.config-line
	padding:10px;	
	width:100%;
.config-line a
	word-wrap: break-word;
	word-break: break-all
.config-line p
	margin:5px 0;
.action-link
	font-size:16px;
	color:#555;	
	text-decoration:none;
.action-link:hover
	color:#5cb85c;
.action-link span
	width:10px;
	text-align:center;
	margin-left:5px;
	margin-right:15px;
.bottom-line
	border-bottom:3px solid #EEE;
.top-line
	border-top:3px solid #EEE;
.sub-heading
	font-weight:600;
	color:#555;
	font-size:16px;

@media screen and (max-width: 1366px) 
	.left-pane
		flexSize($leftpanelWidthSmall);   
	.main-contain
		flexSize("calc(100% - %s)" %$leftpanelWidthSmall);        
	.chat-top-bar .box-info    
		flexSize("calc(100% - %s - 50px)" %$extentPaneWidthSmall);   
	.chat-top-bar .tool-section    
		flexSize($extentPaneWidthSmall);       
	.chat-main .chat-added-info    
		flexSize($extentPaneWidthSmall); 
	.item-list li    
		width: "calc(%s - 20px)" %$extentPaneWidthSmall;
	.item-list .item-name        
		max-width:"calc(%s - 40px)" %$extentPaneWidthSmall;
	.accountInfoDropdown    
		width:"calc(%s - 6px)" %$leftpanelWidthSmall;
	li.search 
		width:310px!important;
	.mr10
		margin-right:10px;
		