@import url("chatHistory.css");
@import url("emoji.css");
html {
  height: 100%;
  color: #222;
}
body {
  padding: 0;
  margin: 0;
  font: 14px/20px Helvetica, "Lato", Arial, sans-serif;
  height: 100%;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  align-items: stretch;
  border: 1px solid #e8e8e8;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.mr5 {
  margin-right: 5px;
}
.mr10 {
  margin-right: 15px;
}
.no-margin {
  margin: 0 !important;
}
.no-padding {
  padding: 0 !important;
}
.padding5 {
  padding: 5px;
}
.hide {
  display: none !important;
}
.center {
  text-align: center;
  justify-content: center;
}
a {
  color: inherit;
  text-decoration: none;
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
input:focus,
textarea:focus {
  outline: none;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.pointer {
  cursor: pointer;
}
.brighttheme.ui-pnotify-container {
  padding: 10px 20px;
}
.big-button {
  border-radius: 3px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #008000;
  cursor: pointer;
}
.big-button i {
  color: #444;
}
.big-button:hover i {
  color: #008000;
}
.big-button .fa {
  font-size: 34px;
}
.circle-button {
  font-size: 22px;
  padding: 5px 8px;
  color: #008000;
}
.btn-group {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin-right: 5px;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid #d5dbe6;
  background-color: #e6e6e6;
  white-space: nowrap;
}
.btn:hover {
  background-color: #f6f6f6;
}
.btn-primary {
  background-color: #87cefa;
  color: #fff;
}
.btn-group .btn:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.btn-group .btn:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.btn-xs {
  padding: 1px 6px;
  font-size: 12px;
}
.pull-right {
  float: right;
  margin-left: auto;
}
img.room-avatar {
  width: 20px;
  height: 20px;
}
.left-pane {
  flex: 0 0 150px;
  -ms-flex: 0 0 150px;
  height: 100%;
  display: flex;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  border-right: 1px solid #e8e8e8;
}
.main-contain {
  flex: 0 0 calc(100% - 150px);
  -ms-flex: 0 0 calc(100% - 150px);
  height: 100%;
  background-color: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  width: 100%;
  overflow: auto;
}
.search-bar {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  flex: 0 0 40px;
  -ms-flex: 0 0 40px;
  border-bottom: 1px solid #e8e8e8;
}
.search-bar input {
  border-radius: 3px;
  border: none;
  padding: 5px 24px 7px 24px;
  background: #f6f7f9;
  width: 100%;
  font-size: 14px;
}
.search-label {
  position: absolute;
  left: 5px;
  top: 13px;
  color: #555;
}
.btClear {
  position: absolute;
  right: 5px;
  top: 8px;
  cursor: pointer;
  color: #333;
  border: 1px solid #ddd;
  padding: 3px 5px;
  border-radius: 50%;
  color: #999;
  display: none;
}
.chat-pane {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.chat-top-bar {
  display: -ms-flexbox;
  display: flex;
  flex: 0 0 40px;
  -ms-flex: 0 0 40px;
  border-bottom: 1px solid #e8e8e8;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  align-items: center;
  padding: 10px;
  width: 100%;
  background-color: #eee;
}
.chat-top-bar .box-info {
  display: -ms-flexbox;
  display: flex;
  flex: 0 0 calc(100% - 30px);
  -ms-flex: 0 0 calc(100% - 30px);
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.chat-top-bar .box-name {
  font-size: 18px;
  padding: 0 10px;
  height: 20px;
  line-height: 21px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  word-wrap: break-word;
}
.chat-window {
  display: -ms-flexbox;
  display: flex;
  flex: 0 0 calc(100% - 40px);
  -ms-flex: 0 0 calc(100% - 40px);
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  overflow: auto;
}
.chat-window .chat-logs {
  display: -ms-flexbox;
  display: flex;
  flex: 0 0 calc(100% - 100px);
  -ms-flex: 0 0 calc(100% - 100px);
  border-bottom: 1px solid #e8e8e8;
  overflow: auto;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}
.chat-window .chat-input {
  display: -ms-flexbox;
  display: flex;
  flex: 0 0 100px;
  -ms-flex: 0 0 100px;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  overflow: hidden;
}
.chat-window .chat-input .text-input {
  display: -ms-flexbox;
  display: flex;
  flex: 0 0 55px;
  -ms-flex: 0 0 55px;
}
.chat-window .text-input textarea {
  width: 100%;
  height: 100%;
  border: 0px none;
  resize: none;
  font-size: 15px;
  padding: 5px 10px;
}
.chat-window .chat-input .other-input {
  display: -ms-flexbox;
  display: flex;
  flex: 0 0 45px;
  -ms-flex: 0 0 45px;
  align-items: center;
  position: relative;
  padding: 0 10px;
}
.chat-pane-list {
  flex: 0 0 calc(100% - 40px);
  -ms-flex: 0 0 calc(100% - 40px);
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  background-color: $leftpanelbackground;
}
.chat-list {
  width: 100%;
}
.chat-list li {
  height: 45px;
  display: -ms-flexbox;
  display: flex;
  flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  padding: 5px 10px;
  cursor: pointer;
  align-items: center;
  position: relative;
}
.chat-list li:hover,
.chat-list li.selected {
  background-color: rgba(0,0,0,0.05);
}
.chat-list li[data-view=false] .chat-room-name,
.chat-list li[data-view=false] .last-message {
  font-weight: 700 !important;
  color: #000 !important;
}
.chat-list li[data-view=false] .last-message-time {
  color: #0084ff;
}
.chat-list li .chat-item {
  display: -ms-flexbox;
  display: flex;
  flex: 0 0 calc(100% - 20px);
  -ms-flex: 0 0 calc(100% - 20px);
  justify-content: space-between;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  padding: 0 0 0 5px;
}
.chat-list li .chat-item .chat-info {
  display: -ms-flexbox;
  display: flex;
  flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.chat-item .action-message {
  padding: 0 10px;
  word-break: break-word;
  word-wrap: break-word;
}
.chat-list li .chat-info .chat-room-name {
  flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  height: 20px;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
}
.chat-list li .chat-room-name {
  font-weight: 400;
  font-size: 14px;
}
.emoji-wrapper {
  right: initial;
  left: 150px;
}
.loginLayer {
  position: absolute;
  z-index: 1000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #39a900;
}
.loginFormWrapper {
  border: 1px solid #e8e8e8;
  width: 99%;
  height: 99%;
  background-color: #fff;
  padding: 20px;
}
.login-content {
  border-top: 1px solid #c7c7c7;
  margin: 10px auto;
  padding: 10px 0;
  text-align: center;
}
.login-content .sub-header {
  margin-bottom: 30px;
  font-weight: 400;
}
.login-content .or {
  margin: 10px auto;
  color: #777;
}
.btLogin,
.btRegister {
  padding: 10px 30px;
  color: #008000;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  font-size: 17px;
}
.btLogin:hover,
.btRegister:hover {
  text-decoration: underline;
}
.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: bottom;
  align-items: bottom;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: $leftpanelbackground;
  flex: 0 0 40px;
  -ms-flex: 0 0 40px;
  border-bottom: 1px solid #e8e8e8;
}
.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}
.pane-layer {
  z-index: 10;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
}
.divMenuButton {
  display: none;
  position: absolute;
  left: 2px;
  top: 8px;
}
.btNav {
  padding: 5px 10px;
  cursor: pointer;
  font-size: 24px;
  color: #888;
  font-weight: 100;
}
.btGoToFull {
  display: block;
  padding: 10px 5px 3px 0;
}
.btGoToFull img {
  border-radius: 50%;
  border: 1px solid #eee;
  width: 32px;
}
.chat-input-disabled {
  display: -ms-flexbox;
  display: flex;
  flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
}
.pinWrap {
  display: none;
  position: absolute;
  right: 5px;
  bottom: 1px;
}
li:hover .pinWrap,
li.pin-room .pinWrap {
  display: block;
}
@media screen and (min-width: 600px) {
  .left-pane {
    flex: 0 0 190px;
    -ms-flex: 0 0 190px;
  }
  .main-contain {
    flex: 0 0 calc(100% - 190px);
    -ms-flex: 0 0 calc(100% - 190px);
  }
}
@media screen and (max-width: 400px) {
  .pane-layer {
    top: 41px;
  }
  .left-pane {
    position: absolute;
    left: -400px;
    width: 90%;
    top: 41px;
    bottom: 0;
    z-index: 100;
    background-color: #fff;
    height: calc(100% - 41px);
    display: none;
    overflow: hidden;
  }
  .main-contain {
    flex: 0 0 100%;
  }
  .chat-top-bar {
    padding-left: 40px;
  }
  .divMenuButton {
    display: block;
  }
  .emoji-wrapper {
    left: 5px;
  }
}
