﻿@import url(chatHistory.css);
@import url(emoji.css);

$leftpanelWidth = 150px;
$leftpanelWidthLarge = 190px;
$layoutborder = 1px solid #e8e8e8;
$buttonHoverColor = green;
$topHeight = 40px;
$backgroundHoverColor = rgba(0, 0, 0, .05);

displayFlex()
	display: -ms-flexbox;
	display: flex;

flexFlow(dir, wr)
	-ms-flex-flow: dir wr;
	flex-flow: dir wr;

flexSize(val)
	flex:0 0 val;
	-ms-flex:0 0 val;

searchinput()
	border-radius: 3px;
	border: none;
	padding: 5px 24px 7px 24px;
	background: #f6f7f9;
	width: 100%;
	font-size: 14px;
button(val)
	border-radius:3px;
	width:val;
	height:val;
	line-height:val;
	text-align:center; 

html
	height: 100%;
	color:#222;

body
	padding: 0;
	margin: 0;
	font: 14px/20px Helvetica, "Lato", Arial, sans-serif;
	height: 100%;
	width: 100%;
	displayFlex();
	flexFlow(row, wrap);
	align-items: stretch;
	border:$layoutborder

*, *::before, *::after 
	box-sizing: border-box;
.mr5
	margin-right:5px;

.mr10
	margin-right:15px;
.no-margin
	margin:0!important;
.no-padding
	padding:0!important;
.padding5
	padding:5px;
.hide
	display:none!important;
.center
	text-align:center;
	justify-content: center;
a
	color:inherit;
	text-decoration:none;

ul,li
	padding:0;
	margin:0;
	list-style: none;
input:focus, textarea:focus
	outline:none;

.clearfix:after
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
.pointer
	cursor:pointer;
.brighttheme.ui-pnotify-container
	padding:10px 20px;
.big-button
	button(40px);
	displayFlex();
	align-items: center;
	justify-content: center;
	color:$buttonHoverColor;
	cursor:pointer;
.big-button i
	color:#444;
.big-button:hover i
	color:$buttonHoverColor

.big-button .fa
	font-size:34px;
.circle-button
	font-size:22px;
	padding:5px 8px;
	color:$buttonHoverColor;

.btn-group
	display:inline-block;
	position:relative;
	vertical-align:middle;
	margin-right:5px;
.btn
	display:inline-block;
	padding:6px 12px;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	user-select:none;
	border:1px solid #d5dbe6;
	background-color:#e6e6e6;
	white-space:nowrap;
.btn:hover
	background-color:#f6f6f6;
.btn-primary
	background-color:lightskyblue;
	color:white;

.btn-group .btn:first-child
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;

.btn-group .btn:last-child
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;

.btn-xs
	padding:1px 6px;
	font-size:12px;
.pull-right
	float:right;
	margin-left: auto;

img.room-avatar
	width:20px;
	height:20px;

.left-pane
	flexSize($leftpanelWidth);
	height: 100%;	
	display:flex;
	flexFlow(column, wrap);
	border-right:$layoutborder;

.main-contain
	flexSize("calc(100% - %s)" %$leftpanelWidth);
	height: 100%;
	background-color: #FFF;
	displayFlex();
	flexFlow(column, nowrap);
	width:100%;
	overflow:auto;

.search-bar
	displayFlex();
	position:relative;
	width:100%;
	flexSize($topHeight);
	border-bottom:$layoutborder;

.search-bar input
	searchinput();

.search-label
	position:absolute;
	left:5px;
	top:13px;
	color:#555;

.btClear
	position:absolute;
	right:5px;
	top:8px;
	cursor:pointer;
	color:#333;
	border:1px solid #DDD;
	padding:3px 5px;
	border-radius: 50%;
	color:#999;
	display:none;
.chat-pane
	displayFlex();
	flexFlow(column, nowrap);
	flexSize(100%);
	height: 100%;
	width:100%;
	overflow:hidden;
.chat-top-bar
	displayFlex();
	flexSize($topHeight);
	border-bottom: $layoutborder;
	flexFlow(row, wrap);
	align-items: center;
	padding:10px;
	width:100%;
	background-color:#EEE;

.chat-top-bar .box-info
	displayFlex();
	flexSize(calc(100% - 30px));
	flexFlow(row, wrap);

.chat-top-bar .box-name
	font-size:18px;
	padding:0 10px;
	height:20px;
	line-height:21px;
	overflow:hidden;
	text-overflow:ellipsis;
	word-break: break-word;
	word-wrap: break-word;

.chat-window
	displayFlex();
	flexSize("calc(100% - %s)" %$topHeight);
	flexFlow(column, nowrap);
	overflow:auto

.chat-window .chat-logs
	displayFlex();
	flexSize(calc(100% - 100px));
	border-bottom:$layoutborder;
	overflow:auto;
	flexFlow(row, nowrap);

.chat-window .chat-input
	displayFlex();
	flexSize(100px);
	flexFlow(column, wrap)
	overflow:hidden

.chat-window .chat-input .text-input
	displayFlex();
	flexSize(55px);
.chat-window .text-input textarea
	width:100%;
	height:100%;
	border:0px none;
	resize:none;
	font-size:15px;
	padding:5px 10px;

.chat-window .chat-input .other-input
	displayFlex();
	flexSize(45px);
	align-items:center;
	position:relative;
	padding:0 10px;

.chat-pane-list
	flexSize("calc(100% - %s)" %$topHeight);
	displayFlex();
	overflow:auto;
	background-color:$leftpanelbackground;
.chat-list	
	width:100%;
.chat-list li
	height:45px;
	displayFlex();
	flexSize(100%);
	padding:5px 10px;
	cursor:pointer;
	align-items: center;
	position:relative;

.chat-list li:hover, .chat-list li.selected
	background-color: $backgroundHoverColor;

.chat-list li[data-view=false] .chat-room-name, .chat-list li[data-view=false] .last-message
	font-weight:700!important;
	color:black!important;

.chat-list li[data-view=false] .last-message-time
	color:#0084ff;

.chat-list li .chat-item
	displayFlex();
	flexSize(calc(100% - 20px));
	justify-content: space-between;
	flexFlow(row, wrap);
	padding:0 0 0 5px;

.chat-list li .chat-item .chat-info
	displayFlex();
	flexSize(100%);
	flexFlow(row, wrap);

.chat-item .action-message
	padding:0 10px;
	word-break: break-word;
	word-wrap: break-word;

.chat-list li .chat-info .chat-room-name
	flexSize(100%);
	height:20px;
	word-break: break-all;
	overflow: hidden;
	text-overflow: ellipsis;

.chat-list li .chat-room-name
	font-weight:400;
	font-size:14px;

.emoji-wrapper
	right:initial;
	left:$leftpanelWidth;


.loginLayer
	position:absolute;
	z-index:1000;
	left:0;
	right:0;
	top:0;
	bottom:0;
	displayFlex();
	align-items:center;
	justify-content: center;
	background-color:rgb(57, 169, 0);

.loginFormWrapper
	border:$layoutborder;
	width:99%;
	height:99%;	
	background-color:white;
	padding:20px;

.login-content
	border-top:1px solid #c7c7c7;
	margin:10px auto;
	padding:10px 0;
	text-align:center;

.login-content .sub-header
	margin-bottom:30px;
	font-weight:400;

.login-content .or
	margin:10px auto;
	color:#777;

.btLogin, .btRegister	
	padding:10px 30px;
	color:green;	
	display:inline-block;
	cursor:pointer;
	text-decoration:none;
	font-size:17px;


.btLogin:hover, .btRegister:hover
	text-decoration:underline;

.navbar
	position: relative;
	displayFlex();
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: bottom;
	align-items: bottom;
	-ms-flex-pack: justify;
	justify-content: space-between;
	background-color:$leftpanelbackground
	flexSize($topHeight);
	border-bottom:$layoutborder;
.navbar-brand
	display: inline-block;
	padding-top: 0.3125rem;
	padding-bottom: 0.3125rem;
	margin-right: 1rem;
	font-size: 1.25rem;
	line-height: inherit;
	white-space: nowrap;

.pane-layer
	z-index:10;
	background-color:rgba(0,0,0,0.5);
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	display:none;

.divMenuButton
	display:none;
	position:absolute;
	left:2px;
	top:8px;
.btNav
	padding:5px 10px;
	cursor:pointer;
	font-size:24px;
	color:#888;
	font-weight:100;
.btGoToFull	
	display:block;
	padding: 10px 5px 3px 0;
.btGoToFull	img
	border-radius:50%;
	border:1px solid #EEE;
	width:32px;

.chat-input-disabled
	displayFlex();
	flexSize(100%);
	align-items:center;
	text-align:center;
	justify-content:space-evenly
.pinWrap
	display:none;
	position:absolute;
	right:5px;
	bottom:1px;
li:hover .pinWrap, li.pin-room .pinWrap
	display:block;

@media screen and (min-width: 600px) 
	.left-pane
		flexSize($leftpanelWidthLarge)
	.main-contain
		flexSize('calc(100% - %s)' %$leftpanelWidthLarge);

@media screen and (max-width: 400px) 
	$barHeight = 41px;
	.pane-layer
		top:$barHeight;

	.left-pane
		position:absolute;		
		left:-400px;
		width:90%;
		top:$barHeight;
		bottom:0;
		z-index:100;
		background-color:white;
		height:"calc(100% - %s)" %$barHeight;
		display:none;
		overflow:hidden;

	.main-contain
		flex:0 0 100%;

	.chat-top-bar
		padding-left:40px;

	.divMenuButton
		display:block;
	.emoji-wrapper		
		left:5px;