﻿@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(chatHistory.css);
@import url(emoji.css);

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

    *, *:before, *:after {
        box-sizing: border-box;
    }

body {
    padding: 0;
    margin: 0;
    font: 14px/20px Helvetica, "Lato", Arial, sans-serif;
}

ul, ol {
    list-style: none;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


.container {
    margin: 0 auto;
    width: 100%;
    border-radius: 5px;
}

    /*.container.expanded {
        width: 390px;
    }*/

.or {
    text-align: center;
    color: #777;
}

.login-button, .register-button {
    display: block;
    text-align: center;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.register-button {
    margin: 10px auto 20px;
    width: 210px;
    background-color: #337ab7;
}

    .register-button:hover {
        background-color: #286090;
    }

.login-button {
    margin: 20px auto 10px;
    width: 120px;
    background-color: #5cb85c;
}

    .login-button:hover {
        background-color: #449d44;
    }

.chat-collapse {
    background-color: #4caf50;
    padding: 5px 15px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    display: none;
}

    .chat-collapse i {
        font-size: 16px;
        margin-right: 10px;
    }

    .chat-collapse .button_chat_online_text {
        vertical-align: middle;
        font-size: 14px;
        font-weight: bold;
        padding: 0 20px 0 0;
        cursor: pointer;
    }

.chat {
    box-shadow: 0 2px 25px rgba(0,0,0,.2);
    position:relative;
}
    .notify-bagde {
        display:none;
        border-radius:100%;
        background-color:darkorange;
        padding:3px;
        position:absolute;
        right:40px;
        top:2px;
        min-width:28px;
        text-align:center;
    }
    .chat .chat-bar {
        background-color: #4caf50;
        padding: 5px 10px;
        color: white;
        font-weight: bold;
        position: relative;
        border-radius: 5px 5px 0 0;
        cursor: pointer;
    }

        .chat .chat-bar .collapse-button, .chat-collapse .collapse-button {
            color: #FFF;
            font-size: 22px;
            padding-right: 12px;
            position: absolute;
            top: 5px;
            right: 5px;
        }

    .chat .chat-header {
        background-color: #F2F5F8;
        padding: 10px;
        height: 60px;
        clear: both;
        overflow: hidden;
    }

        .chat .chat-header img.avatar {
            float: left;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 2px #4caf50 solid;
        }

        .chat .chat-header img.item {
            float: right;
            width: 50px;
            height: 40px;
        }

        .chat .chat-header .chat-about {
            float: left;
            padding-left: 10px;
            width: 245px;
        }

        .chat .chat-header .chat-with {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            font-weight: bold;
            font-size: 16px;
        }

        .chat .chat-header .chat-info {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            color: #92959E;
        }

.brighttheme.ui-pnotify-container {
    padding:10px 20px;
}
#btGoToFullChat {
    margin-left:10px;
    cursor:pointer;
    color:#333;
}
.chat .seen-wrapper {
    bottom:0px!important;
}
.dragandrophandler.show {
    font-size:22px;
}
.chat .chat-logs .message {
    max-width:80%;
}

.left-pane {
    
}

@media (max-width: 480px) {
    .ui-pnotify-mobile-able.ui-pnotify {
        width: 390px!important;
        left: 15px;
    }
    .ui-pnotify.stack-modal {
        margin-left:0;
    }
    .brighttheme .ui-pnotify-action-bar {
        padding-top:0;
    }
}