﻿div(class="modal hide fade" id="forwardModal")
    div(class="modal-dialog" style="width:470px")
        div(class="modal-content")
            div(class="modal-header")
                a(class="modal-close btCloseModal")
                    span(class="fa fa-power-off")
                h4(class="modal-title") Chuyển tiếp
            div(class="modal-body" style="min-height:400px")
                div(class="clearfix")
                    div(class="search-bar")
                        input(id="tbSearchForwardList" type="text" placeholder="Search")
                        i(class="fa fa-search search-label")
                        i(class="fa fa-remove btClear" style="top:5px" id="btClearSearchForwardList")
                    div(class="chat-pane-list" style="height:440px;overflow:auto")
                        ul(id="divForwardList" class="chat-list")
                        ul(id="divForwardSearch" class="chat-list hide")
            div(class="modal-footer clearfix")               
                a(class="btn btn-primary btn-radius right" id="btForwardMessage" ) Gửi
                a(class="btn btn-primary btn-radius right mr10 btCloseModal") Đóng
