﻿<ul class="emoji-list emojis__list emojis__list--emojione emojis__list--24">
<li ><a  id="26bd"><span class="_26bd  emojione-24-activity"></span>
<div class="emojis__list__native">⚽</div></a></li>
<li ><a  id="1f3c0"><span class="_1f3c0  emojione-24-activity"></span>
<div class="emojis__list__native">🏀</div></a></li>
<li ><a  id="1f3c8"><span class="_1f3c8  emojione-24-activity"></span>
<div class="emojis__list__native">🏈</div></a></li>
<li ><a  id="26be"><span class="_26be  emojione-24-activity"></span>
<div class="emojis__list__native">⚾</div></a></li>
<li ><a  id="1f3be"><span class="_1f3be  emojione-24-activity"></span>
<div class="emojis__list__native">🎾</div></a></li>
<li ><a  id="1f3d0"><span class="_1f3d0  emojione-24-activity"></span>
<div class="emojis__list__native">🏐</div></a></li>
<li ><a  id="1f3c9"><span class="_1f3c9  emojione-24-activity"></span>
<div class="emojis__list__native">🏉</div></a></li>
<li ><a  id="1f3b1"><span class="_1f3b1  emojione-24-activity"></span>
<div class="emojis__list__native">🎱</div></a></li>
<li ><a  id="1f3d3"><span class="_1f3d3  emojione-24-activity"></span>
<div class="emojis__list__native">🏓</div></a></li>
<li ><a  id="1f3f8"><span class="_1f3f8  emojione-24-activity"></span>
<div class="emojis__list__native">🏸</div></a></li>
<li ><a  id="1f945"><span class="_1f945  emojione-24-activity"></span>
<div class="emojis__list__native">🥅</div></a></li>
<li ><a  id="1f3d2"><span class="_1f3d2  emojione-24-activity"></span>
<div class="emojis__list__native">🏒</div></a></li>
<li ><a  id="1f3d1"><span class="_1f3d1  emojione-24-activity"></span>
<div class="emojis__list__native">🏑</div></a></li>
<li ><a  id="1f3cf"><span class="_1f3cf  emojione-24-activity"></span>
<div class="emojis__list__native">🏏</div></a></li>
<li ><a  id="26f3"><span class="_26f3  emojione-24-activity"></span>
<div class="emojis__list__native">⛳</div></a></li>
<li ><a  id="1f3f9"><span class="_1f3f9  emojione-24-activity"></span>
<div class="emojis__list__native">🏹</div></a></li>
<li ><a  id="1f3a3"><span class="_1f3a3  emojione-24-activity"></span>
<div class="emojis__list__native">🎣</div></a></li>
<li ><a  id="1f94a"><span class="_1f94a  emojione-24-activity"></span>
<div class="emojis__list__native">🥊</div></a></li>
<li ><a  id="1f94b"><span class="_1f94b  emojione-24-activity"></span>
<div class="emojis__list__native">🥋</div></a></li>
<li ><a  id="1f3bd"><span class="_1f3bd  emojione-24-activity"></span>
<div class="emojis__list__native">🎽</div></a></li>
<li ><a  id="26f8"><span class="_26f8  emojione-24-activity"></span>
<div class="emojis__list__native">⛸️</div></a></li>
<li ><a  id="1f94c"><span class="_1f94c  emojione-24-activity"></span>
<div class="emojis__list__native">🥌</div></a></li>
<li ><a  id="1f6f7"><span class="_1f6f7  emojione-24-activity"></span>
<div class="emojis__list__native">🛷</div></a></li>
<li ><a  id="1f3bf"><span class="_1f3bf  emojione-24-activity"></span>
<div class="emojis__list__native">🎿</div></a></li>
<li ><a  id="26f7"><span class="_26f7  emojione-24-activity"></span>
<div class="emojis__list__native">⛷️</div></a></li>
<li ><a  id="1f3c2-1f3fb"><span class="_1f3c2-1f3fb  emojione-24-diversity"></span>
<div class="emojis__list__native">🏂🏻</div></a></li>
<li ><a  id="1f3cb-1f3fb"><span class="_1f3cb-1f3fb  emojione-24-diversity"></span>
<div class="emojis__list__native">🏋🏻</div></a></li>
<li ><a  id="1f3cb-1f3fb-2640"><span class="_1f3cb-1f3fb-2640  emojione-24-diversity"></span>
<div class="emojis__list__native">🏋🏻‍♀️</div></a></li>
<li ><a  id="1f93c-2640"><span class="_1f93c-2640  emojione-24-activity"></span>
<div class="emojis__list__native">🤼‍♀️</div></a></li>
<li ><a  id="1f93c-2642"><span class="_1f93c-2642  emojione-24-activity"></span>
<div class="emojis__list__native">🤼‍♂️</div></a></li>
<li ><a  id="1f938-1f3fb-2640"><span class="_1f938-1f3fb-2640  emojione-24-diversity"></span>
<div class="emojis__list__native">🤸🏻‍♀️</div></a></li>
<li ><a  id="1f938-1f3fb-2642"><span class="_1f938-1f3fb-2642  emojione-24-diversity"></span>
<div class="emojis__list__native">🤸🏻‍♂️</div></a></li>
<li ><a  id="26f9-1f3fb"><span class="_26f9-1f3fb  emojione-24-diversity"></span>
<div class="emojis__list__native">⛹🏻</div></a></li>
<li ><a  id="26f9-1f3fb-2640"><span class="_26f9-1f3fb-2640  emojione-24-diversity"></span>
<div class="emojis__list__native">⛹🏻‍♀️</div></a></li>
<li ><a  id="1f93a"><span class="_1f93a  emojione-24-activity"></span>
<div class="emojis__list__native">🤺</div></a></li>
<li ><a  id="1f93e-1f3fb-2640"><span class="_1f93e-1f3fb-2640  emojione-24-diversity"></span>
<div class="emojis__list__native">🤾🏻‍♀️</div></a></li>
<li ><a  id="1f93e-1f3fb-2642"><span class="_1f93e-1f3fb-2642  emojione-24-diversity"></span>
<div class="emojis__list__native">🤾🏻‍♂️</div></a></li>
<li ><a  id="1f3cc-1f3fb"><span class="_1f3cc-1f3fb  emojione-24-diversity"></span>
<div class="emojis__list__native">🏌🏻</div></a></li>
<li ><a  id="1f3cc-1f3fb-2640"><span class="_1f3cc-1f3fb-2640  emojione-24-diversity"></span>
<div class="emojis__list__native">🏌🏻‍♀️</div></a></li>
<li ><a  id="1f3c7-1f3fb"><span class="_1f3c7-1f3fb  emojione-24-diversity"></span>
<div class="emojis__list__native">🏇🏻</div></a></li>
<li ><a  id="1f9d8-1f3fb-2640"><span class="_1f9d8-1f3fb-2640  emojione-24-diversity"></span>
<div class="emojis__list__native">🧘🏻‍♀️</div></a></li>
<li ><a  id="1f9d8-1f3fb-2642"><span class="_1f9d8-1f3fb-2642  emojione-24-diversity"></span>
<div class="emojis__list__native">🧘🏻‍♂️</div></a></li>
<li ><a  id="1f3c4-1f3fb"><span class="_1f3c4-1f3fb  emojione-24-diversity"></span>
<div class="emojis__list__native">🏄🏻</div></a></li>
<li ><a  id="1f3c4-1f3fb-2640"><span class="_1f3c4-1f3fb-2640  emojione-24-diversity"></span>
<div class="emojis__list__native">🏄🏻‍♀️</div></a></li>
<li ><a  id="1f3ca-1f3fb"><span class="_1f3ca-1f3fb  emojione-24-diversity"></span>
<div class="emojis__list__native">🏊🏻</div></a></li>
<li ><a  id="1f3ca-1f3fb-2640"><span class="_1f3ca-1f3fb-2640  emojione-24-diversity"></span>
<div class="emojis__list__native">🏊🏻‍♀️</div></a></li>
<li ><a  id="1f93d-1f3fb-2640"><span class="_1f93d-1f3fb-2640  emojione-24-diversity"></span>
<div class="emojis__list__native">🤽🏻‍♀️</div></a></li>
<li ><a  id="1f93d-1f3fb-2642"><span class="_1f93d-1f3fb-2642  emojione-24-diversity"></span>
<div class="emojis__list__native">🤽🏻‍♂️</div></a></li>
<li ><a  id="1f6a3-1f3fb"><span class="_1f6a3-1f3fb  emojione-24-diversity"></span>
<div class="emojis__list__native">🚣🏻</div></a></li>
<li ><a  id="1f6a3-1f3fb-2640"><span class="_1f6a3-1f3fb-2640  emojione-24-diversity"></span>
<div class="emojis__list__native">🚣🏻‍♀️</div></a></li>
<li ><a  id="1f9d7-1f3fb-2640"><span class="_1f9d7-1f3fb-2640  emojione-24-diversity"></span>
<div class="emojis__list__native">🧗🏻‍♀️</div></a></li>
<li ><a  id="1f9d7-1f3fb-2642"><span class="_1f9d7-1f3fb-2642  emojione-24-diversity"></span>
<div class="emojis__list__native">🧗🏻‍♂️</div></a></li>
<li ><a  id="1f6b5-1f3fb"><span class="_1f6b5-1f3fb  emojione-24-diversity"></span>
<div class="emojis__list__native">🚵🏻</div></a></li>
<li ><a  id="1f6b5-1f3fb-2640"><span class="_1f6b5-1f3fb-2640  emojione-24-diversity"></span>
<div class="emojis__list__native">🚵🏻‍♀️</div></a></li>
<li ><a  id="1f6b4-1f3fb"><span class="_1f6b4-1f3fb  emojione-24-diversity"></span>
<div class="emojis__list__native">🚴🏻</div></a></li>
<li ><a  id="1f6b4-1f3fb-2640"><span class="_1f6b4-1f3fb-2640  emojione-24-diversity"></span>
<div class="emojis__list__native">🚴🏻‍♀️</div></a></li>
<li ><a  id="1f3c6"><span class="_1f3c6  emojione-24-activity"></span>
<div class="emojis__list__native">🏆</div></a></li>
<li ><a  id="1f947"><span class="_1f947  emojione-24-activity"></span>
<div class="emojis__list__native">🥇</div></a></li>
<li ><a  id="1f948"><span class="_1f948  emojione-24-activity"></span>
<div class="emojis__list__native">🥈</div></a></li>
<li ><a  id="1f949"><span class="_1f949  emojione-24-activity"></span>
<div class="emojis__list__native">🥉</div></a></li>
<li ><a  id="1f3c5"><span class="_1f3c5  emojione-24-activity"></span>
<div class="emojis__list__native">🏅</div></a></li>
<li ><a  id="1f396"><span class="_1f396  emojione-24-activity"></span>
<div class="emojis__list__native">🎖️</div></a></li>
<li ><a  id="1f3f5"><span class="_1f3f5  emojione-24-activity"></span>
<div class="emojis__list__native">🏵️</div></a></li>
<li ><a  id="1f397"><span class="_1f397  emojione-24-activity"></span>
<div class="emojis__list__native">🎗️</div></a></li>
<li ><a  id="1f3ab"><span class="_1f3ab  emojione-24-activity"></span>
<div class="emojis__list__native">🎫</div></a></li>
<li ><a  id="1f39f"><span class="_1f39f  emojione-24-activity"></span>
<div class="emojis__list__native">🎟️</div></a></li>
<li ><a  id="1f3aa"><span class="_1f3aa  emojione-24-activity"></span>
<div class="emojis__list__native">🎪</div></a></li>
<li ><a  id="1f939-1f3fb-2640"><span class="_1f939-1f3fb-2640  emojione-24-diversity"></span>
<div class="emojis__list__native">🤹🏻‍♀️</div></a></li>
<li ><a  id="1f939-1f3fb-2642"><span class="_1f939-1f3fb-2642  emojione-24-diversity"></span>
<div class="emojis__list__native">🤹🏻‍♂️</div></a></li>
<li ><a  id="1f3ad"><span class="_1f3ad  emojione-24-activity"></span>
<div class="emojis__list__native">🎭</div></a></li>
<li ><a  id="1f3a8"><span class="_1f3a8  emojione-24-activity"></span>
<div class="emojis__list__native">🎨</div></a></li>
<li ><a  id="1f3ac"><span class="_1f3ac  emojione-24-activity"></span>
<div class="emojis__list__native">🎬</div></a></li>
<li ><a  id="1f3a4"><span class="_1f3a4  emojione-24-activity"></span>
<div class="emojis__list__native">🎤</div></a></li>
<li ><a  id="1f3a7"><span class="_1f3a7  emojione-24-activity"></span>
<div class="emojis__list__native">🎧</div></a></li>
<li ><a  id="1f3bc"><span class="_1f3bc  emojione-24-activity"></span>
<div class="emojis__list__native">🎼</div></a></li>
<li ><a  id="1f3b9"><span class="_1f3b9  emojione-24-activity"></span>
<div class="emojis__list__native">🎹</div></a></li>
<li ><a  id="1f941"><span class="_1f941  emojione-24-activity"></span>
<div class="emojis__list__native">🥁</div></a></li>
<li ><a  id="1f3b7"><span class="_1f3b7  emojione-24-activity"></span>
<div class="emojis__list__native">🎷</div></a></li>
<li ><a  id="1f3ba"><span class="_1f3ba  emojione-24-activity"></span>
<div class="emojis__list__native">🎺</div></a></li>
<li ><a  id="1f3b8"><span class="_1f3b8  emojione-24-activity"></span>
<div class="emojis__list__native">🎸</div></a></li>
<li ><a  id="1f3bb"><span class="_1f3bb  emojione-24-activity"></span>
<div class="emojis__list__native">🎻</div></a></li>
<li ><a  id="1f3b2"><span class="_1f3b2  emojione-24-activity"></span>
<div class="emojis__list__native">🎲</div></a></li>
<li ><a  id="1f3af"><span class="_1f3af  emojione-24-activity"></span>
<div class="emojis__list__native">🎯</div></a></li>
<li ><a  id="1f3b3"><span class="_1f3b3  emojione-24-activity"></span>
<div class="emojis__list__native">🎳</div></a></li>
<li ><a  id="1f3ae"><span class="_1f3ae  emojione-24-activity"></span>
<div class="emojis__list__native">🎮</div></a></li>
<li ><a  id="1f3b0"><span class="_1f3b0  emojione-24-activity"></span>
<div class="emojis__list__native">🎰</div></a></li>
</ul>