﻿<ul class="emoji-list emojis__list emojis__list--emojione emojis__list--24">
<li ><a  id="1f34f"> <span class="_1f34f  emojione-24-food"></span>
<div class="emojis__list__native">🍏</div></a></li>
<li ><a  id="1f34e"> <span class="_1f34e  emojione-24-food"></span>
<div class="emojis__list__native">🍎</div></a></li>
<li ><a  id="1f350"> <span class="_1f350  emojione-24-food"></span>
<div class="emojis__list__native">🍐</div></a></li>
<li ><a  id="1f34a"> <span class="_1f34a  emojione-24-food"></span>
<div class="emojis__list__native">🍊</div></a></li>
<li ><a  id="1f34b"> <span class="_1f34b  emojione-24-food"></span>
<div class="emojis__list__native">🍋</div></a></li>
<li ><a  id="1f34c"> <span class="_1f34c  emojione-24-food"></span>
<div class="emojis__list__native">🍌</div></a></li>
<li ><a  id="1f349"> <span class="_1f349  emojione-24-food"></span>
<div class="emojis__list__native">🍉</div></a></li>
<li ><a  id="1f347"> <span class="_1f347  emojione-24-food"></span>
<div class="emojis__list__native">🍇</div></a></li>
<li ><a  id="1f353"> <span class="_1f353  emojione-24-food"></span>
<div class="emojis__list__native">🍓</div></a></li>
<li ><a  id="1f348"> <span class="_1f348  emojione-24-food"></span>
<div class="emojis__list__native">🍈</div></a></li>
<li ><a  id="1f352"> <span class="_1f352  emojione-24-food"></span>
<div class="emojis__list__native">🍒</div></a></li>
<li ><a  id="1f351"> <span class="_1f351  emojione-24-food"></span>
<div class="emojis__list__native">🍑</div></a></li>
<li ><a  id="1f34d"> <span class="_1f34d  emojione-24-food"></span>
<div class="emojis__list__native">🍍</div></a></li>
<li ><a  id="1f965"> <span class="_1f965  emojione-24-food"></span>
<div class="emojis__list__native">🥥</div></a></li>
<li ><a  id="1f95d"> <span class="_1f95d  emojione-24-food"></span>
<div class="emojis__list__native">🥝</div></a></li>
<li ><a  id="1f345"> <span class="_1f345  emojione-24-food"></span>
<div class="emojis__list__native">🍅</div></a></li>
<li ><a  id="1f346"> <span class="_1f346  emojione-24-food"></span>
<div class="emojis__list__native">🍆</div></a></li>
<li ><a  id="1f951"> <span class="_1f951  emojione-24-food"></span>
<div class="emojis__list__native">🥑</div></a></li>
<li ><a  id="1f966"> <span class="_1f966  emojione-24-food"></span>
<div class="emojis__list__native">🥦</div></a></li>
<li ><a  id="1f952"> <span class="_1f952  emojione-24-food"></span>
<div class="emojis__list__native">🥒</div></a></li>
<li ><a  id="1f336"> <span class="_1f336  emojione-24-food"></span>
<div class="emojis__list__native">🌶️</div></a></li>
<li ><a  id="1f33d"> <span class="_1f33d  emojione-24-food"></span>
<div class="emojis__list__native">🌽</div></a></li>
<li ><a  id="1f955"> <span class="_1f955  emojione-24-food"></span>
<div class="emojis__list__native">🥕</div></a></li>
<li ><a  id="1f954"> <span class="_1f954  emojione-24-food"></span>
<div class="emojis__list__native">🥔</div></a></li>
<li ><a  id="1f360"> <span class="_1f360  emojione-24-food"></span>
<div class="emojis__list__native">🍠</div></a></li>
<li ><a  id="1f950"> <span class="_1f950  emojione-24-food"></span>
<div class="emojis__list__native">🥐</div></a></li>
<li ><a  id="1f35e"> <span class="_1f35e  emojione-24-food"></span>
<div class="emojis__list__native">🍞</div></a></li>
<li ><a  id="1f956"> <span class="_1f956  emojione-24-food"></span>
<div class="emojis__list__native">🥖</div></a></li>
<li ><a  id="1f968"> <span class="_1f968  emojione-24-food"></span>
<div class="emojis__list__native">🥨</div></a></li>
<li ><a  id="1f9c0"> <span class="_1f9c0  emojione-24-food"></span>
<div class="emojis__list__native">🧀</div></a></li>
<li ><a  id="1f95a"> <span class="_1f95a  emojione-24-food"></span>
<div class="emojis__list__native">🥚</div></a></li>
<li ><a  id="1f373"> <span class="_1f373  emojione-24-food"></span>
<div class="emojis__list__native">🍳</div></a></li>
<li ><a  id="1f95e"> <span class="_1f95e  emojione-24-food"></span>
<div class="emojis__list__native">🥞</div></a></li>
<li ><a  id="1f953"> <span class="_1f953  emojione-24-food"></span>
<div class="emojis__list__native">🥓</div></a></li>
<li ><a  id="1f969"> <span class="_1f969  emojione-24-food"></span>
<div class="emojis__list__native">🥩</div></a></li>
<li ><a  id="1f357"> <span class="_1f357  emojione-24-food"></span>
<div class="emojis__list__native">🍗</div></a></li>
<li ><a  id="1f356"> <span class="_1f356  emojione-24-food"></span>
<div class="emojis__list__native">🍖</div></a></li>
<li ><a  id="1f32d"> <span class="_1f32d  emojione-24-food"></span>
<div class="emojis__list__native">🌭</div></a></li>
<li ><a  id="1f354"> <span class="_1f354  emojione-24-food"></span>
<div class="emojis__list__native">🍔</div></a></li>
<li ><a  id="1f35f"> <span class="_1f35f  emojione-24-food"></span>
<div class="emojis__list__native">🍟</div></a></li>
<li ><a  id="1f355"> <span class="_1f355  emojione-24-food"></span>
<div class="emojis__list__native">🍕</div></a></li>
<li ><a  id="1f96a"> <span class="_1f96a  emojione-24-food"></span>
<div class="emojis__list__native">🥪</div></a></li>
<li ><a  id="1f959"> <span class="_1f959  emojione-24-food"></span>
<div class="emojis__list__native">🥙</div></a></li>
<li ><a  id="1f32e"> <span class="_1f32e  emojione-24-food"></span>
<div class="emojis__list__native">🌮</div></a></li>
<li ><a  id="1f32f"> <span class="_1f32f  emojione-24-food"></span>
<div class="emojis__list__native">🌯</div></a></li>
<li ><a  id="1f957"> <span class="_1f957  emojione-24-food"></span>
<div class="emojis__list__native">🥗</div></a></li>
<li ><a  id="1f958"> <span class="_1f958  emojione-24-food"></span>
<div class="emojis__list__native">🥘</div></a></li>
<li ><a  id="1f96b"> <span class="_1f96b  emojione-24-food"></span>
<div class="emojis__list__native">🥫</div></a></li>
<li ><a  id="1f35d"> <span class="_1f35d  emojione-24-food"></span>
<div class="emojis__list__native">🍝</div></a></li>
<li ><a  id="1f35c"> <span class="_1f35c  emojione-24-food"></span>
<div class="emojis__list__native">🍜</div></a></li>
<li ><a  id="1f372"> <span class="_1f372  emojione-24-food"></span>
<div class="emojis__list__native">🍲</div></a></li>
<li ><a  id="1f35b"> <span class="_1f35b  emojione-24-food"></span>
<div class="emojis__list__native">🍛</div></a></li>
<li ><a  id="1f363"> <span class="_1f363  emojione-24-food"></span>
<div class="emojis__list__native">🍣</div></a></li>
<li ><a  id="1f371"> <span class="_1f371  emojione-24-food"></span>
<div class="emojis__list__native">🍱</div></a></li>
<li ><a  id="1f364"> <span class="_1f364  emojione-24-food"></span>
<div class="emojis__list__native">🍤</div></a></li>
<li ><a  id="1f359"> <span class="_1f359  emojione-24-food"></span>
<div class="emojis__list__native">🍙</div></a></li>
<li ><a  id="1f35a"> <span class="_1f35a  emojione-24-food"></span>
<div class="emojis__list__native">🍚</div></a></li>
<li ><a  id="1f358"> <span class="_1f358  emojione-24-food"></span>
<div class="emojis__list__native">🍘</div></a></li>
<li ><a  id="1f365"> <span class="_1f365  emojione-24-food"></span>
<div class="emojis__list__native">🍥</div></a></li>
<li ><a  id="1f960"> <span class="_1f960  emojione-24-food"></span>
<div class="emojis__list__native">🥠</div></a></li>
<li ><a  id="1f362"> <span class="_1f362  emojione-24-food"></span>
<div class="emojis__list__native">🍢</div></a></li>
<li ><a  id="1f361"> <span class="_1f361  emojione-24-food"></span>
<div class="emojis__list__native">🍡</div></a></li>
<li ><a  id="1f367"> <span class="_1f367  emojione-24-food"></span>
<div class="emojis__list__native">🍧</div></a></li>
<li ><a  id="1f368"> <span class="_1f368  emojione-24-food"></span>
<div class="emojis__list__native">🍨</div></a></li>
<li ><a  id="1f366"> <span class="_1f366  emojione-24-food"></span>
<div class="emojis__list__native">🍦</div></a></li>
<li ><a  id="1f967"> <span class="_1f967  emojione-24-food"></span>
<div class="emojis__list__native">🥧</div></a></li>
<li ><a  id="1f370"> <span class="_1f370  emojione-24-food"></span>
<div class="emojis__list__native">🍰</div></a></li>
<li ><a  id="1f382"> <span class="_1f382  emojione-24-food"></span>
<div class="emojis__list__native">🎂</div></a></li>
<li ><a  id="1f36e"> <span class="_1f36e  emojione-24-food"></span>
<div class="emojis__list__native">🍮</div></a></li>
<li ><a  id="1f36d"> <span class="_1f36d  emojione-24-food"></span>
<div class="emojis__list__native">🍭</div></a></li>
<li ><a  id="1f36c"> <span class="_1f36c  emojione-24-food"></span>
<div class="emojis__list__native">🍬</div></a></li>
<li ><a  id="1f36b"> <span class="_1f36b  emojione-24-food"></span>
<div class="emojis__list__native">🍫</div></a></li>
<li ><a  id="1f37f"> <span class="_1f37f  emojione-24-food"></span>
<div class="emojis__list__native">🍿</div></a></li>
<li ><a  id="1f369"> <span class="_1f369  emojione-24-food"></span>
<div class="emojis__list__native">🍩</div></a></li>
<li ><a  id="1f95f"> <span class="_1f95f  emojione-24-food"></span>
<div class="emojis__list__native">🥟</div></a></li>
<li ><a  id="1f36a"> <span class="_1f36a  emojione-24-food"></span>
<div class="emojis__list__native">🍪</div></a></li>
<li ><a  id="1f330"> <span class="_1f330  emojione-24-food"></span>
<div class="emojis__list__native">🌰</div></a></li>
<li ><a  id="1f95c"> <span class="_1f95c  emojione-24-food"></span>
<div class="emojis__list__native">🥜</div></a></li>
<li ><a  id="1f36f"> <span class="_1f36f  emojione-24-food"></span>
<div class="emojis__list__native">🍯</div></a></li>
<li ><a  id="1f95b"> <span class="_1f95b  emojione-24-food"></span>
<div class="emojis__list__native">🥛</div></a></li>
<li ><a  id="1f37c"> <span class="_1f37c  emojione-24-food"></span>
<div class="emojis__list__native">🍼</div></a></li>
<li ><a  id="2615"> <span class="_2615  emojione-24-food"></span>
<div class="emojis__list__native">☕</div></a></li>
<li ><a  id="1f375"> <span class="_1f375  emojione-24-food"></span>
<div class="emojis__list__native">🍵</div></a></li>
<li ><a  id="1f964"> <span class="_1f964  emojione-24-food"></span>
<div class="emojis__list__native">🥤</div></a></li>
<li ><a  id="1f376"> <span class="_1f376  emojione-24-food"></span>
<div class="emojis__list__native">🍶</div></a></li>
<li ><a  id="1f37a"> <span class="_1f37a  emojione-24-food"></span>
<div class="emojis__list__native">🍺</div></a></li>
<li ><a  id="1f37b"> <span class="_1f37b  emojione-24-food"></span>
<div class="emojis__list__native">🍻</div></a></li>
<li ><a  id="1f942"> <span class="_1f942  emojione-24-food"></span>
<div class="emojis__list__native">🥂</div></a></li>
<li ><a  id="1f377"> <span class="_1f377  emojione-24-food"></span>
<div class="emojis__list__native">🍷</div></a></li>
<li ><a  id="1f943"> <span class="_1f943  emojione-24-food"></span>
<div class="emojis__list__native">🥃</div></a></li>
<li ><a  id="1f378"> <span class="_1f378  emojione-24-food"></span>
<div class="emojis__list__native">🍸</div></a></li>
<li ><a  id="1f379"> <span class="_1f379  emojione-24-food"></span>
<div class="emojis__list__native">🍹</div></a></li>
<li ><a  id="1f37e"> <span class="_1f37e  emojione-24-food"></span>
<div class="emojis__list__native">🍾</div></a></li>
<li ><a  id="1f944"> <span class="_1f944  emojione-24-food"></span>
<div class="emojis__list__native">🥄</div></a></li>
<li ><a  id="1f374"> <span class="_1f374  emojione-24-food"></span>
<div class="emojis__list__native">🍴</div></a></li>
<li ><a  id="1f37d"> <span class="_1f37d  emojione-24-food"></span>
<div class="emojis__list__native">🍽️</div></a></li>
<li ><a  id="1f963"> <span class="_1f963  emojione-24-food"></span>
<div class="emojis__list__native">🥣</div></a></li>
<li ><a  id="1f961"> <span class="_1f961  emojione-24-food"></span>
<div class="emojis__list__native">🥡</div></a></li>
<li ><a  id="1f962"> <span class="_1f962  emojione-24-food"></span>
<div class="emojis__list__native">🥢</div></a></li>
</ul>