﻿<ul class="emoji-list emojis__list emojis__list--emojione emojis__list--24">
<li ><a  id="2764"><span class="_2764  emojione-24-symbols"></span>
<div class="emojis__list__native">❤️</div></a></li>
<li ><a  id="1f9e1"><span class="_1f9e1  emojione-24-symbols"></span>
<div class="emojis__list__native">🧡</div></a></li>
<li ><a  id="1f49b"><span class="_1f49b  emojione-24-symbols"></span>
<div class="emojis__list__native">💛</div></a></li>
<li ><a  id="1f49a"><span class="_1f49a  emojione-24-symbols"></span>
<div class="emojis__list__native">💚</div></a></li>
<li ><a  id="1f499"><span class="_1f499  emojione-24-symbols"></span>
<div class="emojis__list__native">💙</div></a></li>
<li ><a  id="1f49c"><span class="_1f49c  emojione-24-symbols"></span>
<div class="emojis__list__native">💜</div></a></li>
<li ><a  id="1f5a4"><span class="_1f5a4  emojione-24-symbols"></span>
<div class="emojis__list__native">🖤</div></a></li>
<li ><a  id="1f494"><span class="_1f494  emojione-24-symbols"></span>
<div class="emojis__list__native">💔</div></a></li>
<li ><a  id="2763"><span class="_2763  emojione-24-symbols"></span>
<div class="emojis__list__native">❣️</div></a></li>
<li ><a  id="1f495"><span class="_1f495  emojione-24-symbols"></span>
<div class="emojis__list__native">💕</div></a></li>
<li ><a  id="1f49e"><span class="_1f49e  emojione-24-symbols"></span>
<div class="emojis__list__native">💞</div></a></li>
<li ><a  id="1f493"><span class="_1f493  emojione-24-symbols"></span>
<div class="emojis__list__native">💓</div></a></li>
<li ><a  id="1f497"><span class="_1f497  emojione-24-symbols"></span>
<div class="emojis__list__native">💗</div></a></li>
<li ><a  id="1f496"><span class="_1f496  emojione-24-symbols"></span>
<div class="emojis__list__native">💖</div></a></li>
<li ><a  id="1f498"><span class="_1f498  emojione-24-symbols"></span>
<div class="emojis__list__native">💘</div></a></li>
<li ><a  id="1f49d"><span class="_1f49d  emojione-24-symbols"></span>
<div class="emojis__list__native">💝</div></a></li>
<li ><a  id="1f49f"><span class="_1f49f  emojione-24-symbols"></span>
<div class="emojis__list__native">💟</div></a></li>
<li ><a  id="262e"><span class="_262e  emojione-24-symbols"></span>
<div class="emojis__list__native">☮️</div></a></li>
<li ><a  id="271d"><span class="_271d  emojione-24-symbols"></span>
<div class="emojis__list__native">✝️</div></a></li>
<li ><a  id="262a"><span class="_262a  emojione-24-symbols"></span>
<div class="emojis__list__native">☪️</div></a></li>
<li ><a  id="1f549"><span class="_1f549  emojione-24-symbols"></span>
<div class="emojis__list__native">🕉️</div></a></li>
<li ><a  id="2638"><span class="_2638  emojione-24-symbols"></span>
<div class="emojis__list__native">☸️</div></a></li>
<li ><a  id="2721"><span class="_2721  emojione-24-symbols"></span>
<div class="emojis__list__native">✡️</div></a></li>
<li ><a  id="1f52f"><span class="_1f52f  emojione-24-symbols"></span>
<div class="emojis__list__native">🔯</div></a></li>
<li ><a  id="1f54e"><span class="_1f54e  emojione-24-symbols"></span>
<div class="emojis__list__native">🕎</div></a></li>
<li ><a  id="262f"><span class="_262f  emojione-24-symbols"></span>
<div class="emojis__list__native">☯️</div></a></li>
<li ><a  id="2626"><span class="_2626  emojione-24-symbols"></span>
<div class="emojis__list__native">☦️</div></a></li>
<li ><a  id="1f6d0"><span class="_1f6d0  emojione-24-symbols"></span>
<div class="emojis__list__native">🛐</div></a></li>
<li ><a  id="26ce"><span class="_26ce  emojione-24-symbols"></span>
<div class="emojis__list__native">⛎</div></a></li>
<li ><a  id="2648"><span class="_2648  emojione-24-symbols"></span>
<div class="emojis__list__native">♈</div></a></li>
<li ><a  id="2649"><span class="_2649  emojione-24-symbols"></span>
<div class="emojis__list__native">♉</div></a></li>
<li ><a  id="264a"><span class="_264a  emojione-24-symbols"></span>
<div class="emojis__list__native">♊</div></a></li>
<li ><a  id="264b"><span class="_264b  emojione-24-symbols"></span>
<div class="emojis__list__native">♋</div></a></li>
<li ><a  id="264c"><span class="_264c  emojione-24-symbols"></span>
<div class="emojis__list__native">♌</div></a></li>
<li ><a  id="264d"><span class="_264d  emojione-24-symbols"></span>
<div class="emojis__list__native">♍</div></a></li>
<li ><a  id="264e"><span class="_264e  emojione-24-symbols"></span>
<div class="emojis__list__native">♎</div></a></li>
<li ><a  id="264f"><span class="_264f  emojione-24-symbols"></span>
<div class="emojis__list__native">♏</div></a></li>
<li ><a  id="2650"><span class="_2650  emojione-24-symbols"></span>
<div class="emojis__list__native">♐</div></a></li>
<li ><a  id="2651"><span class="_2651  emojione-24-symbols"></span>
<div class="emojis__list__native">♑</div></a></li>
<li ><a  id="2652"><span class="_2652  emojione-24-symbols"></span>
<div class="emojis__list__native">♒</div></a></li>
<li ><a  id="2653"><span class="_2653  emojione-24-symbols"></span>
<div class="emojis__list__native">♓</div></a></li>
<li ><a  id="1f194"><span class="_1f194  emojione-24-symbols"></span>
<div class="emojis__list__native">🆔</div></a></li>
<li ><a  id="269b"><span class="_269b  emojione-24-symbols"></span>
<div class="emojis__list__native">⚛️</div></a></li>
<li ><a  id="1f251"><span class="_1f251  emojione-24-symbols"></span>
<div class="emojis__list__native">🉑</div></a></li>
<li ><a  id="2622"><span class="_2622  emojione-24-symbols"></span>
<div class="emojis__list__native">☢️</div></a></li>
<li ><a  id="2623"><span class="_2623  emojione-24-symbols"></span>
<div class="emojis__list__native">☣️</div></a></li>
<li ><a  id="1f4f4"><span class="_1f4f4  emojione-24-symbols"></span>
<div class="emojis__list__native">📴</div></a></li>
<li ><a  id="1f4f3"><span class="_1f4f3  emojione-24-symbols"></span>
<div class="emojis__list__native">📳</div></a></li>
<li ><a  id="1f236"><span class="_1f236  emojione-24-symbols"></span>
<div class="emojis__list__native">🈶</div></a></li>
<li ><a  id="1f21a"><span class="_1f21a  emojione-24-symbols"></span>
<div class="emojis__list__native">🈚</div></a></li>
<li ><a  id="1f238"><span class="_1f238  emojione-24-symbols"></span>
<div class="emojis__list__native">🈸</div></a></li>
<li ><a  id="1f23a"><span class="_1f23a  emojione-24-symbols"></span>
<div class="emojis__list__native">🈺</div></a></li>
<li ><a  id="1f237"><span class="_1f237  emojione-24-symbols"></span>
<div class="emojis__list__native">🈷️</div></a></li>
<li ><a  id="2734"><span class="_2734  emojione-24-symbols"></span>
<div class="emojis__list__native">✴️</div></a></li>
<li ><a  id="1f19a"><span class="_1f19a  emojione-24-symbols"></span>
<div class="emojis__list__native">🆚</div></a></li>
<li ><a  id="1f4ae"><span class="_1f4ae  emojione-24-symbols"></span>
<div class="emojis__list__native">💮</div></a></li>
<li ><a  id="1f250"><span class="_1f250  emojione-24-symbols"></span>
<div class="emojis__list__native">🉐</div></a></li>
<li ><a  id="3299"><span class="_3299  emojione-24-symbols"></span>
<div class="emojis__list__native">㊙️</div></a></li>
<li ><a  id="3297"><span class="_3297  emojione-24-symbols"></span>
<div class="emojis__list__native">㊗️</div></a></li>
<li ><a  id="1f234"><span class="_1f234  emojione-24-symbols"></span>
<div class="emojis__list__native">🈴</div></a></li>
<li ><a  id="1f235"><span class="_1f235  emojione-24-symbols"></span>
<div class="emojis__list__native">🈵</div></a></li>
<li ><a  id="1f239"><span class="_1f239  emojione-24-symbols"></span>
<div class="emojis__list__native">🈹</div></a></li>
<li ><a  id="1f232"><span class="_1f232  emojione-24-symbols"></span>
<div class="emojis__list__native">🈲</div></a></li>
<li ><a  id="1f170"><span class="_1f170  emojione-24-symbols"></span>
<div class="emojis__list__native">🅰️</div></a></li>
<li ><a  id="1f171"><span class="_1f171  emojione-24-symbols"></span>
<div class="emojis__list__native">🅱️</div></a></li>
<li ><a  id="1f18e"><span class="_1f18e  emojione-24-symbols"></span>
<div class="emojis__list__native">🆎</div></a></li>
<li ><a  id="1f191"><span class="_1f191  emojione-24-symbols"></span>
<div class="emojis__list__native">🆑</div></a></li>
<li ><a  id="1f17e"><span class="_1f17e  emojione-24-symbols"></span>
<div class="emojis__list__native">🅾️</div></a></li>
<li ><a  id="1f198"><span class="_1f198  emojione-24-symbols"></span>
<div class="emojis__list__native">🆘</div></a></li>
<li ><a  id="274c"><span class="_274c  emojione-24-symbols"></span>
<div class="emojis__list__native">❌</div></a></li>
<li ><a  id="2b55"><span class="_2b55  emojione-24-symbols"></span>
<div class="emojis__list__native">⭕</div></a></li>
<li ><a  id="1f6d1"><span class="_1f6d1  emojione-24-symbols"></span>
<div class="emojis__list__native">🛑</div></a></li>
<li ><a  id="26d4"><span class="_26d4  emojione-24-symbols"></span>
<div class="emojis__list__native">⛔</div></a></li>
<li ><a  id="1f4db"><span class="_1f4db  emojione-24-symbols"></span>
<div class="emojis__list__native">📛</div></a></li>
<li ><a  id="1f6ab"><span class="_1f6ab  emojione-24-symbols"></span>
<div class="emojis__list__native">🚫</div></a></li>
<li ><a  id="1f4af"><span class="_1f4af  emojione-24-symbols"></span>
<div class="emojis__list__native">💯</div></a></li>
<li ><a  id="1f4a2"><span class="_1f4a2  emojione-24-symbols"></span>
<div class="emojis__list__native">💢</div></a></li>
<li ><a  id="2668"><span class="_2668  emojione-24-symbols"></span>
<div class="emojis__list__native">♨️</div></a></li>
<li ><a  id="1f6b7"><span class="_1f6b7  emojione-24-symbols"></span>
<div class="emojis__list__native">🚷</div></a></li>
<li ><a  id="1f6af"><span class="_1f6af  emojione-24-symbols"></span>
<div class="emojis__list__native">🚯</div></a></li>
<li ><a  id="1f6b3"><span class="_1f6b3  emojione-24-symbols"></span>
<div class="emojis__list__native">🚳</div></a></li>
<li ><a  id="1f6b1"><span class="_1f6b1  emojione-24-symbols"></span>
<div class="emojis__list__native">🚱</div></a></li>
<li ><a  id="1f51e"><span class="_1f51e  emojione-24-symbols"></span>
<div class="emojis__list__native">🔞</div></a></li>
<li ><a  id="1f4f5"><span class="_1f4f5  emojione-24-symbols"></span>
<div class="emojis__list__native">📵</div></a></li>
<li ><a  id="1f6ad"><span class="_1f6ad  emojione-24-symbols"></span>
<div class="emojis__list__native">🚭</div></a></li>
<li ><a  id="2757"><span class="_2757  emojione-24-symbols"></span>
<div class="emojis__list__native">❗</div></a></li>
<li ><a  id="2755"><span class="_2755  emojione-24-symbols"></span>
<div class="emojis__list__native">❕</div></a></li>
<li ><a  id="2753"><span class="_2753  emojione-24-symbols"></span>
<div class="emojis__list__native">❓</div></a></li>
<li ><a  id="2754"><span class="_2754  emojione-24-symbols"></span>
<div class="emojis__list__native">❔</div></a></li>
<li ><a  id="203c"><span class="_203c  emojione-24-symbols"></span>
<div class="emojis__list__native">‼️</div></a></li>
<li ><a  id="2049"><span class="_2049  emojione-24-symbols"></span>
<div class="emojis__list__native">⁉️</div></a></li>
<li ><a  id="1f505"><span class="_1f505  emojione-24-symbols"></span>
<div class="emojis__list__native">🔅</div></a></li>
<li ><a  id="1f506"><span class="_1f506  emojione-24-symbols"></span>
<div class="emojis__list__native">🔆</div></a></li>
<li ><a  id="303d"><span class="_303d  emojione-24-symbols"></span>
<div class="emojis__list__native">〽️</div></a></li>
<li ><a  id="26a0"><span class="_26a0  emojione-24-symbols"></span>
<div class="emojis__list__native">⚠️</div></a></li>
<li ><a  id="1f6b8"><span class="_1f6b8  emojione-24-symbols"></span>
<div class="emojis__list__native">🚸</div></a></li>
<li ><a  id="1f531"><span class="_1f531  emojione-24-symbols"></span>
<div class="emojis__list__native">🔱</div></a></li>
<li ><a  id="269c"><span class="_269c  emojione-24-symbols"></span>
<div class="emojis__list__native">⚜️</div></a></li>
<li ><a  id="1f530"><span class="_1f530  emojione-24-symbols"></span>
<div class="emojis__list__native">🔰</div></a></li>
<li ><a  id="267b"><span class="_267b  emojione-24-symbols"></span>
<div class="emojis__list__native">♻️</div></a></li>
<li ><a  id="2705"><span class="_2705  emojione-24-symbols"></span>
<div class="emojis__list__native">✅</div></a></li>
<li ><a  id="1f22f"><span class="_1f22f  emojione-24-symbols"></span>
<div class="emojis__list__native">🈯</div></a></li>
<li ><a  id="1f4b9"><span class="_1f4b9  emojione-24-symbols"></span>
<div class="emojis__list__native">💹</div></a></li>
<li ><a  id="2747"><span class="_2747  emojione-24-symbols"></span>
<div class="emojis__list__native">❇️</div></a></li>
<li ><a  id="2733"><span class="_2733  emojione-24-symbols"></span>
<div class="emojis__list__native">✳️</div></a></li>
<li ><a  id="274e"><span class="_274e  emojione-24-symbols"></span>
<div class="emojis__list__native">❎</div></a></li>
<li ><a  id="1f310"><span class="_1f310  emojione-24-symbols"></span>
<div class="emojis__list__native">🌐</div></a></li>
<li ><a  id="1f4a0"><span class="_1f4a0  emojione-24-symbols"></span>
<div class="emojis__list__native">💠</div></a></li>
<li ><a  id="24c2"><span class="_24c2  emojione-24-symbols"></span>
<div class="emojis__list__native">Ⓜ️</div></a></li>
<li ><a  id="1f300"><span class="_1f300  emojione-24-symbols"></span>
<div class="emojis__list__native">🌀</div></a></li>
<li ><a  id="1f4a4"><span class="_1f4a4  emojione-24-symbols"></span>
<div class="emojis__list__native">💤</div></a></li>
<li ><a  id="1f3e7"><span class="_1f3e7  emojione-24-symbols"></span>
<div class="emojis__list__native">🏧</div></a></li>
<li ><a  id="1f6be"><span class="_1f6be  emojione-24-symbols"></span>
<div class="emojis__list__native">🚾</div></a></li>
<li ><a  id="267f"><span class="_267f  emojione-24-symbols"></span>
<div class="emojis__list__native">♿</div></a></li>
<li ><a  id="1f17f"><span class="_1f17f  emojione-24-symbols"></span>
<div class="emojis__list__native">🅿️</div></a></li>
<li ><a  id="1f233"><span class="_1f233  emojione-24-symbols"></span>
<div class="emojis__list__native">🈳</div></a></li>
<li ><a  id="1f202"><span class="_1f202  emojione-24-symbols"></span>
<div class="emojis__list__native">🈂️</div></a></li>
<li ><a  id="1f6c2"><span class="_1f6c2  emojione-24-symbols"></span>
<div class="emojis__list__native">🛂</div></a></li>
<li ><a  id="1f6c3"><span class="_1f6c3  emojione-24-symbols"></span>
<div class="emojis__list__native">🛃</div></a></li>
<li ><a  id="1f6c4"><span class="_1f6c4  emojione-24-symbols"></span>
<div class="emojis__list__native">🛄</div></a></li>
<li ><a  id="1f6c5"><span class="_1f6c5  emojione-24-symbols"></span>
<div class="emojis__list__native">🛅</div></a></li>
<li ><a  id="1f6b9"><span class="_1f6b9  emojione-24-symbols"></span>
<div class="emojis__list__native">🚹</div></a></li>
<li ><a  id="1f6ba"><span class="_1f6ba  emojione-24-symbols"></span>
<div class="emojis__list__native">🚺</div></a></li>
<li ><a  id="1f6bc"><span class="_1f6bc  emojione-24-symbols"></span>
<div class="emojis__list__native">🚼</div></a></li>
<li ><a  id="1f6bb"><span class="_1f6bb  emojione-24-symbols"></span>
<div class="emojis__list__native">🚻</div></a></li>
<li ><a  id="1f6ae"><span class="_1f6ae  emojione-24-symbols"></span>
<div class="emojis__list__native">🚮</div></a></li>
<li ><a  id="1f3a6"><span class="_1f3a6  emojione-24-symbols"></span>
<div class="emojis__list__native">🎦</div></a></li>
<li ><a  id="1f4f6"><span class="_1f4f6  emojione-24-symbols"></span>
<div class="emojis__list__native">📶</div></a></li>
<li ><a  id="1f201"><span class="_1f201  emojione-24-symbols"></span>
<div class="emojis__list__native">🈁</div></a></li>
<li ><a  id="1f523"><span class="_1f523  emojione-24-symbols"></span>
<div class="emojis__list__native">🔣</div></a></li>
<li ><a  id="2139"><span class="_2139  emojione-24-symbols"></span>
<div class="emojis__list__native">ℹ️</div></a></li>
<li ><a  id="1f524"><span class="_1f524  emojione-24-symbols"></span>
<div class="emojis__list__native">🔤</div></a></li>
<li ><a  id="1f521"><span class="_1f521  emojione-24-symbols"></span>
<div class="emojis__list__native">🔡</div></a></li>
<li ><a  id="1f520"><span class="_1f520  emojione-24-symbols"></span>
<div class="emojis__list__native">🔠</div></a></li>
<li ><a  id="1f196"><span class="_1f196  emojione-24-symbols"></span>
<div class="emojis__list__native">🆖</div></a></li>
<li ><a  id="1f197"><span class="_1f197  emojione-24-symbols"></span>
<div class="emojis__list__native">🆗</div></a></li>
<li ><a  id="1f199"><span class="_1f199  emojione-24-symbols"></span>
<div class="emojis__list__native">🆙</div></a></li>
<li ><a  id="1f192"><span class="_1f192  emojione-24-symbols"></span>
<div class="emojis__list__native">🆒</div></a></li>
<li ><a  id="1f195"><span class="_1f195  emojione-24-symbols"></span>
<div class="emojis__list__native">🆕</div></a></li>
<li ><a  id="1f193"><span class="_1f193  emojione-24-symbols"></span>
<div class="emojis__list__native">🆓</div></a></li>
<li ><a  id="0030-20e3"><span class="_0030-20e3  emojione-24-symbols"></span>
<div class="emojis__list__native">0️⃣</div></a></li>
<li ><a  id="0031-20e3"><span class="_0031-20e3  emojione-24-symbols"></span>
<div class="emojis__list__native">1️⃣</div></a></li>
<li ><a  id="0032-20e3"><span class="_0032-20e3  emojione-24-symbols"></span>
<div class="emojis__list__native">2️⃣</div></a></li>
<li ><a  id="0033-20e3"><span class="_0033-20e3  emojione-24-symbols"></span>
<div class="emojis__list__native">3️⃣</div></a></li>
<li ><a  id="0034-20e3"><span class="_0034-20e3  emojione-24-symbols"></span>
<div class="emojis__list__native">4️⃣</div></a></li>
<li ><a  id="0035-20e3"><span class="_0035-20e3  emojione-24-symbols"></span>
<div class="emojis__list__native">5️⃣</div></a></li>
<li ><a  id="0036-20e3"><span class="_0036-20e3  emojione-24-symbols"></span>
<div class="emojis__list__native">6️⃣</div></a></li>
<li ><a  id="0037-20e3"><span class="_0037-20e3  emojione-24-symbols"></span>
<div class="emojis__list__native">7️⃣</div></a></li>
<li ><a  id="0038-20e3"><span class="_0038-20e3  emojione-24-symbols"></span>
<div class="emojis__list__native">8️⃣</div></a></li>
<li ><a  id="0039-20e3"><span class="_0039-20e3  emojione-24-symbols"></span>
<div class="emojis__list__native">9️⃣</div></a></li>
<li ><a  id="1f51f"><span class="_1f51f  emojione-24-symbols"></span>
<div class="emojis__list__native">🔟</div></a></li>
<li ><a  id="1f522"><span class="_1f522  emojione-24-symbols"></span>
<div class="emojis__list__native">🔢</div></a></li>
<li ><a  id="0023-20e3"><span class="_0023-20e3  emojione-24-symbols"></span>
<div class="emojis__list__native">#️⃣</div></a></li>
<li ><a  id="002a-20e3"><span class="_002a-20e3  emojione-24-symbols"></span>
<div class="emojis__list__native">*️⃣</div></a></li>
<li ><a  id="23cf"><span class="_23cf  emojione-24-symbols"></span>
<div class="emojis__list__native">⏏️</div></a></li>
<li ><a  id="25b6"><span class="_25b6  emojione-24-symbols"></span>
<div class="emojis__list__native">▶️</div></a></li>
<li ><a  id="23f8"><span class="_23f8  emojione-24-symbols"></span>
<div class="emojis__list__native">⏸️</div></a></li>
<li ><a  id="23ef"><span class="_23ef  emojione-24-symbols"></span>
<div class="emojis__list__native">⏯️</div></a></li>
<li ><a  id="23f9"><span class="_23f9  emojione-24-symbols"></span>
<div class="emojis__list__native">⏹️</div></a></li>
<li ><a  id="23fa"><span class="_23fa  emojione-24-symbols"></span>
<div class="emojis__list__native">⏺️</div></a></li>
<li ><a  id="23ed"><span class="_23ed  emojione-24-symbols"></span>
<div class="emojis__list__native">⏭️</div></a></li>
<li ><a  id="23ee"><span class="_23ee  emojione-24-symbols"></span>
<div class="emojis__list__native">⏮️</div></a></li>
<li ><a  id="23e9"><span class="_23e9  emojione-24-symbols"></span>
<div class="emojis__list__native">⏩</div></a></li>
<li ><a  id="23ea"><span class="_23ea  emojione-24-symbols"></span>
<div class="emojis__list__native">⏪</div></a></li>
<li ><a  id="23eb"><span class="_23eb  emojione-24-symbols"></span>
<div class="emojis__list__native">⏫</div></a></li>
<li ><a  id="23ec"><span class="_23ec  emojione-24-symbols"></span>
<div class="emojis__list__native">⏬</div></a></li>
<li ><a  id="25c0"><span class="_25c0  emojione-24-symbols"></span>
<div class="emojis__list__native">◀️</div></a></li>
<li ><a  id="1f53c"><span class="_1f53c  emojione-24-symbols"></span>
<div class="emojis__list__native">🔼</div></a></li>
<li ><a  id="1f53d"><span class="_1f53d  emojione-24-symbols"></span>
<div class="emojis__list__native">🔽</div></a></li>
<li ><a  id="27a1"><span class="_27a1  emojione-24-symbols"></span>
<div class="emojis__list__native">➡️</div></a></li>
<li ><a  id="2b05"><span class="_2b05  emojione-24-symbols"></span>
<div class="emojis__list__native">⬅️</div></a></li>
<li ><a  id="2b06"><span class="_2b06  emojione-24-symbols"></span>
<div class="emojis__list__native">⬆️</div></a></li>
<li ><a  id="2b07"><span class="_2b07  emojione-24-symbols"></span>
<div class="emojis__list__native">⬇️</div></a></li>
<li ><a  id="2197"><span class="_2197  emojione-24-symbols"></span>
<div class="emojis__list__native">↗️</div></a></li>
<li ><a  id="2198"><span class="_2198  emojione-24-symbols"></span>
<div class="emojis__list__native">↘️</div></a></li>
<li ><a  id="2199"><span class="_2199  emojione-24-symbols"></span>
<div class="emojis__list__native">↙️</div></a></li>
<li ><a  id="2196"><span class="_2196  emojione-24-symbols"></span>
<div class="emojis__list__native">↖️</div></a></li>
<li ><a  id="2195"><span class="_2195  emojione-24-symbols"></span>
<div class="emojis__list__native">↕️</div></a></li>
<li ><a  id="2194"><span class="_2194  emojione-24-symbols"></span>
<div class="emojis__list__native">↔️</div></a></li>
<li ><a  id="21aa"><span class="_21aa  emojione-24-symbols"></span>
<div class="emojis__list__native">↪️</div></a></li>
<li ><a  id="21a9"><span class="_21a9  emojione-24-symbols"></span>
<div class="emojis__list__native">↩️</div></a></li>
<li ><a  id="2934"><span class="_2934  emojione-24-symbols"></span>
<div class="emojis__list__native">⤴️</div></a></li>
<li ><a  id="2935"><span class="_2935  emojione-24-symbols"></span>
<div class="emojis__list__native">⤵️</div></a></li>
<li ><a  id="1f500"><span class="_1f500  emojione-24-symbols"></span>
<div class="emojis__list__native">🔀</div></a></li>
<li ><a  id="1f501"><span class="_1f501  emojione-24-symbols"></span>
<div class="emojis__list__native">🔁</div></a></li>
<li ><a  id="1f502"><span class="_1f502  emojione-24-symbols"></span>
<div class="emojis__list__native">🔂</div></a></li>
<li ><a  id="1f504"><span class="_1f504  emojione-24-symbols"></span>
<div class="emojis__list__native">🔄</div></a></li>
<li ><a  id="1f503"><span class="_1f503  emojione-24-symbols"></span>
<div class="emojis__list__native">🔃</div></a></li>
<li ><a  id="1f3b5"><span class="_1f3b5  emojione-24-symbols"></span>
<div class="emojis__list__native">🎵</div></a></li>
<li ><a  id="1f3b6"><span class="_1f3b6  emojione-24-symbols"></span>
<div class="emojis__list__native">🎶</div></a></li>
<li ><a  id="2795"><span class="_2795  emojione-24-symbols"></span>
<div class="emojis__list__native">➕</div></a></li>
<li ><a  id="2796"><span class="_2796  emojione-24-symbols"></span>
<div class="emojis__list__native">➖</div></a></li>
<li ><a  id="2797"><span class="_2797  emojione-24-symbols"></span>
<div class="emojis__list__native">➗</div></a></li>
<li ><a  id="2716"><span class="_2716  emojione-24-symbols"></span>
<div class="emojis__list__native">✖️</div></a></li>
<li ><a  id="1f4b2"><span class="_1f4b2  emojione-24-symbols"></span>
<div class="emojis__list__native">💲</div></a></li>
<li ><a  id="1f4b1"><span class="_1f4b1  emojione-24-symbols"></span>
<div class="emojis__list__native">💱</div></a></li>
<li ><a  id="2122"><span class="_2122  emojione-24-symbols"></span>
<div class="emojis__list__native">™️</div></a></li>
<li ><a  id="00a9"><span class="_00a9  emojione-24-symbols"></span>
<div class="emojis__list__native">©️</div></a></li>
<li ><a  id="00ae"><span class="_00ae  emojione-24-symbols"></span>
<div class="emojis__list__native">®️</div></a></li>
<li ><a  id="3030"><span class="_3030  emojione-24-symbols"></span>
<div class="emojis__list__native">〰️</div></a></li>
<li ><a  id="27b0"><span class="_27b0  emojione-24-symbols"></span>
<div class="emojis__list__native">➰</div></a></li>
<li ><a  id="27bf"><span class="_27bf  emojione-24-symbols"></span>
<div class="emojis__list__native">➿</div></a></li>
<li ><a  id="1f51a"><span class="_1f51a  emojione-24-symbols"></span>
<div class="emojis__list__native">🔚</div></a></li>
<li ><a  id="1f519"><span class="_1f519  emojione-24-symbols"></span>
<div class="emojis__list__native">🔙</div></a></li>
<li ><a  id="1f51b"><span class="_1f51b  emojione-24-symbols"></span>
<div class="emojis__list__native">🔛</div></a></li>
<li ><a  id="1f51d"><span class="_1f51d  emojione-24-symbols"></span>
<div class="emojis__list__native">🔝</div></a></li>
<li ><a  id="1f51c"><span class="_1f51c  emojione-24-symbols"></span>
<div class="emojis__list__native">🔜</div></a></li>
<li ><a  id="2714"><span class="_2714  emojione-24-symbols"></span>
<div class="emojis__list__native">✔️</div></a></li>
<li ><a  id="2611"><span class="_2611  emojione-24-symbols"></span>
<div class="emojis__list__native">☑️</div></a></li>
<li ><a  id="1f518"><span class="_1f518  emojione-24-symbols"></span>
<div class="emojis__list__native">🔘</div></a></li>
<li ><a  id="26aa"><span class="_26aa  emojione-24-symbols"></span>
<div class="emojis__list__native">⚪</div></a></li>
<li ><a  id="26ab"><span class="_26ab  emojione-24-symbols"></span>
<div class="emojis__list__native">⚫</div></a></li>
<li ><a  id="1f534"><span class="_1f534  emojione-24-symbols"></span>
<div class="emojis__list__native">🔴</div></a></li>
<li ><a  id="1f535"><span class="_1f535  emojione-24-symbols"></span>
<div class="emojis__list__native">🔵</div></a></li>
<li ><a  id="1f53a"><span class="_1f53a  emojione-24-symbols"></span>
<div class="emojis__list__native">🔺</div></a></li>
<li ><a  id="1f53b"><span class="_1f53b  emojione-24-symbols"></span>
<div class="emojis__list__native">🔻</div></a></li>
<li ><a  id="1f538"><span class="_1f538  emojione-24-symbols"></span>
<div class="emojis__list__native">🔸</div></a></li>
<li ><a  id="1f539"><span class="_1f539  emojione-24-symbols"></span>
<div class="emojis__list__native">🔹</div></a></li>
<li ><a  id="1f536"><span class="_1f536  emojione-24-symbols"></span>
<div class="emojis__list__native">🔶</div></a></li>
<li ><a  id="1f537"><span class="_1f537  emojione-24-symbols"></span>
<div class="emojis__list__native">🔷</div></a></li>
<li ><a  id="1f533"><span class="_1f533  emojione-24-symbols"></span>
<div class="emojis__list__native">🔳</div></a></li>
<li ><a  id="1f532"><span class="_1f532  emojione-24-symbols"></span>
<div class="emojis__list__native">🔲</div></a></li>
<li ><a  id="25aa"><span class="_25aa  emojione-24-symbols"></span>
<div class="emojis__list__native">▪️</div></a></li>
<li ><a  id="25ab"><span class="_25ab  emojione-24-symbols"></span>
<div class="emojis__list__native">▫️</div></a></li>
<li ><a  id="25fe"><span class="_25fe  emojione-24-symbols"></span>
<div class="emojis__list__native">◾</div></a></li>
<li ><a  id="25fd"><span class="_25fd  emojione-24-symbols"></span>
<div class="emojis__list__native">◽</div></a></li>
<li ><a  id="25fc"><span class="_25fc  emojione-24-symbols"></span>
<div class="emojis__list__native">◼️</div></a></li>
<li ><a  id="25fb"><span class="_25fb  emojione-24-symbols"></span>
<div class="emojis__list__native">◻️</div></a></li>
<li ><a  id="2b1b"><span class="_2b1b  emojione-24-symbols"></span>
<div class="emojis__list__native">⬛</div></a></li>
<li ><a  id="2b1c"><span class="_2b1c  emojione-24-symbols"></span>
<div class="emojis__list__native">⬜</div></a></li>
<li ><a  id="1f508"><span class="_1f508  emojione-24-symbols"></span>
<div class="emojis__list__native">🔈</div></a></li>
<li ><a  id="1f507"><span class="_1f507  emojione-24-symbols"></span>
<div class="emojis__list__native">🔇</div></a></li>
<li ><a  id="1f509"><span class="_1f509  emojione-24-symbols"></span>
<div class="emojis__list__native">🔉</div></a></li>
<li ><a  id="1f50a"><span class="_1f50a  emojione-24-symbols"></span>
<div class="emojis__list__native">🔊</div></a></li>
<li ><a  id="1f514"><span class="_1f514  emojione-24-symbols"></span>
<div class="emojis__list__native">🔔</div></a></li>
<li ><a  id="1f515"><span class="_1f515  emojione-24-symbols"></span>
<div class="emojis__list__native">🔕</div></a></li>
<li ><a  id="1f4e3"><span class="_1f4e3  emojione-24-symbols"></span>
<div class="emojis__list__native">📣</div></a></li>
<li ><a  id="1f4e2"><span class="_1f4e2  emojione-24-symbols"></span>
<div class="emojis__list__native">📢</div></a></li>
<li ><a  id="1f5e8"><span class="_1f5e8  emojione-24-symbols"></span>
<div class="emojis__list__native">🗨️</div></a></li>
<li ><a  id="1f441-1f5e8"><span class="_1f441-1f5e8  emojione-24-symbols"></span>
<div class="emojis__list__native">👁️‍🗨️</div></a></li>
<li ><a  id="1f4ac"><span class="_1f4ac  emojione-24-symbols"></span>
<div class="emojis__list__native">💬</div></a></li>
<li ><a  id="1f4ad"><span class="_1f4ad  emojione-24-symbols"></span>
<div class="emojis__list__native">💭</div></a></li>
<li ><a  id="1f5ef"><span class="_1f5ef  emojione-24-symbols"></span>
<div class="emojis__list__native">🗯️</div></a></li>
<li ><a  id="2660"><span class="_2660  emojione-24-symbols"></span>
<div class="emojis__list__native">♠️</div></a></li>
<li ><a  id="2663"><span class="_2663  emojione-24-symbols"></span>
<div class="emojis__list__native">♣️</div></a></li>
<li ><a  id="2665"><span class="_2665  emojione-24-symbols"></span>
<div class="emojis__list__native">♥️</div></a></li>
<li ><a  id="2666"><span class="_2666  emojione-24-symbols"></span>
<div class="emojis__list__native">♦️</div></a></li>
<li ><a  id="1f0cf"><span class="_1f0cf  emojione-24-symbols"></span>
<div class="emojis__list__native">🃏</div></a></li>
<li ><a  id="1f3b4"><span class="_1f3b4  emojione-24-symbols"></span>
<div class="emojis__list__native">🎴</div></a></li>
<li ><a  id="1f004"><span class="_1f004  emojione-24-symbols"></span>
<div class="emojis__list__native">🀄</div></a></li>
<li ><a  id="1f550"><span class="_1f550  emojione-24-symbols"></span>
<div class="emojis__list__native">🕐</div></a></li>
<li ><a  id="1f551"><span class="_1f551  emojione-24-symbols"></span>
<div class="emojis__list__native">🕑</div></a></li>
<li ><a  id="1f552"><span class="_1f552  emojione-24-symbols"></span>
<div class="emojis__list__native">🕒</div></a></li>
<li ><a  id="1f553"><span class="_1f553  emojione-24-symbols"></span>
<div class="emojis__list__native">🕓</div></a></li>
<li ><a  id="1f554"><span class="_1f554  emojione-24-symbols"></span>
<div class="emojis__list__native">🕔</div></a></li>
<li ><a  id="1f555"><span class="_1f555  emojione-24-symbols"></span>
<div class="emojis__list__native">🕕</div></a></li>
<li ><a  id="1f556"><span class="_1f556  emojione-24-symbols"></span>
<div class="emojis__list__native">🕖</div></a></li>
<li ><a  id="1f557"><span class="_1f557  emojione-24-symbols"></span>
<div class="emojis__list__native">🕗</div></a></li>
<li ><a  id="1f558"><span class="_1f558  emojione-24-symbols"></span>
<div class="emojis__list__native">🕘</div></a></li>
<li ><a  id="1f559"><span class="_1f559  emojione-24-symbols"></span>
<div class="emojis__list__native">🕙</div></a></li>
<li ><a  id="1f55a"><span class="_1f55a  emojione-24-symbols"></span>
<div class="emojis__list__native">🕚</div></a></li>
<li ><a  id="1f55b"><span class="_1f55b  emojione-24-symbols"></span>
<div class="emojis__list__native">🕛</div></a></li>
<li ><a  id="1f55c"><span class="_1f55c  emojione-24-symbols"></span>
<div class="emojis__list__native">🕜</div></a></li>
<li ><a  id="1f55d"><span class="_1f55d  emojione-24-symbols"></span>
<div class="emojis__list__native">🕝</div></a></li>
<li ><a  id="1f55e"><span class="_1f55e  emojione-24-symbols"></span>
<div class="emojis__list__native">🕞</div></a></li>
<li ><a  id="1f55f"><span class="_1f55f  emojione-24-symbols"></span>
<div class="emojis__list__native">🕟</div></a></li>
<li ><a  id="1f560"><span class="_1f560  emojione-24-symbols"></span>
<div class="emojis__list__native">🕠</div></a></li>
<li ><a  id="1f561"><span class="_1f561  emojione-24-symbols"></span>
<div class="emojis__list__native">🕡</div></a></li>
<li ><a  id="1f562"><span class="_1f562  emojione-24-symbols"></span>
<div class="emojis__list__native">🕢</div></a></li>
<li ><a  id="1f563"><span class="_1f563  emojione-24-symbols"></span>
<div class="emojis__list__native">🕣</div></a></li>
<li ><a  id="1f564"><span class="_1f564  emojione-24-symbols"></span>
<div class="emojis__list__native">🕤</div></a></li>
<li ><a  id="1f565"><span class="_1f565  emojione-24-symbols"></span>
<div class="emojis__list__native">🕥</div></a></li>
<li ><a  id="1f566"><span class="_1f566  emojione-24-symbols"></span>
<div class="emojis__list__native">🕦</div></a></li>
<li ><a  id="1f567"><span class="_1f567  emojione-24-symbols"></span>
<div class="emojis__list__native">🕧</div></a></li>
</ul>