﻿div(class="chat-top-bar")
    img(class="box-avatar circle" src=roomInfo.roomAvatar
    div(class="box-info")
        div(class="box-name")=roomInfo.roomName
        div(class="boxMoreInfo")
    div(class="tool-section")
        a(class="tool-button mr10 btExtentTab" href="#searchResultPane")
            span(class="fa fa-search")
        a(class="tool-button mr10 btExtentTab selected" href="#memberPane")
            span(class="fa fa-users")
        a(class="tool-button mr10 btExtentTab" href="#filePane")
            span(class="fa fa-paperclip")        
        a(class="tool-button mr10 btExtentTab" href="#linkPane")
            span(class="fa fa-link")        
div(class="chat-main")
    div(class="chat-window chat")
        div(class="chat-history")
            ul
        div(class="chat-input")
            div(class="text-input")
                textarea(class="" placeholder="Nhập để chat ...")
            div(class="other-input")
                a(class="big-button mr5")                
                    i(class="fa fa-smile-o")
                a(class="big-button mr5")                
                    i(class="fa fa-paperclip")
                a(class="big-button")                
                    i(class="fa fa-map-marker")
    div(class="chat-added-info")
        div(class="extend-pane" id="memberPane")  
            div(class="header") Chat Members
                a(class="tool-button btCloseExPane")
                    span(class="fa fa-remove")
            div(class="pane-content")
                div(class="search-pane")
                    input(type="text" placeholder="Search members")
                    i(class="fa fa-search search-label")
                div(class="scroll-content")
                    ul(class="item-list")
                        //-li
                            a(class="big-button")
                                span(class="fa fa-plus")
                            div(class="item-name") Thêm member                            
                        li
                            img(class="circle room-avatar" src="https://scontent.fsgn5-1.fna.fbcdn.net/v/t1.0-1/p48x48/22780282_1698894103455600_2939369516602198185_n.jpg?oh=c35ed7be0503f857d54f7f8236a3ecff&oe=5AAE3BE6")
                            div(class="item-name") Hưng Lê
                            a(class="small-button")
                                span(class="fa fa-ellipsis-v")
                        li
                            img(class="circle room-avatar" src="https://myxteam.blob.core.windows.net/avatar/Thumb/20170816101001.jpg")
                            div(class="item-name") Hà Phan
                            a(class="small-button")
                                span(class="fa fa-ellipsis-v")
        div(class="extend-pane hide" id="filePane")         
            div(class="header") All Files
                a(class="tool-button btCloseExPane")
                    span(class="fa fa-remove")
            div(class="pane-content")
                div(class="search-pane")
                    input(type="text" placeholder="Search files")
                    i(class="fa fa-search search-label")
                div(class="scroll-content")
                    ul(class="item-list")
                        li
                            i(class="fa fa-file-text")
                            div(class="item-name") chatnhanh_logo.zip
                        li
                            i(class="fa fa-file-text")
                            div(class="item-name") chatnhanh_logo.zip
        div(class="extend-pane hide" id="linkPane")             
            div(class="header") All Links
                a(class="tool-button btCloseExPane")
                    span(class="fa fa-remove")
            div(class="pane-content")
                div(class="search-pane")
                div(class="scroll-content")
        div(class="extend-pane hide" id="searchResultPane")
            div(class="header") Search result
                a(class="tool-button btCloseExPane")
                    span(class="fa fa-remove")
            div(class="pane-content")
                div(class="search-pane")
                div(class="scroll-content")
