﻿div(class="modal hide fade" id="createChatModal")
    div(class="modal-dialog")
        div(class="modal-content")
            div(class="modal-header")
                a(class="modal-close btCloseModal")
                    span(class="fa fa-power-off")
                h4(class="modal-title") Tạo tin nhắn mới  
            div(class="modal-body" style="min-height:470px")
                div(id="divMemberInput" class="form-group m-form__group auto-height m--margin-top-10")
                    select(type="text" id="tbMemberInput" multiple="multiple" class="form-control m-input" style="width:100%")
                div.m--margin-top-5.pull-right
                    a(class="btn btn-success" id="btStartChat" href="javascript:;" style="") Bắt đầu