﻿ul(class="emoji-tabs") 
    li(class="people selected" data-href="people" title="Smileys & People") 
        img(class="emojione" alt="😃" title=":smiley:" src="/emojione/32/1f603.png")
    li(class="animal" data-href="animal" title="Animals & Nature") 
        img(class="emojione" alt="🐻" title=":bear:" src="/emojione/32/1f43b.png")
    li(class="food" data-href="food" title="Food & Drink") 
        img(class="emojione" alt="🍔" title=":hamburger:" src="/emojione/32/1f354.png")
    li(class="activity" data-href="activity" title="Activity and Sports") 
        img(class="emojione" alt="⚽" title=":soccer:" src="/emojione/32/26bd.png")
    li(class="travel" data-href="travel" title="Travel & Places") 
        img(class="emojione" alt="🌇" title=":city_sunset:" src="/emojione/32/1f307.png")
    li(class="object" data-href="object" title="Objects") 
        img(class="emojione" alt="💡" title=":bulb:" src="/emojione/32/1f4a1.png")
    li(class="symbol" data-href="symbol" title="Symbols") 
        img(class="emojione" alt="🔣" title=":symbols:" src="/emojione/32/1f523.png")
    li(class="flag" data-href="flag" title="Flags") 
        img(class="emojione" alt="🇺🇲" title=":flags:" src="/emojione/32/1f1fa-1f1f8.png")
ul(class="emoji-tab-content") 
    li(class="people selected" data-target="people")
        include emoji/people
    li(class="animal" data-target="animal")
        include emoji/animal
    li(class="food" data-target="food")
        include emoji/food
    li(class="activity" data-target="activity")
        include emoji/activity
    li(class="travel" data-target="travel")
        include emoji/travel
    li(class="object" data-target="object")
        include emoji/object
    li(class="symbol" data-target="symbol")
        include emoji/symbol
    li(class="flag" data-target="flag")
        include emoji/flag