﻿div(class="modal hide fade" id="pasteImageToChatBox")
    div(class="modal-dialog")
        div(class="modal-content")
            div(class="modal-header")
                a(class="modal-close btCloseModal")
                    span(class="fa fa-power-off")
                h4(class="modal-title") Hiệu chỉnh hình trước khi gửi                
            div(class="modal-body")
                img(id="canvasImage")
                div(class="docs-buttons")
                    div(class="btn-group")
                        a(class="btn" data-method="zoom" data-option="0.1" title="Zoom In")
                            span(class="fa fa-search-plus")
                        a(class="btn" data-method="zoom" data-option="-0.1" title="Zoom Out")
                            span(class="fa fa-search-minus")
                    div(class="btn-group")
                        a(class="btn" data-method="move" data-option="-10" data-second-option="0" title="Move Left")
                            span(class="fa fa-arrow-left")
                        a(class="btn" data-method="move" data-option="10" data-second-option="0" title="Move Right")
                            span(class="fa fa-arrow-right")
                        a(class="btn" data-method="move" data-option="0" data-second-option="-10" title="Move Up")
                            span(class="fa fa-arrow-up")
                        a(class="btn" data-method="move" data-option="0" data-second-option="10" title="Move Down")
                            span(class="fa fa-arrow-down")
                    div(class="btn-group")
                        a(class="btn" data-method="rotate" data-option="-45" title="Rotate Left 45°")
                            span(class="fa fa-rotate-left")
                        a(class="btn" data-method="rotate" data-option="45" title="Rotate Right 45°")
                            span(class="fa fa-rotate-right")  
                    div(class="btn-group")
                        a(class="btn" data-method="getCroppedCanvas" title="Crop")
                            span(class="fa fa-crop") Cắt hình
            div(class="modal-footer clearfix")
                div(class="footer-hint") Bạn có thể sử dụng thanh công cụ bên trên để hiệu chỉnh trước khi gửi
                div(class="footer-buttons")
                    a(class="btn btCloseModal") Đóng
                    a(class="btn btn-primary" id="btSendCBImage") Gửi
                
                        
                                                  