﻿extends layout
block script
    script(type='text/javascript', src ='/javascripts/constant.js')
    script(type='text/javascript', src ='/javascripts/index.js')
    script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeoAhFb2Q8aF5N_fWORaZKzpvqR7dOOW4&libraries=places&callback=initAutocomplete" async defer)    
block content    
    div(class="left-pane")
        include leftpane
    div(id="divChatBoxList" class="main-contain")        
        div(class="chat-pane hide no-permission")       
            div(class="chat-top-bar")
                img(class="box-avatar circle" style="height:auto" src="/images/zipper.jpg")
                div(class="box-info")
                    div(class="box-name") Room không tồn tại
            div(class="chat-main")
                div(class="chat-window chat")
                    h1(style="text-align:center")
                        img(class="circle" src="/images/zipper.jpg")
                div(class="chat-added-info")
    if token == null
        div(class="loginLayer")
            div(class="loginFormWrapper")
                div(class="top-bar center")
                    a(class="navbar-brand" href="#")
                        img(src="/images/chatnhanh_logo_2017.png" class="logo"  height="30") 
                    b ChatNhanh
                div(class="login-content")
                    h3(class="sub-header") Bạn cần đăng nhập để chat
                    div(class="login-box")
                        a(class="btLogin" href="/login") Đăng nhập
                        div(class="or") hoặc
                        a(class="btRegister" href="/login") Đăng ký tài khoản mới
    
    <button id="authorize_button" style="display: none">Authorize</button>
    <button id="signout_button" style="display: none">Sign Out</button>

    <pre id="content" style="white-space: pre-wrap;display:none"></pre>
    include settings
    include imagePasteEditor    
    include createChatBox
    include inviteMemberToChatBox
    include ./channel/createChannel
    include ./channel/updateChannel
    include ./channel/channelAddAdmin
    include ./channel/channelAdministrator
    include ./channel/channelAdminPermissions
    include ./channel/channelBanUser
    include ./channel/channelAddBan
    include ./group/updateGroup
    include ./contact/contactlist
    include ./contact/addContact
    include ./plan/addPlan
    include ./plan/planDetail
    include ./plan/planComment
    include ./plan/responseResult
    include ./message/forwardList
    canvas(id='uploading_canvas' style='display:none')
    script.
        //var createRoomInfo = !{JSON.stringify(createRoomInfo)}
        var token = '!{token}';
        var userId = '!{userId}';
        if(token)
            connectSocket(token, userId);
    script(type="text/javascript", async defer src="https://apis.google.com/js/api.js", onload="this.onload=function(){};handleClientLoad()", onreadystatechange="if (this.readyState === 'complete') this.onload()")