﻿div(class="modal hide fade" id="inviteMemberToChatModal")
    div(class="modal-dialog")
        div(class="modal-content")
            div(class="modal-header")
                a(class="modal-close btCloseModal")
                    span(class="fa fa-power-off")
                h4(class="modal-title") Mời thành viên vào <span id="inviteChatRoomName"></span>
            div(class="modal-body" style="height:470px")
                div(id="divMemberInviteInput" class="input-group auto-height")
                    select(type="text" id="tbMemberInviteInput" multiple="multiple" class="form-input form-control" style="width:650px")
                    a(class="input-button" id="btStartInvite" style="height: 40px;margin-left: 10px;") Mời           
