﻿doctype html
html
  head
    title
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="maximum-scale=1.0,width=device-width,initial-scale=1.0,user-scalable=0" name="viewport">
    <meta id="iosStore" name="apple-itunes-app" content="app-id=994117263, app-argument: tg://resolve?domain=sessasd">
    link(rel='stylesheet', href='/stylesheets/vendor/font-awesome/css/font-awesome.css')    
    link(rel='stylesheet', href='/stylesheets/vendor/line-awesome/css/line-awesome.css')    
    link(rel='stylesheet', type='text/css', href='/stylesheets/vendor/pnotify.custom.css')
    link(rel='stylesheet', href='/stylesheets/vendor/bootstrap.css')    
    link(rel='stylesheet', href='/stylesheets/join.css')         
    script(type='text/javascript', src ='/javascripts/constant.js')
    script(type='text/javascript', src='/javascripts/join.js')
  body
    nav(class="navbar navbar-expand-lg navbar-light bg-light")
        a(class="navbar-brand" href="#") 
            img(src="/images/chatnhanh_logo_2017.png" width="30" height="30" class="d-inline-block align-top" alt="")
            |  ChatNhanh
    a(class="btn btn-block btn-success rounded-0"  href="javascript:;" ) Don't have ChatNhanh yet? Try it now! >
    div(class="container text-center")
        div(class="mt-5")
            div
                img(id="groupAvatar" height="80px")
            div(id="groupName" class="mt-3 font-weight-bold")
            div(id="groupInfo" class="text-muted")
            div(id="groupDescription" class="mt-3")
        div(class="mt-5")
            a(id="btJoinRoom" class="btn btn-info"  href="javascript:;" ) Join Channel
            div(id="downloadAppWrap" hidden)
                div(class="text-center mt-3")
                    a(id="btOpenApp" class="btn btn-info" ) Join Channel
                div(id="downloadWrap" )
                    div(class="mt-2") or
                    div(class="text-center mt-2")
                        a(href="http://onelink.to/chatnhanhapp" class="btn btn-info" ) Download app
                    //div(class="text-center mt-3")
                        img(src='/images/onlink_to_e8wj58_small.png' style="max-width:70%")                

    div(class="loginLayer d-none")
        div(class="loginFormWrapper")
            div(class="top-bar center")
                a(class="navbar-brand" href="#")
                    img(src="/images/chatnhanh_logo_2017.png" class="logo"  height="30") 
                b ChatNhanh
            div(class="login-content")
                h3(class="sub-header") Bạn cần đăng nhập để chat
                div(class="login-box")
                    a(class="btLogin" href=loginUrl) Đăng nhập
                    div(class="or") hoặc
                    a(class="btRegister" href=registerUrl) Đăng ký tài khoản mới
    script.
        var joinLink='!{joinLink}';
        var info = !{JSON.stringify(info)} 
        connectSocket(info, joinLink);     