﻿doctype html
html
  head
    title= title
    <link rel="manifest" href="/manifest.json">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="maximum-scale=1.0,width=device-width,initial-scale=1.0,user-scalable=0" name="viewport">
    link(href="/metro/base/vendors.bundle.css" rel="stylesheet" type="text/css")
    link(href="/metro/default/style.bundle.css" rel="stylesheet" type="text/css")
    link(rel='stylesheet', href='/stylesheets/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/vendor/line-awesome/css/line-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/vendor/percentageLoader/jquery.percentageloader-0.1.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/vendor/emojione/emojione-sprite-24.min.css')
    //link(rel='stylesheet', type='text/css', href='/stylesheets/pnotify.custom.css')
    //link(rel='stylesheet', type='text/css', href='/stylesheets/magnific-popup.css')
    //link(rel='stylesheet', type='text/css', href='/stylesheets/cropper.css')
    //link(rel='stylesheet', type='text/css', href='/stylesheets/modal.css')    
    //link(rel='stylesheet', type='text/css', href='/stylesheets/select2.css')
    //link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')    
    //link(rel='stylesheet', type='text/css', href='/stylesheets/forms.css')    
    link(rel="icon" id="favicon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png")
    link(rel='stylesheet', type='text/css', href='/stylesheets/index.css')    
    meta(name="msapplication-TileColor" content="#ffffff")
    meta(name="msapplication-TileImage" content="/ms-icon-144x144.png")
    meta(name="theme-color" content="#ffffff")
    //each js in scripts
        script(type='text/javascript' src=js)
    //script(type='text/javascript' src='/javascripts/jquery-3.2.1.min.js')
    //script(type='text/javascript' src='/javascripts/popper.min.js')    
    //script(type='text/javascript', src ='/javascripts/socket.io.js')
    //script(type='text/javascript', src ='/javascripts/moment-with-locales.min.js')
    //script(type='text/javascript', src='/javascripts/pnotify.custom.min.js')
    //script(type='text/javascript', src='/javascripts/textParseHelper.js')
    //script(type='text/javascript', src='/javascripts/dateTimeHelper.js')
    //script(type='text/javascript', src='/javascripts/url.js')
    //script(type='text/javascript', src='/javascripts/myLinkPreview.js')        
    //script(type='text/javascript', src='/javascripts/jquery.percentageloader-0.1.js')        
    //script(type='text/javascript', src='/javascripts/imageHelper.js')   
    //script(type='text/javascript' src='/javascripts/modal.js')        
    //script(type='text/javascript' src='/javascripts/emojione.js')        
    //script(type='text/javascript' src='/javascripts/jquery.mark.min.js')
    //script(type='text/javascript', src ='/javascripts/jquery.magnific-popup.js')      
    //script(type='text/javascript', src ='/javascripts/cropper.js')      
    //script(type='text/javascript', src ='/javascripts/imagePaste.js')      
    //script(type='text/javascript', src ='/javascripts/jquery.jeditable.js')      
    //script(type='text/javascript', src ='/javascripts/notifyHelper.js')
    //script(type='text/javascript', src ='/javascripts/messageHelper.js')
    //script(type='text/javascript', src ='/javascripts/js.cookie.js')
    //script(type='text/javascript' src='/javascripts/constant.js')
    //script(type='text/javascript', src ='/javascripts/favico.js')
    //script(type='text/javascript', src ='/javascripts/select2.full.js')    
    //script(type='text/javascript', src ='/javascripts/index.js')                 
    //script(type='text/javascript' src='/javascripts/channel/createChannel.js')
    //script(type='text/javascript' src='/javascripts/channel/updateChannel.js')
    //script(type='text/javascript' src='/javascripts/channel/channelAdministrator.js')
    //script(type='text/javascript' src='/javascripts/channel/channelBanUser.js')
    //script(type='text/javascript' src='/javascripts/group/updateGroup.js')               
    script(src="/metro/base/vendors.bundle.js" type="text/javascript")
    script(src="/metro/default/scripts.bundle.js" type="text/javascript")
    block script
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async></script>   
  body
    block content