﻿doctype html
html(lang='vi')
    head
        title=title
        <meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible">
        <meta content="maximum-scale=1.0,width=device-width,initial-scale=1.0,user-scalable=0" name="viewport">
        <link href="/metro/base/vendors.bundle.css" rel="stylesheet" type="text/css" >
        <link href="/metro/default/style.bundle.css" rel="stylesheet" type="text/css" >
        link(rel="icon" id="favicon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png")
        meta(name="msapplication-TileColor" content="#ffffff")
        meta(name="msapplication-TileImage" content="/ms-icon-144x144.png")
        meta(name="theme-color" content="#ffffff")
        script(src="/metro/base/vendors.bundle.js" type="text/javascript")
        script(src="/metro/default/scripts.bundle.js" type="text/javascript")
        script(src="/javascripts/vendor/js.cookie.js" type="text/javascript")
        script(src="/javascripts/vendor/localForage.min.js" type="text/javascript")
        script(src="/javascripts/accountKitHelper.js" type="text/javascript")
        style.
            .ball {
                position: absolute;
                border-radius: 100%;
                opacity: 0.7;
            }
    body(class="m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default" style='background-image: url(../Images/bg-3.jpg);')
        #balls(style="position:absolute;z-index:-1;top:0;bottom:0;left:0;right:0;overflow:hidden")
        .m-grid.m-grid--hor.m-grid--root.m-page
            block content