﻿div(class="search-bar")
    input(id="tbSearchRecent" type="text" placeholder="Tìm kiếm...")
    i(class="fa fa-search search-label")
    i(class="fa fa-remove btClear" id="btClearSearchRecent")
div(class="chat-pane-list")
    ul(id="divRecentChat" class="chat-list")
    ul(id="divRecentSearch" class="chat-list hide")