﻿nav(class="navbar navbar-expand navbar-light bg-light")
    div(class="top-bar")        
        div(class="nav-dropdown m-dropdown m-dropdown--inline m-dropdown--arrow")    
            a(class="nav-button menuButton")
                span(class="la la-bars" style="font-size:30px")
            div(class="menuMain m-dropdown__wrapper")
                span.m-dropdown__arrow.m-dropdown__arrow--left(style="left:8px")
                .m-dropdown__inner
                    a(class="btCreateChat menu-item") 
                        span(class="fa fa-pencil-square-o") 
                        span Tạo nhóm chat                
                    a(class="btCreateChannel menu-item") 
                        span(class="fa fa-bullhorn") 
                        span Tạo kênh
                    a(class="btShowContact menu-item") 
                        span(class="fa fa-users") 
                        span Danh bạ
                    a(class="btSettings menu-item") 
                        span(class="fa fa-cogs") 
                        span Tài khoản
        //a(class="navbar-brand" href="#")
            img(src="/images/chatnhanh_logo_2017.png" class="logo"  height="30") 
        b ChatNhanh
        div(class="divAccButtonWrapper")
            a(class="btCreateChat")
                span(class="fa fa-pencil-square-o")
            //a(class="btAccountMenu" title="Thông tin tài khoản")
                span(class="fa fa-cogs")
            //div(class="accountInfoDropdown")
                div(class="accountInfoWrapper clearfix")
                    div(id="accountAvatar") 
                    div(class="accountInfo")
                        div(class="accountName")
                            a(href="" target="_blank")
                        div(class="accountOtherInfo")
                div(class="accountLinks") 
                    a(href="https://muabannhanh.com/thanh-vien/thong-tin-tai-khoan" target="_blank") Quản lý tài khoản
                    a(href="https://muabannhanh.com/thanh-vien/danh-sach-tin-dang" target="_blank") Quản lý tin đăng
                    a(href="https://muabannhanh.com/thanh-vien/don-hang-ban" target="_blank") Quản lý đơn hàng
                    a(onclick="logout()") Đăng xuất                
    div(class="search-bar")
        input(id="tbSearchRecent" type="text" placeholder="Search ChatNhanh")
        i(class="fa fa-search search-label")
        i(class="fa fa-remove btClear" style="top:5px" id="btClearSearchRecent")
div(class="chat-pane-list")
    ul(id="divRecentChat" class="chat-list")
    ul(id="divRecentSearch" class="chat-list hide")
        //-for (var i = 0; i < 10; ++i)         
            li
                img(class="room-avatar circle" src="https://myxteam.blob.core.windows.net/avatar/User-Group.png")
                div(class="chat-item")
                    div(class="chat-info")
                        div(class="chat-room-name") ePaperSmart Team Chat
                        div(class="last-message-time")
                    div(class="last-message") Hưng Lê: 
                        span gọi rồi, ổng dang xem mà gọi rồi, ổng dang xem mà
            li
                img(class="room-avatar circle" src="http://files.myxteam.com/avatar/Help-Group.png")
                div(class="chat-item")
                    div(class="chat-info")
                        div(class="chat-room-name") Hưng Lê - Support
                        div(class="last-message-time")
                    div(class="last-message") Hưng Lê: 
                        span gọi rồi, ổng dang xem mà gọi rồi, ổng dang xem mà
            li
                img(class="room-avatar circle" src="https://myxteam.blob.core.windows.net/avatar/Thumb/20170816101001.jpg")
                div(class="chat-item")
                    div(class="chat-info")
                        div(class="chat-room-name") Hà Phan
                        div(class="last-message-time")
                    div(class="last-message") Hà Phan: 
                        span ktra rồi e, ko thấy thông báo
