﻿extends layoutLogin
block content
    #m_login.m-grid__item.m-grid__item--fluid.m-grid.m-grid--hor.m-login.m-login--signin.m-login--2.m-login-2--skin-2
        .m-grid__item.m-grid__item--fluid.m-login__wrapper
            .m-login__container
                .m-login__logo
                    a(href='#')
                        img(src='../images/logo-01.png')
                .m-login__signin
                    .m-login__head
                        h3.m-login__title
                            | Đăng nhập vào ChatNhanh
                    form.m-login__form.m-form(action='')
                        .form-group.m-form__group
                            input.form-control.m-input(type='text', placeholder='Mobile', name='mobile', autocomplete='off')
                        .m-login__form-action
                            button#m_login_signin_submit.btn.btn-success.m-btn.m-btn--pill.m-btn--custom.m-btn--air.m-login__btn.m-login__btn--primary
                                | Đăng Nhập
    script(src="/javascripts/login.js" type="text/javascript")
