﻿doctype html
html(lang='vi')
    head
        title=title
        <meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible">
        <meta content="maximum-scale=1.0,width=device-width,initial-scale=1.0,user-scalable=0" name="viewport">
        <link href="/metro/base/vendors.bundle.css" rel="stylesheet" type="text/css" >
        <link href="/metro/default/style.bundle.css" rel="stylesheet" type="text/css" >
        link(rel="icon" id="favicon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png")
        meta(name="msapplication-TileColor" content="#ffffff")
        meta(name="msapplication-TileImage" content="/ms-icon-144x144.png")
        meta(name="theme-color" content="#ffffff")
        script(src="/metro/base/vendors.bundle.js" type="text/javascript")
        script(src="/metro/default/scripts.bundle.js" type="text/javascript")
        script(src="/javascripts/vendor/js.cookie.js" type="text/javascript")
        style.
            .ball {
                position: absolute;
                border-radius: 100%;
                opacity: 0.7;
            }
    body(class="m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default" style='background-image: url(../Images/bg-3.jpg);')
        #balls(style="position:absolute;z-index:-1;top:0;bottom:0;left:0;right:0;overflow:hidden")
        .m-grid.m-grid--hor.m-grid--root.m-page
            #m_login.m-grid__item.m-grid__item--fluid.m-grid.m-grid--hor.m-login.m-login--signin.m-login--2.m-login-2--skin-2
                .m-grid__item.m-grid__item--fluid.m-login__wrapper
                    .m-login__container
                        .m-login__logo
                            a(href='#')
                                img(src='../images/ms-icon-70x70.png')
                        .m-login__signin
                            .m-login__head
                                h3.m-login__title
                                    | Đăng nhập vào Chat Nhanh
                            form.m-login__form.m-form(action='')
                                .form-group.m-form__group
                                    input.form-control.m-input(type='text', placeholder='Email', name='email', autocomplete='off', validationMessage="Cần nhập Email")
                                .form-group.m-form__group
                                    input.form-control.m-input.m-login__form-input--last(type='password', placeholder='Mật khẩu', name='password')
                                //.row.m-login__form-sub
                                    .col.m--align-left.m-login__form-left
                                        label.m-checkbox.m-checkbox--success
                                            input(type='checkbox', name='remember')
                                            | Ghi nhớ
                                            span
                                    .col.m--align-right.m-login__form-right
                                        a#m_login_forget_password.m-link(href='javascript:;')
                                            | Quên mật khẩu ?
                                .m-login__form-action
                                    button#m_login_signin_submit.btn.btn-success.m-btn.m-btn--pill.m-btn--custom.m-btn--air.m-login__btn.m-login__btn--primary
                                        | Đăng Nhập
                        .m-login__signup
                            .m-login__head
                                h3.m-login__title
                                    | Tạo tài khoản Chat Nhanh
                                //.m-login__desc
                                    | Nhập thông tin của bạn để đăng kí tài khoản:
                            form.m-login__form.m-form(action='')
                                .form-group.m-form__group
                                    input.form-control.m-input(type='text', placeholder='Họ tên', name='fullname')
                                .form-group.m-form__group
                                    input.form-control.m-input(type='text', placeholder='Email', name='email', autocomplete='off')
                                .form-group.m-form__group
                                    input.form-control.m-input(type='password', placeholder='Mật khẩu', name='password')
                                .form-group.m-form__group
                                    input.form-control.m-input.m-login__form-input--last(type='password', placeholder='Xác nhận Mật khẩu', name='rpassword')
                                .row.form-group.m-form__group.m-login__form-sub
                                    .col.m--align-left
                                        label.m-checkbox.m-checkbox--success
                                            input(type='checkbox', name='agree')
                                            | Tôi đồng ý với  
                                            a.m-link.m-link--success(href='#')
                                                | điều khoản sử dụng
                                            |.
                                            span
                                        span.m-form__help
                                .m-login__form-action
                                    button#m_login_signup_submit.btn.btn-success.m-btn.m-btn--pill.m-btn--custom.m-btn--air.m-login__btn
                                        | Đăng kí
                                    button#m_login_signup_cancel.btn.btn-outline-success.m-btn.m-btn--pill.m-btn--custom.m-login__btn
                                        | Huỷ
                        .m-login__forget-password
                            .m-login__head
                                h3.m-login__title
                                    | Quên mật khẩu ?
                                .m-login__desc
                                    | Nhập email của bạn để đặt lại mật khẩu:
                            form.m-login__form.m-form(action='')
                                .form-group.m-form__group
                                    input#m_email.form-control.m-input(type='text', placeholder='Email', name='email', autocomplete='off')
                                .m-login__form-action
                                    button#m_login_forget_password_submit.btn.btn-success.m-btn.m-btn--pill.m-btn--custom.m-btn--air.m-login__btn.m-login__btn--primary
                                        | Yêu cầu
                                    button#m_login_forget_password_cancel.btn.btn-outline-success.m-btn.m-btn--pill.m-btn--custom.m-login__btn
                                        | Huỷ
                        .m-login__account
                            span.m-login__account-msg
                                | Chưa có tài khoản ?  
                            a#m_login_signup.m-link.m-link--light.m-login__account-link(href='javascript:;')
                                | Đăng kí
        script(src="/javascripts/loginEmail.js" type="text/javascript")
