﻿div(class="modal hide fade" id="settingModal")
    div(class="modal-dialog" style="width:550px" )
        div(class="modal-content")
            div(class="modal-header")
                a(class="modal-close btCloseModal")
                    span(class="fa fa-power-off")
                h4(class="modal-title") Tài khoản
            div(class="modal-body"  style="min-height:470px")
                div#mainAccount
                    div(class="accountInfoWrapper clearfix")
                        div(id="accountAvatar") 
                            a.btn.btn-sm.m-btn.btn-info.m-btn--air(style="position:absolute;bottom:0;right:0;opacity:0.9;padding:3px 8px" href="javascript:;")
                                span.fa.fa-pencil
                        div(class="accountInfo")
                            div(class="accountName")
                                a()
                            div(class="accountOtherInfo")
                    div(class="accountLinks")
                        a(id="btShowUpdateAccount" href="javascript:;") 
                            span(class="fa fa-user mr10 m--margin-top-10")
                            span Cập nhật thông tin
                        a(id="btShowUpdatePassword" href="javascript:;") 
                            span(class="fa fa-key mr10 m--margin-top-10")
                            span Đổi mật khẩu
                        a(onclick="logout()" href="javascript:;") 
                            span(class="fa fa-sign-out mr10 m--margin-top-10")
                            span Đăng xuất
                div#updateAccountInfo(style="display:none")
                    h5.m--margin-top-15
                        | Cập nhật thông tin 
                    form.m-form.m--margin-top-20#formUpdateAccountInfo 
                        .form-group.m-form__group
                            input.form-control.m-input(type='text', placeholder='Email', name='email', autocomplete='off')
                        .form-group.m-form__group
                            input.form-control.m-input(type='text', placeholder='Mobile', name='mobile', autocomplete='off')
                        .form-group.m-form__group
                            input.form-control.m-input(type='text', placeholder='Fullname', name='fullname', autocomplete='off')
                        div.m--margin-top-20.pull-right
                            a.btBackToMainAccount.btn.btn-secondary(href="javascript:;").m--margin-right-5
                                | Quay lại   
                            a#btUpdateAccountInfo.btn.btn-success(href="javascript:;")
                                | Cập nhật
                div#updateAccountPassword(style="display:none")
                    h5.m--margin-top-15
                        | Cập nhật mật khẩu
                    form.m-form.m--margin-top-20#formUpdateAccountPassword
                        .form-group.m-form__group
                            input.form-control.m-input(type='password', placeholder='Mật khẩu cũ', name='opassword', autocomplete='off')
                        .form-group.m-form__group
                            input.form-control.m-input(type='password', placeholder='Mật khẩu', name='password', autocomplete='off')
                        .form-group.m-form__group
                            input.form-control.m-input(type='password', placeholder='Xác nhận lại ', name='rpassword', autocomplete='off')                                    
                        div.m--margin-top-20.pull-right
                            a.btBackToMainAccount.btn.btn-secondary(href="javascript:;").m--margin-right-5
                                | Quay lại
                            a#btUpdateAccountPassword.btn.btn-success(href="javascript:;")
                                | Cập nhật