﻿extends layout
block script
     script(type='text/javascript', src ='/javascripts/index.js')       
block content
    div(id='chat-widget-wrapper', style='position:fixed;bottom:0;left:550px')    
        iframe(id='chat-frame', src='https://localhost:3003/widgets', frameborder='0', style='height:495px;width:400px')
    a(onclick="createRoom()") create room
    script.
        function createRoom() {
            var info = { type: 'page', pageId: 131091, pageImage: encodeURIComponent('https://cdn.muabannhanh.com/asset/frontend/img/avatar-d.png'), pageLink: encodeURIComponent('https://muabannhanh.com/TinhDauTuNhien'), pageName: encodeURIComponent('Tinh Dầu Tự Nhiên'), createItemMessage: true, itemId: 43423, itemName: encodeURIComponent('Đèn xông tinh dầu làm sạch không khí, diệt trừ vi rút, vi khuẩn, xua đuổi muỗi và côn trùng - MSN181263'), itemImage: encodeURIComponent('https://cdn.muabannhanh.com/asset/frontend/img/gallery/2017/08/22/599ba4ab5f3d5_1503372459.jpg'), itemLink: encodeURIComponent('https://muabannhanh.com/den-xong-tinh-dau-lam-sach-khong-khi-diet-tru-vi-rut-vi-khuan-xua-duoi-muoi-va-con-trung-msn181263-id-44290e00'), itemPrice: '190.000VND' };            
            console.log(info);
            document.getElementById("chat-frame").contentWindow.postMessage({eventName: "createRoom", info: info}, "https://localhost");
            //document.getElementById("chat-frame").contentWindow.createRoom(info);
        }
        function receiveMessage(event) {
            if (event.data == 'login') { gotoLogin(); }       
        }
        window.addEventListener("message", receiveMessage, false);
        function gotoLogin() { window.location.href = 'https://muabannhanh.com/auth/login?redirectUrl=' + encodeURIComponent(window.location.href); }
        