﻿doctype html
html
    head
        title= title
        <meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible">
        <meta content="maximum-scale=1.0,width=device-width,initial-scale=1.0,user-scalable=0" name="viewport">
        link(rel='stylesheet', href='/stylesheets/vendor/font-awesome/css/font-awesome.min.css')
        link(rel='stylesheet', type='text/css', href='/stylesheets/vendor/percentageLoader/jquery.percentageloader-0.1.css')
        //link(rel='stylesheet', type='text/css', href='/stylesheets/pnotify.custom.css')
        //link(rel='stylesheet', type='text/css', href='/stylesheets/cropper.css')
        //link(rel='stylesheet', type='text/css', href='/stylesheets/modal.css')  
        //link(rel='stylesheet', type='text/css', href='/stylesheets/forms.css')
        link(rel='stylesheet', type='text/css', href='/stylesheets/vendor/emojione/emojione-sprite-24.min.css')
        link(rel='stylesheet', type='text/css', href='/stylesheets/widgets.css')        
        //link(rel='stylesheet', type='text/css', href='/stylesheets/magnific-popup.css')
        //script(type='text/javascript', src='/javascripts/jquery-3.2.1.min.js')
        //script(type='text/javascript', src ='/javascripts/socket.io.js')
        //script(type='text/javascript', src ='/javascripts/moment-with-locales.min.js')
        //script(type='text/javascript', src='/javascripts/pnotify.custom.min.js')
        //script(type='text/javascript', src='/javascripts/textParseHelper.js')
        //script(type='text/javascript', src='/javascripts/dateTimeHelper.js')
        //script(type='text/javascript', src='/javascripts/url.js')
        //script(type='text/javascript', src='/javascripts/myLinkPreview.js')        
        //script(type='text/javascript', src='/javascripts/jquery.percentageloader-0.1.js')        
        //script(type='text/javascript' src='/javascripts/emojione.js')        
        //script(type='text/javascript', src ='/javascripts/jquery.magnific-popup.js')   
        //script(type='text/javascript' src='/javascripts/modal.js')        
        //script(type='text/javascript', src ='/javascripts/cropper.js')      
        //script(type='text/javascript', src ='/javascripts/imagePaste.js')      
        //script(type='text/javascript', src='/javascripts/imageHelper.js')      
        //script(type='text/javascript', src ='/javascripts/notifyHelper.js')  
        //script(type='text/javascript', src='/javascripts/messageHelper.js')
        //script(type='text/javascript' src='/javascripts/constant.js')
        script(type='text/javascript', src ='/javascripts/constant.js')
        script(type='text/javascript', src='/javascripts/widgets.js')
        //script(type='text/javascript', src="https://maps.googleapis.com/maps/api/js")
    body
        if info == null
            div(class="loginLayer")
                div(class="loginFormWrapper")
                    div(class="top-bar center")
                        a(class="navbar-brand" href="#")
                            img(src="/images/chatnhanh_logo_2017.png" class="logo"  height="30") 
                        b ChatNhanh
                    div(class="login-content")
                        h3(class="sub-header") Bạn cần đăng nhập để chat
                        div(class="login-box")
                            //a(class="btLogin" onclick="onClickToLogin()") Đăng nhập
                            a(class="btLogin" target="_blank" href="https://muabannhanh.com/auth/login?redirectUrl=#{encodeURIComponent(referrer)}") Đăng nhập
                            div(class="or") hoặc
                            //a(class="btRegister" onclick="onClickToRegister()") Đăng ký tài khoản mới
                            a(class="btRegister"  target="_blank" href="https://muabannhanh.com/auth/login?redirectUrl=#{encodeURIComponent(referrer)}") Đăng ký tài khoản mới
        else           
            div(class="pane-layer")
            div(class="left-pane")
                include leftpanewidget            
            div(id="divChatBoxList" class="main-contain")
                div(class="divMenuButton")
                    a(class="btNav" data-open="false")
                        i(class="fa fa-navicon")

    include imagePasteEditor    

    canvas(id='uploading_canvas' style='display:none')
    script.        
        var referrer = '!{referrer}'        
        var info = !{JSON.stringify(info)}
        setReferrer(referrer);
        if(info)
            connectSocket(info);             
        
    