﻿doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/font-awesome/css/font-awesome.css')
        link(rel='stylesheet', type='text/css', href='/stylesheets/percentageLoader/jquery.percentageloader-0.1.css')
        link(rel='stylesheet', type='text/css', href='/stylesheets/pnotify.custom.css')
        link(rel='stylesheet', type='text/css', href='/stylesheets/widget.css')
        script(type='text/javascript', src='/javascripts/jquery-3.2.1.min.js')
        script(type='text/javascript', src ='/javascripts/socket.io.js')
        script(type='text/javascript', src ='/javascripts/moment-with-locales.min.js')
        script(type='text/javascript', src='/javascripts/pnotify.custom.min.js')
        script(type='text/javascript', src='/javascripts/textParseHelper.js')
        script(type='text/javascript', src='/javascripts/dateTimeHelper.js')
        script(type='text/javascript', src='/javascripts/url.js')
        script(type='text/javascript', src='/javascripts/myLinkPreview.js')        
        script(type='text/javascript', src='/javascripts/jquery.percentageloader-0.1.js')        
        script(type='text/javascript' src='/javascripts/emojione.js')        
        script(type='text/javascript', src='/javascripts/imageHelper.js')        
        script(type='text/javascript', src='/javascripts/messageHelper.js')
        script(type='text/javascript' src='/javascripts/constant.js')
        script(type='text/javascript', src='/javascripts/widget.js')
        //script(type='text/javascript', src="https://maps.googleapis.com/maps/api/js")
    body
        
        div(class='container expanded')             
            //-div(class='chat-collapse', onclick='onClickExpandButton()')
                i(class='fa fa-comments-o')
                label(class='button_chat_online_text') Bấm để chat        
                i(class='notify-bagde')     
                i(class='fa fa-angle-up collapse-button')
            if info == null
                div(class='chat')  
                    //-div(class='chat-bar', onclick='onClickCollapseButton()') MBN Chat                       
                        i(class='fa fa-angle-down collapse-button')
                    div(class='chat-header clearfix') 
                        div(class='chat-about')
                            div(class='chat-with') Bạn cần đăng nhập để chat
                    div(class='chat-history') 
                        a(class='login-button', onclick='onClickToLogin()') Đăng nhập
                        div(class='or') hoặc
                        a(class='register-button', onclick='onClickToLogin()') Đăng ký tài khoản mới
                    div(class='chat-message clearfix')   
                        textarea(id='message-to-send', disabled, class='message-to-send', placeholder='Type your message', rows='2')
                        i(class='fa fa-paperclip', disabled)                
                        button(disabled) Send
            else
                case info.type
                    when 'private'
                        - chatBar = 'Chat cá nhân'    
                        - name = info.chatWithName   
                        - avatar = info.chatWithAvatar         
                        - detail = info.chatWithMobile
                        - itemImage = ''                
                    when 'item'
                        - chatBar = 'Chat với người bán'
                        - name = info.ownerName   
                        - avatar = info.ownerAvatar         
                        - detail = info.itemName
                        - itemImage = info.itemImage
                    when 'page'
                        - chatBar = 'Chat với admin trang'
                        - name = info.pageName
                        - avatar = info.pageImage
                        - detail = info.pageMobile
                        - itemImage = ''
                div(class='chat')            
                    //-div(class='chat-bar', onclick='onClickCollapseButton()')= chatBar
                        i(class='notify-bagde') 
                        i(class='fa fa-angle-down collapse-button')
                    div(class='chat-header clearfix') 
                        img(class='avatar',src=avatar)
                        div(class='chat-about')
                            div(class='chat-with')= name
                            div(class='chat-info')= detail 
                        //-if itemImage != '' 
                            img(class='item', src=itemImage)
                    div(id="dragHandler" class="dragandrophandler" ondragenter="onDragenter(event, this)" ondragover="onDragover(event)" ondragleave="onDragleave(event, this)" ondrop="onDrop(event, this)") Kéo & thả file vào đây để upload
                    div(class='chat-history chat-logs')                         
                        ul                              
                    div(class='chat-message clearfix')   
                        textarea(id='message-to-send', class='message-to-send', placeholder='Type your message', rows='2')
                        i(id="btChooseFile" title="Chọn file để gửi" class='fa fa-paperclip')    
                        a(id="btGoToFullChat" title="Chuyển đến màn hình ChatNhanh" target="_blank")
                            i(class="fa fa-arrows-alt")
                        input(type="file" multiple id="fileAttach" name="file" style="display:none" onchange="fileAttachUpload(this);")
                        button(id='btSend') Send
    canvas(id='uploading_canvas' style='display:none')

    script.        
        var info = !{JSON.stringify(info)}                    
        var referrer = '!{referrer}'                
        setReferrer(referrer);
        if(info)
            connectSocket(info);
        
    