﻿div(class="modal hide fade" id="addPlanModal")
    div(class="modal-dialog" style="width:470px")
        div(class="modal-content")
            div(class="modal-header")
                a(class="modal-close btCloseModal")
                    span(class="fa fa-power-off")
                h4(class="modal-title") Đặt lịch
            div(class="modal-body" style="min-height:470px")
                div(class="clearfix").m-form.m--margin-top-20
                    div.form-group.m-form__group
                        label Tiêu đề
                        input(type="text" id="tbAPTitle" placeholder="Nhập tên lịch hẹn").form-control.m-input
                        //span(class="slide-label")
                    div.form-group.m-form__group.form_datetime
                        label Ngày & Giờ
                        input(id="tbAPDatetime" size="16" type="text" value="" readonly placeholder="Chọn ngày & giờ").form-control.m-input
                        span(class="add-on")
                            i(class="icon-th")
                    div.form-group.m-form__group
                        label(style="top:0") Thời lượng
                        div.clearfix.row
                            div.col-lg-4
                                input(id="tbAPDDay" type="number" min="0" max="30" value="0" required class="text-center").form-control.m-input
                                span.m-form__help Ngày 
                            div.col-lg-4
                                input(id="tbAPDHour" type="number" value="1" min="0" max="23" required class="text-center").form-control.m-input
                                span.m-form__help Giờ 
                            div.col-lg-4
                                input(id="tbAPDMinute" type="number" value="0" min="0" max="59" required class="text-center").form-control.m-input
                                span.m-form__help Phút
                    div.form-group.m-form__group
                        label Địa điểm
                        input(id="tbAPPlace" type="text" placeholder="Nhập để tìm địa điểm").form-control.m-input
                        input(id="tbAPLat" type="hidden")
                        input(id="tbAPLng" type="hidden")
                    div.form-group.m-form__group
                        label Ghi chú
                        input(id="tbNote" type="text").form-control.m-input
                    div(style="margin-top:10px")
                        //div(class="checkbox checkbox-success")
                            input(type="checkbox" id="ckAddToGCalendar")
                            label(for="ckAddToGCalendar") Thêm vào Google Calendar
                        small(id="notSigninGCal" class="text-muted") Nếu bạn muốn đồng bộ lịch hẹn vào Google Calendar thì nhấn
                            a(class="btn btn-xs btn-success" href="javascript:;" onclick="handleAuthClick()" style="margin:0 5px") Liên kết 
                            span để cho phép ứng dụng tạo lịch hẹn trên Google Calendar.
            div(class="modal-footer clearfix")
                a(class="btn btn-primary btn-radius right" id="btSendPlan" onclick="sendPlan(this)"  href="javascript:;") Gửi
                a(class="btn btn-secondary btn-radius right mr10 btCloseModal" id="btCloseSendPlan" href="javascript:;" ) Đóng
