﻿div(class="modal hide fade" id="planDetailModal")
    div(class="modal-dialog" style="width:470px")
        div(class="modal-content")
            div(class="modal-header")
                a(class="modal-close btCloseModal")
                    span(class="fa fa-power-off")
                h4(class="modal-title") Đặt lịch
            div(class="modal-body" style="min-height:470px;max-height:600px;overflow:auto")
                div(class="clearfix")
                    div(class="pull-left" style="margin-right:15px")
                        img(id="imgPDAvatar" class="circle avatar-chat" width="50")
                    div(id="divPDUserName" class="pull-left" style="font-weight:bold;font-size:15px;line-height:35px")
                    div(class="pull-right")
                        span(id="divPDStatus" style="padding:4px 8px;border-radius:5px")
                div(class="clearfix" style="margin-top:10px")
                    div(id="divPDTitle" class="large-font" style="font-size:26px")
                    div(id="divPDTimeStamp" class="text-muted")
                div(id="divPDLocationWrap" class="clearfix"  style="margin-top:5px")
                    div(class="pull-left" style="margin-right:10px")
                        img(src="/images/location_icon.jpg" width="40")
                    div(class="pull-left text-primary" style="width:388px")
                        a(id="divPDAddress" target="_blank")
                div(id="divPDNote" class="clearfix text-muted" style="font-style:italic;margin-top:5px")
                hr
                div(id="divCommentPopup" class="clearfix")
                    a(class="btn btn-round btn-sm btn-white")
                        span(class="fa fa-comment" style="margin-right:5px") 
                        span(id="divPDCommentCount")
                    a(class="pull-right" style="margin-top:8px")
                        span(class="fa fa-chevron-right" style="font-size: large;color: gainsboro;")
                hr                
                div(class="large-font text-muted") Phản hồi
                div(style="margin-top:10px;font-size:16px" class="bold") Phản hồi của bạn
                div(class="clearfix" style="margin-top:5px")
                    a(id="btPDSelectYes" data-status="yes" class="btPDSelect btn btn-sm btn-outline-success active" style="width:140px;padding: 1px;margin-right:8px;font-size:11px") Yes
                    a(id="btPDSelectNo" data-status="no" class="btPDSelect btn btn-sm btn-outline-danger" style="width:140px;padding: 1px;margin-right:8px;font-size:11px") No
                    a(id="btPDSelectMaybe" data-status="maybe" class="btPDSelect btn btn-sm btn-outline-warning" style="width:140px;padding: 1px;font-size:11px") Maybe
                div(id="divNotSigninGCal" class="clearfix" style="margin-top:10px")
                    small(class="text-muted") Nếu bạn muốn đồng bộ lịch hẹn vào Google Calendar thì nhấn
                            a(class="btn btn-xs btn-success" onclick="handleAuthClick()" style="margin:0 5px") Liên kết 
                            span để cho phép ứng dụng tạo lịch hẹn trên Google Calendar.
                hr
                div(id="divInsightWrap" class="clearfix")
                    div(id="divPDResponseTitle" class="pull-left bold" style="font-size:16px;color:#444;line-height:30px") 
                        span(id="divPDResponseCount" style="margin-right:5px") 
                        span người đã phản hồi
                    a(class="pull-right" style="margin-top:8px")
                        span(class="fa fa-chevron-right" style="font-size: large;color: gainsboro;")
                hr
                div(id="divPDAllResponses")
                    div(id="divYesWrap" class="responses" style="margin-top:0")
                        div(class="clearfix")
                            div(class="pull-left response-result") 1
                            div(class="pull-left") Yes
                        div(class="progress")
                            div(class="progress-bar bg-success" style="width:33.33%")
                    div(id="divNoWrap" class="responses")
                        div(class="clearfix")
                            div(class="pull-left response-result") 1
                            div(class="pull-left") No
                        div(class="progress")
                            div(class="progress-bar bg-danger" style="width:33.33%")
                    div(id="divMaybeWrap" class="responses")
                        div(class="clearfix")
                            div(class="pull-left response-result") 1
                            div(class="pull-left") Maybe
                        div(class="progress")
                            div(class="progress-bar bg-warning" style="width:33.33%")




