﻿div(class="modal hide fade" id="planCommentModel")
    div(class="modal-dialog" style="width:470px")
        div(class="modal-content")
            div(class="modal-header")
                a(class="modal-close btCloseModal")
                    span(class="fa fa-power-off")
                h4(class="modal-title") Bình luận
            div(class="modal-body" style="min-height:470px")
                div(class="clearfix")
                    div(id="divCommentList" style="height:420px;overflow:auto")
                    div(class="comment-input" style="width:100%;border-top:1px solid #EEE;padding-top:10px;")
                        input(id="btCommentText" type="text" style="width:390px;border:0;font-size:15px;padding:5px 10px")
                        a(id="btSendComment" class="btn btn-transparent")
                            img(src="/images/send.png" width="20")