﻿div(class="modal hide fade" id="responseResultModal")
    div(class="modal-dialog" style="width:470px")
        div(class="modal-content")
            div(class="modal-header")
                a(class="modal-close btCloseModal")
                    span(class="fa fa-power-off")
                h4(class="modal-title") Phản hồi
            div(class="modal-body" style="min-height:470px")
                div(class="clearfix")
                    div(id="divResponseList" style="height:470px;overflow:auto")