﻿div(class="modal hide fade" id="updateGroupModal")
    div(class="modal-dialog" style="width:470px")
        div(class="modal-content")
            div(class="modal-header")
                a(class="modal-close btCloseModal")
                    span(class="fa fa-power-off")
                h4(class="modal-title") Thông tin Group 
            div(class="modal-body" style="min-height:470px")
                div(class="input-group")
                    label Tên Group
                    input(type="text" id='tbUpdateGroupName')
                    span(class="slide-label")
                div(class="input-group")
                    label Mô tả (tuỳ chọn)
                    input(type="text" id='tbUpdateGroupDescription')
                    span(class="slide-label")
                div(class="")
                    p(class="radio radio-success")
                        input(type="radio" id="ckUpdateGroupPublicGroup" name="group-type" checked)
                        label(for="ckUpdateGroupPublicGroup") Public Group
                            br 
                            small Mọi người đều có thể tìm và tham gia
                    p(class="radio radio-success")
                        input(type="radio" id="ckUpdateGroupPrivateGroup" name="group-type")
                        label(for="ckUpdateGroupPrivateGroup") Private Group
                            br 
                            small Chỉ có người có link mời mới tham gia được
                div(id="updateGroupPublicLinkWrapper" class="input-group")
                    label Link
                    input(type="text" id="tbUpdateGroupPublicLink")
                    span(class="slide-label")
                div(id="updateGroupPrivateLinkWrapper" class="hide")
                    label Invite Link
                    div                         
                        a(class="link" id="updateGroupPrivateJoinLink" href="" target="_blank") 
                        br
                        a(class="" id="btRevokeGroupChannelLink" href="javascript:;") 
                            span(class="fa fa-unlink") 
                            span Revoke invite link
                div(class="mt20")
                    label Ai được phép thêm thành viên?
                    p(class="radio radio-success")
                        input(type="radio" id="ckUpdateGroupOnlyAdminAddUser" name="adduser-type" )
                        label(for="ckUpdateGroupOnlyAdminAddUser") Chỉ admin
                            
                    p(class="radio radio-success")
                        input(type="radio" id="ckUpdateGroupAllUserAddUser" name="adduser-type" checked)
                        label(for="ckUpdateGroupAllUserAddUser") Tất cả member                            
                div(class="button-bar")
                    a(id="btCancelUpdateGroup" class="btn btn-radius mr10") Đóng
                    a(id="btUpdateGroup" class="btn btn-primary btn-radius") Lưu